# 과제 2
    데이터 : "7.세종시_아파트(전월세)_실거래가.csv"
    1) 세종시 데이터에서 컬럼 확인 후, unnamed 컬럼 제거
    2) 전월세구분 컬럼에서 unique값 확인  
    3) index= 100~200, column = 전월세구분, 전용면적(㎡),보증금(만원)으로 이루어진 데이터프레임 추출 
    4) 0~200 index를 가진 행 삭제 
    5) 건축년도 컬럼 중복 제거 결과 출력

1) 세종시 데이터에서 컬럼 확인 후, unnamed 컬럼 제거

In [2]:
import pandas as pd
df = pd.read_csv('../data/7.세종시_아파트(전월세)_실거래가.csv')
df.head()

,Unnamed: 0,계약년월,계약일,시군구,본번,부번,단지명,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,건축년도
0,0,201701,13,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,10000,0,13,2015
1,1,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,18000,0,19,2015
2,2,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,59.8338,17000,0,10,2015
3,3,201701,15,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,17000,0,2,2015
4,4,201702,4,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),월세,84.9895,10000,30,13,2015

In [3]:
df.columns

Index(['Unnamed: 0', '계약년월', '계약일', '시군구', '본번', '부번', '단지명', '전월세구분',
       '전용면적(㎡)', '보증금(만원)', '월세(만원)', '층', '건축년도'],
      dtype='object')

In [4]:
del df['Unnamed: 0']

In [5]:
df.head()

,계약년월,계약일,시군구,본번,부번,단지명,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,건축년도
0,201701,13,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,10000,0,13,2015
1,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,18000,0,19,2015
2,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,59.8338,17000,0,10,2015
3,201701,15,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,17000,0,2,2015
4,201702,4,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),월세,84.9895,10000,30,13,2015

2) 전월세구분 컬럼에서 unique값 확인

In [6]:
df['전월세구분'].unique()

array(['전세', '월세'], dtype=object)

In [ ]:
df[['전월세구분']].drop_duplicates()

3) index= 100~200, column = 전월세구분, 전용면적(㎡),보증금(만원)으로 이루어진 데이터프레임 추출

In [10]:
df.loc[100:200, ['전월세구분','전용면적(㎡)', '보증금(만원)']]

    전월세구분  전용면적(㎡)  보증금(만원)
100    전세  73.7130    13000
101    월세  73.7130     1200
102    전세  84.9837    15000
103    전세  73.7130    11000
104    전세  73.7130    10000
..    ...      ...      ...
196    전세  59.9917     8000
197    전세  59.9917    11000
198    월세  84.9894     1000
199    전세  84.9894    15000
200    전세  59.9917    12000

[101 rows x 3 columns]

4) 0~200 index를 가진 행 삭제

In [17]:
# drop_idx = list(range(0, 201))
drop_idx = range(0, 201)
drop_idx

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200]

In [18]:
df.drop(drop_idx)

,계약년월,계약일,시군구,본번,부번,단지명,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,건축년도
201,201707,29,세종특별자치시 고운동,1393,0,가락마을15단지(중흥파크뷰),월세,59.9917,1000,40,3,2015
202,201708,4,세종특별자치시 고운동,1393,0,가락마을15단지(중흥파크뷰),전세,73.9816,12000,0,16,2015
203,201708,10,세종특별자치시 고운동,1393,0,가락마을15단지(중흥파크뷰),전세,73.9816,13000,0,9,2015
204,201708,12,세종특별자치시 고운동,1393,0,가락마을15단지(중흥파크뷰),전세,73.9816,13000,0,9,2015
205,201708,14,세종특별자치시 고운동,1393,0,가락마을15단지(중흥파크뷰),전세,84.9894,15000,0,14,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
38890,202011,21,세종특별자치시 해밀동,6402,1,해밀마을 2단지,월세,102.8300,10000,100,5,2020
38891,202012,8,세종특별자치시 해밀동,6402,1,해밀마을 2단지,월세,102.5300,10000,95,14,2020
38892,202012,11,세종특별자치시 해밀동,6402,1,해밀마을 2단지,전세,84.9500,30000,0,18,2020
38893,202012,12,세종특별자치시 해밀동,6402,1,해밀마을 2단지,전세,84.9500,34000,0,18,2020
38894,202012,13,세종특별자치시 해밀동,6402,1,해밀마을 2단지,월세,84.9500,8000,85,16,2020

In [19]:
df

,계약년월,계약일,시군구,본번,부번,단지명,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,건축년도
0,201701,13,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,10000,0,13,2015
1,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,18000,0,19,2015
2,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,59.8338,17000,0,10,2015
3,201701,15,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,17000,0,2,2015
4,201702,4,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),월세,84.9895,10000,30,13,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
38890,202011,21,세종특별자치시 해밀동,6402,1,해밀마을 2단지,월세,102.8300,10000,100,5,2020
38891,202012,8,세종특별자치시 해밀동,6402,1,해밀마을 2단지,월세,102.5300,10000,95,14,2020
38892,202012,11,세종특별자치시 해밀동,6402,1,해밀마을 2단지,전세,84.9500,30000,0,18,2020
38893,202012,12,세종특별자치시 해밀동,6402,1,해밀마을 2단지,전세,84.9500,34000,0,18,2020
38894,202012,13,세종특별자치시 해밀동,6402,1,해밀마을 2단지,월세,84.9500,8000,85,16,2020

5) 건축년도 컬럼 중복 제거 결과 출력

In [30]:
df[['건축년도']].drop_duplicates().sort_values(ascending = False).values

array([2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2008,
       2007, 2006, 2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996, 1994,
       1992, 1991, 1989, 1988, 1980], dtype=int64)