# 과제 3-1 Groupby & crosstab

## 데이터 : "7.세종시_아파트(전월세)_실거래가.csv"
## 전세의 보증금 평균 값을 구하세요 groupby 사용

In [1]:
import pandas as pd
df = pd.read_csv("data/7.세종시_아파트(전월세)_실거래가.csv")
df.head()

,Unnamed: 0,계약년월,계약일,시군구,본번,부번,단지명,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,건축년도
0,0,201701,13,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,10000,0,13,2015
1,1,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,18000,0,19,2015
2,2,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,59.8338,17000,0,10,2015
3,3,201701,15,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,17000,0,2,2015
4,4,201702,4,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),월세,84.9895,10000,30,13,2015

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38895 entries, 0 to 38894
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  38895 non-null  int64
 1   계약년월        38895 non-null  int64
 2   계약일         38895 non-null  int64
 3   시군구         38895 non-null  object
 4   본번          38895 non-null  object
 5   부번          38895 non-null  int64
 6   단지명         38895 non-null  object
 7   전월세구분       38895 non-null  object
 8   전용면적(㎡)     38895 non-null  float64
 9   보증금(만원)     38895 non-null  int64
 10  월세(만원)      38895 non-null  int64
 11  층           38895 non-null  int64
 12  건축년도        38895 non-null  int64
 13  계약년도        38895 non-null  int64
dtypes: float64(1), int64(9), object(4)
memory usage: 4.2+ MB

In [51]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [47]:
df.groupby('전월세구분').mean()['보증금(만원)']

전월세구분
월세     3514.429264
전세    17329.536254
Name: 보증금(만원), dtype: float64

In [49]:
print(df.groupby('전월세구분').mean()['보증금(만원)'][1])

17329.536253944683

## 세종시 월세 평균 가격을 구하세요

In [2]:
df.columns

Index(['Unnamed: 0', '계약년월', '계약일', '시군구', '본번', '부번', '단지명', '전월세구분',
       '전용면적(㎡)', '보증금(만원)', '월세(만원)', '층', '건축년도'],
      dtype='object')

In [54]:
print(df.loc[df['전월세구분'] == '월세', '월세(만원)'].mean())

42.001254180602004

In [57]:
# df.groupby('전월세구분').mean()['월세(만원)']

## 계약년도별, 시군구별 평균 보증금 가격를 구하세요

In [6]:
df_mean = df.groupby(['계약년월', '시군구'])['보증금(만원)'].mean()
pd.DataFrame(df_mean)

                              보증금(만원)
계약년월   시군구
201701 세종특별자치시 고운동       19863.056738
       세종특별자치시 금남면 용포리    5757.142857
       세종특별자치시 나성동        4250.000000
       세종특별자치시 도담동       14773.290698
       세종특별자치시 보람동       18178.260870
...                               ...
202012 세종특별자치시 조치원읍 죽림리  20095.652174
       세종특별자치시 조치원읍 침산리  13800.000000
       세종특별자치시 종촌동       11374.894737
       세종특별자치시 한솔동       24281.255814
       세종특별자치시 해밀동       21800.000000

[1188 rows x 1 columns]

In [9]:
def get_year(df):
    return df // 100

df['계약년도'] = df['계약년월'].apply(get_year)
df.head()

,Unnamed: 0,계약년월,계약일,시군구,본번,부번,단지명,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,건축년도,계약년도
0,0,201701,13,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,10000,0,13,2015,2017
1,1,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,18000,0,19,2015,2017
2,2,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,59.8338,17000,0,10,2015,2017
3,3,201701,15,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,17000,0,2,2015,2017
4,4,201702,4,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),월세,84.9895,10000,30,13,2015,2017

In [55]:
# df["계약년월"]=df["계약년월"].astype(str)
# df["계약년"]=df["계약년월"].str[:4]
# df

In [11]:
pd.DataFrame(df.groupby(['계약년도', '시군구'])['보증금(만원)'].mean())

                            보증금(만원)
계약년도 시군구
2017 세종특별자치시 고운동       15983.027397
     세종특별자치시 금남면 용포리    6287.640449
     세종특별자치시 나성동        3277.551020
     세종특별자치시 다정동        6220.833333
     세종특별자치시 대평동        9650.000000
...                             ...
2020 세종특별자치시 조치원읍 죽림리  13480.555556
     세종특별자치시 조치원읍 침산리   9636.144578
     세종특별자치시 종촌동       14617.469504
     세종특별자치시 한솔동       16266.289655
     세종특별자치시 해밀동       23691.919192

[130 rows x 1 columns]

## 계약년도별 전세 건수를 구하세요

- 방법1

In [16]:
pd.crosstab(df['계약년도'], df['전월세구분'], dropna=True)

전월세구분    월세    전세
계약년도
2017   2530  6344
2018   2486  5887
2019   3379  7286
2020   3565  7418

In [19]:
pd.crosstab(df['계약년도'], df['전월세구분'], dropna=True)['전세'].values

array([6344, 5887, 7286, 7418], dtype=int64)

- 방법2

In [32]:
df.groupby('계약년도')['전월세구분'].value_counts()

계약년도  전월세구분
2017  전세       6344
      월세       2530
2018  전세       5887
      월세       2486
2019  전세       7286
      월세       3379
2020  전세       7418
      월세       3565
Name: 전월세구분, dtype: int64

In [37]:
df.groupby('계약년도')['전월세구분'].value_counts().values[0::2]

array([6344, 5887, 7286, 7418], dtype=int64)

## 인덱스에 시군구, 컬럼에는 전월세구분이 있는 도수분포표를 만드세요

In [38]:
pd.crosstab(df['시군구'], df['전월세구분'], dropna=True)

전월세구분               월세    전세
시군구
세종특별자치시 고운동       1176  4325
세종특별자치시 금남면 용포리    105   310
세종특별자치시 나성동        890   636
세종특별자치시 다정동        765  2030
세종특별자치시 대평동        451   434
세종특별자치시 도담동       1288  3467
세종특별자치시 반곡동         45   160
세종특별자치시 보람동        803  1937
세종특별자치시 부강면 부강리     18    39
세종특별자치시 새롬동       1185  2299
세종특별자치시 소담동        222   845
세종특별자치시 소정면 운당리      1     5
세종특별자치시 아름동        743  2692
세종특별자치시 어진동        364   683
세종특별자치시 연동면 명학리     38    90
세종특별자치시 연서면 봉암리     28    47
세종특별자치시 장군면 금암리      0    10
세종특별자치시 전동면 노장리      3     1
세종특별자치시 전의면 동교리     21    23
세종특별자치시 전의면 유천리     15    22
세종특별자치시 조치원읍 교리     16    59
세종특별자치시 조치원읍 남리     13    46
세종특별자치시 조치원읍 번암리   285   147
세종특별자치시 조치원읍 상리     22    28
세종특별자치시 조치원읍 서창리    60     5
세종특별자치시 조치원읍 신안리   145   393
세종특별자치시 조치원읍 신흥리   132   358
세종특별자치시 조치원읍 원리      9     3
세종특별자치시 조치원읍 정리      4     3
세종특별자치시 조치원읍 죽림리   210   652
세종특별자치시 조치원읍 침산리    56   172
세종특별자치시 종촌동       2090  3489
세종특별자치시 한솔동        730  1453
세종특별자치시 해밀동         27    72