# 날짜 데이터 전처리 과제 
- 데이터 : "6.세종시_오피스텔(매매)_실거래가.csv"

In [1]:
import pandas as pd 
df_sejong = pd.read_csv("data/6.세종시_오피스텔(매매)_실거래가.csv",encoding='utf8')

In [6]:
from datetime import datetime
datetime.strptime('20220111', '%Y%m%d')

datetime.datetime(2022, 1, 11, 0, 0)

In [2]:
df_sejong.head()

,계약년월,계약일,시군구,본번,부번,단지명,전용면적(㎡),거래금액(만원),층,건축년도,해제사유발생일
0,201701,4,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,000",14,2014,NaN
1,201701,6,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,500",11,2014,NaN
2,201702,5,세종특별자치시 나성동,713,0,세진이너스빌,34.15,"13,000",8,2013,NaN
3,201702,7,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,500",4,2014,NaN
4,201702,7,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,000",4,2014,NaN

In [43]:
### 아래와 같이 계약년월을 datetime으로 변경하세요.

In [44]:
df_sejong.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345 entries, 0 to 344
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   계약년월      345 non-null    int64
 1   계약일       345 non-null    int64
 2   시군구       345 non-null    object
 3   본번        345 non-null    int64
 4   부번        345 non-null    int64
 5   단지명       345 non-null    object
 6   전용면적(㎡)   345 non-null    float64
 7   거래금액(만원)  345 non-null    object
 8   층         345 non-null    int64
 9   건축년도      345 non-null    int64
 10  해제사유발생일   9 non-null      float64
dtypes: float64(2), int64(6), object(3)
memory usage: 29.8+ KB

In [7]:
df_sejong['계약년월'] = df_sejong['계약년월'].astype(str)
df_sejong['계약일'] = df_sejong['계약일'].astype(str)
df_sejong.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345 entries, 0 to 344
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   계약년월      345 non-null    object
 1   계약일       345 non-null    object
 2   시군구       345 non-null    object
 3   본번        345 non-null    int64
 4   부번        345 non-null    int64
 5   단지명       345 non-null    object
 6   전용면적(㎡)   345 non-null    float64
 7   거래금액(만원)  345 non-null    object
 8   층         345 non-null    int64
 9   건축년도      345 non-null    int64
 10  해제사유발생일   9 non-null      float64
dtypes: float64(2), int64(4), object(5)
memory usage: 29.8+ KB

In [8]:
df_sejong['계약년월'] = df_sejong['계약년월'] + df_sejong['계약일']
df_sejong.head()

,계약년월,계약일,시군구,본번,부번,단지명,전용면적(㎡),거래금액(만원),층,건축년도,해제사유발생일
0,2017014,4,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,000",14,2014,NaN
1,2017016,6,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,500",11,2014,NaN
2,2017025,5,세종특별자치시 나성동,713,0,세진이너스빌,34.15,"13,000",8,2013,NaN
3,2017027,7,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,500",4,2014,NaN
4,2017027,7,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,000",4,2014,NaN

In [10]:
df_sejong = df_sejong.drop(['계약일'], axis=1)
df_sejong.head()

      계약년월          시군구   본번  부번     단지명  전용면적(㎡) 거래금액(만원)   층  건축년도  해제사유발생일
0  2017014  세종특별자치시 어진동    0   0  푸르지오시티    23.74    9,000  14  2014      NaN
1  2017016  세종특별자치시 어진동    0   0  푸르지오시티    23.74    9,500  11  2014      NaN
2  2017025  세종특별자치시 나성동  713   0  세진이너스빌    34.15   13,000   8  2013      NaN
3  2017027  세종특별자치시 어진동    0   0  푸르지오시티    23.74    9,500   4  2014      NaN
4  2017027  세종특별자치시 어진동    0   0  푸르지오시티    23.74    9,000   4  2014      NaN

In [11]:
df_sejong.rename(columns={'계약년월':'계약날짜'}, inplace=True)
df_sejong.head()

      계약날짜          시군구   본번  부번     단지명  전용면적(㎡) 거래금액(만원)   층  건축년도  해제사유발생일
0  2017014  세종특별자치시 어진동    0   0  푸르지오시티    23.74    9,000  14  2014      NaN
1  2017016  세종특별자치시 어진동    0   0  푸르지오시티    23.74    9,500  11  2014      NaN
2  2017025  세종특별자치시 나성동  713   0  세진이너스빌    34.15   13,000   8  2013      NaN
3  2017027  세종특별자치시 어진동    0   0  푸르지오시티    23.74    9,500   4  2014      NaN
4  2017027  세종특별자치시 어진동    0   0  푸르지오시티    23.74    9,000   4  2014      NaN

In [17]:
df_sejong['계약날짜'] = pd.to_datetime(df_sejong['계약날짜'], format='%Y%m%d')
df_sejong.head()

,계약날짜,시군구,본번,부번,단지명,전용면적(㎡),거래금액(만원),층,건축년도,해제사유발생일
0,2017-01-04,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,000",14,2014,NaN
1,2017-01-06,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,500",11,2014,NaN
2,2017-02-05,세종특별자치시 나성동,713,0,세진이너스빌,34.15,"13,000",8,2013,NaN
3,2017-02-07,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,500",4,2014,NaN
4,2017-02-07,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,000",4,2014,NaN

In [13]:
df_sejong.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345 entries, 0 to 344
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   계약날짜      345 non-null    datetime64[ns]
 1   시군구       345 non-null    object
 2   본번        345 non-null    int64
 3   부번        345 non-null    int64
 4   단지명       345 non-null    object
 5   전용면적(㎡)   345 non-null    float64
 6   거래금액(만원)  345 non-null    object
 7   층         345 non-null    int64
 8   건축년도      345 non-null    int64
 9   해제사유발생일   9 non-null      float64
dtypes: datetime64[ns](1), float64(2), int64(4), object(3)
memory usage: 27.1+ KB

In [26]:
## 계약년월을 아래와 같이 문자열로 다시 변경하세요.

,계약년월,계약일,시군구,본번,부번,단지명,전용면적(㎡),거래금액(만원),층,건축년도,해제사유발생일
0,2017_01_04,4,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,000",14,2014,NaN
1,2017_01_06,6,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,500",11,2014,NaN
2,2017_02_05,5,세종특별자치시 나성동,713,0,세진이너스빌,34.15,"13,000",8,2013,NaN
3,2017_02_07,7,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,500",4,2014,NaN
4,2017_02_07,7,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,000",4,2014,NaN
...,...,...,...,...,...,...,...,...,...,...,...
340,2020_12_20,20,세종특별자치시 나성동,756,0,리치먼드시티세종,26.18,"16,410",6,2020,NaN
341,2020_12_21,21,세종특별자치시 어진동,0,0,푸르지오시티,24.22,"8,600",18,2014,NaN
342,2020_12_23,23,세종특별자치시 나성동,756,0,리치먼드시티세종,26.18,"15,340",7,2020,20210118.0
343,2020_12_23,23,세종특별자치시 어진동,0,0,2차푸르지오시티,30.48,"11,500",9,2014,NaN
344,2020_12_24,24,세종특별자치시 어진동,0,0,푸르지오시티,44.84,"15,600",18,2014,NaN

In [18]:
df_sejong['계약날짜'] = df_sejong['계약날짜'].dt.strftime('%Y_%m_%d')
df_sejong.head()

,계약날짜,시군구,본번,부번,단지명,전용면적(㎡),거래금액(만원),층,건축년도,해제사유발생일
0,2017_01_04,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,000",14,2014,NaN
1,2017_01_06,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,500",11,2014,NaN
2,2017_02_05,세종특별자치시 나성동,713,0,세진이너스빌,34.15,"13,000",8,2013,NaN
3,2017_02_07,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,500",4,2014,NaN
4,2017_02_07,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,000",4,2014,NaN

In [19]:
df_sejong.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345 entries, 0 to 344
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   계약날짜      345 non-null    object
 1   시군구       345 non-null    object
 2   본번        345 non-null    int64
 3   부번        345 non-null    int64
 4   단지명       345 non-null    object
 5   전용면적(㎡)   345 non-null    float64
 6   거래금액(만원)  345 non-null    object
 7   층         345 non-null    int64
 8   건축년도      345 non-null    int64
 9   해제사유발생일   9 non-null      float64
dtypes: float64(2), int64(4), object(4)
memory usage: 27.1+ KB

In [ ]:
## 6월 데이터만 추출해보세요

In [23]:
df_sejong['계약날짜'] = pd.to_datetime(df_sejong['계약날짜'], format='%Y_%m_%d')
df_sejong.head()

,계약날짜,시군구,본번,부번,단지명,전용면적(㎡),거래금액(만원),층,건축년도,해제사유발생일
0,2017-01-04,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,000",14,2014,NaN
1,2017-01-06,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,500",11,2014,NaN
2,2017-02-05,세종특별자치시 나성동,713,0,세진이너스빌,34.15,"13,000",8,2013,NaN
3,2017-02-07,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,500",4,2014,NaN
4,2017-02-07,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,000",4,2014,NaN

In [24]:
df_sejong.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345 entries, 0 to 344
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   계약날짜      345 non-null    datetime64[ns]
 1   시군구       345 non-null    object
 2   본번        345 non-null    int64
 3   부번        345 non-null    int64
 4   단지명       345 non-null    object
 5   전용면적(㎡)   345 non-null    float64
 6   거래금액(만원)  345 non-null    object
 7   층         345 non-null    int64
 8   건축년도      345 non-null    int64
 9   해제사유발생일   9 non-null      float64
dtypes: datetime64[ns](1), float64(2), int64(4), object(3)
memory usage: 27.1+ KB

In [26]:
df_sejong[df_sejong['계약날짜'].dt.month == 6]

,계약날짜,시군구,본번,부번,단지명,전용면적(㎡),거래금액(만원),층,건축년도,해제사유발생일
21,2017-06-06,세종특별자치시 어진동,0,0,2차푸르지오시티,23.24,"9,300",10,2014,NaN
22,2017-06-08,세종특별자치시 어진동,0,0,푸르지오시티,24.22,"9,900",19,2014,NaN
23,2017-06-19,세종특별자치시 어진동,0,0,2차푸르지오시티,30.48,"14,800",15,2014,NaN
24,2017-06-21,세종특별자치시 어진동,0,0,호수의아침,24.01,"11,700",10,2014,NaN
64,2018-06-20,세종특별자치시 도담동,246,5,세종한신휴시티,32.19,"13,000",6,2014,NaN
98,2019-06-04,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"8,500",12,2014,NaN
99,2019-06-04,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"8,500",18,2014,NaN
100,2019-06-06,세종특별자치시 나성동,0,0,더리치세종의아침,25.39,"11,920",5,2015,NaN
101,2019-06-08,세종특별자치시 어진동,0,0,푸르지오시티,22.42,"8,500",18,2014,NaN
173,2020-06-01,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"7,800",10,2014,NaN
174,2020-06-03,세종특별자치시 도담동,246,5,세종한신휴시티,24.03,"8,400",8,2014,NaN
175,2020-06-08,세종특별자치시 어진동,0,0,2차푸르지오시티,21.92,"8,000",12,2014,NaN
176,2020-06-08,세종특별자치시 어진동,0,0,푸르지오시티,24.22,"7,500",14,2014,NaN
177,2020-06-08,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"8,050",19,2014,NaN
178,2020-06-11,세종특별자치시 어진동,0,0,푸르지오시티,22.42,"8,000",20,2014,NaN
179,2020-06-15,세종특별자치시 어진동,0,0,푸르지오시티,22.42,"6,900",12,2014,NaN
180,2020-06-16,세종특별자치시 어진동,0,0,2차푸르지오시티,21.92,"6,850",15,2014,NaN
181,2020-06-18,세종특별자치시 어진동,0,0,2차푸르지오시티,23.24,"7,800",7,2014,NaN
182,2020-06-18,세종특별자치시 어진동,0,0,푸르지오시티,44.84,"14,000",20,2014,NaN
183,2020-06-18,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"7,900",12,2014,NaN
184,2020-06-20,세종특별자치시 어진동,0,0,푸르지오시티,29.06,"11,750",18,2014,NaN
185,2020-06-20,세종특별자치시 어진동,0,0,호수의아침,28.65,"10,600",16,2014,NaN
186,2020-06-23,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"7,800",9,2014,NaN
187,2020-06-24,세종특별자치시 어진동,0,0,푸르지오시티,22.42,"8,500",4,2014,NaN
188,2020-06-24,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"8,500",18,2014,NaN
189,2020-06-27,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"7,500",12,2014,NaN
190,2020-06-29,세종특별자치시 어진동,0,0,푸르지오시티,22.42,"8,000",12,2014,NaN
191,2020-06-29,세종특별자치시 어진동,0,0,호수의아침,24.01,"9,500",14,2014,20200720.0
192,2020-06-29,세종특별자치시 어진동,0,0,호수의아침,24.01,"9,500",14,2014,NaN

In [28]:
## 날짜순으로 데이터를 정렬해보세요 
df_sejong.sort_values(by='계약날짜', ascending=False)

,계약날짜,시군구,본번,부번,단지명,전용면적(㎡),거래금액(만원),층,건축년도,해제사유발생일
344,2020-12-24,세종특별자치시 어진동,0,0,푸르지오시티,44.84,"15,600",18,2014,NaN
343,2020-12-23,세종특별자치시 어진동,0,0,2차푸르지오시티,30.48,"11,500",9,2014,NaN
342,2020-12-23,세종특별자치시 나성동,756,0,리치먼드시티세종,26.18,"15,340",7,2020,20210118.0
341,2020-12-21,세종특별자치시 어진동,0,0,푸르지오시티,24.22,"8,600",18,2014,NaN
340,2020-12-20,세종특별자치시 나성동,756,0,리치먼드시티세종,26.18,"16,410",6,2020,NaN
...,...,...,...,...,...,...,...,...,...,...
4,2017-02-07,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,000",4,2014,NaN
3,2017-02-07,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,500",4,2014,NaN
2,2017-02-05,세종특별자치시 나성동,713,0,세진이너스빌,34.15,"13,000",8,2013,NaN
1,2017-01-06,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,500",11,2014,NaN
0,2017-01-04,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,000",14,2014,NaN