## 2.1 그룹별 집계/요약하기

문제) boston 데이터 세트의 TAX 칼럼이 TAX 칼럼의 중위값보다 큰 데이터를 대상으로, CHAS 칼럼과 RAD 칼럼 순으로 그룹을 지은 후 각 그룹의 데이터 개수를 구하시오. 단 CHAS, RAD 칼럼별 데이터 개수는 COUNT라는 칼럼으로 출력합니다

In [1]:
import pandas as pd
df = pd.read_csv('boston.csv')
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [2]:
df_new = df[df['TAX'] > df['TAX'].median()]
df_new.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
54,0.01360,75.0,4.00,0,0.410,5.888,47.6,7.3197,3,469,21.1,396.90,14.80,18.9
65,0.03584,80.0,3.37,0,0.398,6.290,17.8,6.6115,4,337,16.1,396.90,4.67,23.5
66,0.04379,80.0,3.37,0,0.398,5.787,31.1,6.6115,4,337,16.1,396.90,10.24,19.4
67,0.05789,12.5,6.07,0,0.409,5.878,21.4,6.4980,4,345,18.9,396.21,8.10,22.0
68,0.13554,12.5,6.07,0,0.409,5.594,36.8,6.4980,4,345,18.9,396.90,13.09,17.4

In [3]:
df_new = df_new.groupby(['CHAS', 'RAD']).count()
df_new

          CRIM   ZN  INDUS  NOX   RM  AGE  DIS  TAX  PTRATIO    B  LSTAT  MEDV
CHAS RAD
0    1       3    3      3    3    3    3    3    3        3    3      3     3
     2       2    2      2    2    2    2    2    2        2    2      2     2
     3       5    5      5    5    5    5    5    5        5    5      5     5
     4      33   33     33   33   32   33   33   33       33   33     33    33
     5      51   51     51   51   48   51   51   51       51   51     51    51
     6      17   17     17   17   16   17   17   17       17   17     17    17
     24    124  124    124  124  122  124  124  124      124  124    124   124
1    5       7    7      7    7    7    7    7    7        7    7      7     7
     24      8    8      8    8    8    8    8    8        8    8      8     8

In [4]:
df_new['COUNT'] = df_new['CRIM']
pd.DataFrame(df_new['COUNT'])

          COUNT
CHAS RAD
0    1        3
     2        2
     3        5
     4       33
     5       51
     6       17
     24     124
1    5        7
     24       8

In [5]:
import pandas as pd
data = pd.read_csv('boston.csv')
tax_median = data['TAX'].median()

print(tax_median)

330.0

In [6]:
print(data['TAX'] > tax_median)

0      False
1      False
2      False
3      False
4      False
       ...
501    False
502    False
503    False
504    False
505    False
Name: TAX, Length: 506, dtype: bool

In [7]:
print(data[data['TAX'] > tax_median])

        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  \
54   0.01360  75.0   4.00     0  0.410  5.888  47.6  7.3197    3  469
65   0.03584  80.0   3.37     0  0.398  6.290  17.8  6.6115    4  337
66   0.04379  80.0   3.37     0  0.398  5.787  31.1  6.6115    4  337
67   0.05789  12.5   6.07     0  0.409  5.878  21.4  6.4980    4  345
68   0.13554  12.5   6.07     0  0.409  5.594  36.8  6.4980    4  345
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
496  0.28960   0.0   9.69     0  0.585  5.390  72.9  2.7986    6  391
497  0.26838   0.0   9.69     0  0.585    NaN  70.6  2.8927    6  391
498  0.23912   0.0   9.69     0  0.585  6.019  65.3  2.4091    6  391
499  0.17783   0.0   9.69     0  0.585  5.569  73.5  2.3999    6  391
500  0.22438   0.0   9.69     0  0.585  6.027  79.7  2.4982    6  391

     PTRATIO       B  LSTAT  MEDV
54      21.1  396.90  14.80  18.9
65      16.1  396.90   4.67  23.5
66      16.1  396.90  10.24  19.4
67      18.9  396.21   8.10  22.0
68      18.9  396.90  13.09  17.4
..       ...     ...    ...   ...
496     19.2  396.90  21.14  19.7
497     19.2  396.90  14.10  18.3
498     19.2  396.90  12.92  21.2
499     19.2  395.77  15.10  17.5
500     19.2  396.90  14.33  16.8

[250 rows x 14 columns]

In [8]:
print(data[data['TAX'] > tax_median][['CHAS', 'RAD']])

     CHAS  RAD
54      0    3
65      0    4
66      0    4
67      0    4
68      0    4
..    ...  ...
496     0    6
497     0    6
498     0    6
499     0    6
500     0    6

[250 rows x 2 columns]

In [9]:
data_new = data[data['TAX'] > tax_median][['CHAS', 'RAD']]
print(data_new['CHAS'].unique())

[0 1]

In [10]:
print(data_new['RAD'].unique())

[ 3  4  5  6  2  1 24]

In [11]:
data_new2 = data_new.groupby(['CHAS', 'RAD'])['RAD'].count()
print(data_new2)

CHAS  RAD
0     1        3
      2        2
      3        5
      4       33
      5       51
      6       17
      24     124
1     5        7
      24       8
Name: RAD, dtype: int64

In [12]:
print(type(data_new2))

<class 'pandas.core.series.Series'>

In [13]:
data_new3 = pd.DataFrame(data_new2)
data_new3.columns = ['COUNT']
print(data_new3)

          COUNT
CHAS RAD
0    1        3
     2        2
     3        5
     4       33
     5       51
     6       17
     24     124
1    5        7
     24       8

In [14]:
import pandas as pd
data = pd.read_csv('boston.csv')
tax_median = data['TAX'].median()
data[data['TAX'] > tax_median]
data_new = data[data['TAX'] > tax_median][['CHAS', 'RAD']]
data_new2 = data_new.groupby(['CHAS', 'RAD'])['RAD'].count()
data_new3 = pd.DataFrame(data_new2)
data_new3.columns = ['COUNT']
print(data_new3)

          COUNT
CHAS RAD
0    1        3
     2        2
     3        5
     4       33
     5       51
     6       17
     24     124
1    5        7
     24       8

## 2.2 오름차순/내림차순 정렬하기

문제) boston 데이터 세트의 TAX 칼럼을 오름차순으로 정렬한 결과와 내림차순으로 정렬한 결과를 각각 구한다. 그리고 각 순번에 맞는 오름차순 값과 내림차순 값의 차이를 구하여 분산 값을 출력하시오

In [15]:
import pandas as pd
data = pd.read_csv('boston.csv')
data_asc = data['TAX'].sort_values(ascending=True)
data_asc = pd.DataFrame(data_asc)
data_asc.reset_index(drop=True, inplace=True)
data_asc.head()

   TAX
0  187
1  188
2  188
3  188
4  188

In [16]:
data_desc = data['TAX'].sort_values(ascending=False)
data_desc = pd.DataFrame(data_desc)
data_desc.reset_index(drop=True, inplace=True)
data_desc.head()

   TAX
0  711
1  711
2  711
3  711
4  711

In [17]:
diff = abs(data_asc - data_desc)
diff.head()

   TAX
0  524
1  523
2  523
3  523
4  523

In [18]:
print(diff.var())

TAX    28490.598646
dtype: float64

In [19]:
import pandas as pd
data = pd.read_csv('boston.csv')
data_asc = data['TAX'].copy()
data_desc = data['TAX'].copy()
print(data_asc.sort_values(ascending=True))

353    187
123    188
122    188
126    188
125    188
      ...
492    711
491    711
490    711
489    711
488    711
Name: TAX, Length: 506, dtype: int64

In [20]:
data_asc.sort_values(inplace=True)
print(data_asc)

353    187
123    188
122    188
126    188
125    188
      ...
492    711
491    711
490    711
489    711
488    711
Name: TAX, Length: 506, dtype: int64

In [21]:
print(data_desc.sort_values(ascending = False))

492    711
491    711
490    711
489    711
488    711
      ...
121    188
120    188
125    188
124    188
353    187
Name: TAX, Length: 506, dtype: int64

In [22]:
data_desc.sort_values(ascending = False, inplace = True)
print(data_desc)

492    711
491    711
490    711
489    711
488    711
      ...
121    188
120    188
125    188
124    188
353    187
Name: TAX, Length: 506, dtype: int64

In [23]:
data_asc.reset_index(drop=True, inplace=True)
print(data_asc)

0      187
1      188
2      188
3      188
4      188
      ...
501    711
502    711
503    711
504    711
505    711
Name: TAX, Length: 506, dtype: int64

In [24]:
data_desc.reset_index(drop=True, inplace=True)

In [25]:
data_concat = pd.concat([data_asc, data_desc], axis = 1)
print(data_concat)

     TAX  TAX
0    187  711
1    188  711
2    188  711
3    188  711
4    188  711
..   ...  ...
501  711  188
502  711  188
503  711  188
504  711  188
505  711  187

[506 rows x 2 columns]

In [26]:
print(data_concat.iloc[:,0])

0      187
1      188
2      188
3      188
4      188
      ...
501    711
502    711
503    711
504    711
505    711
Name: TAX, Length: 506, dtype: int64

In [27]:
print(data_concat.iloc[:,1])

0      711
1      711
2      711
3      711
4      711
      ...
501    188
502    188
503    188
504    188
505    187
Name: TAX, Length: 506, dtype: int64

In [28]:
data_concat['diff'] = abs(data_concat.iloc[:,0] - data_concat.iloc[:,1])
print(data_concat)

     TAX  TAX  diff
0    187  711   524
1    188  711   523
2    188  711   523
3    188  711   523
4    188  711   523
..   ...  ...   ...
501  711  188   523
502  711  188   523
503  711  188   523
504  711  188   523
505  711  187   524

[506 rows x 3 columns]

In [29]:
print(data_concat['diff'].var())

28490.5986459515

In [30]:
import pandas as pd
data = pd.read_csv('boston.csv')
data_asc = data['TAX'].copy()
data_desc = data['TAX'].copy()
data_asc.sort_values(ascending=True, inplace=True)
data_desc.sort_values(ascending=False, inplace=True)
data_asc.reset_index(drop=True, inplace=True)
data_desc.reset_index(drop=True, inplace=True)
data_concat = pd.concat([data_asc, data_desc], axis=1)
data_concat['diff'] = abs(data_concat.iloc[:,0] - data_concat.iloc[:,1])
print(data_concat['diff'].var())

28490.5986459515

## 2.3 최소최대 변환하기 - MinMaxScaler

문제) boston 데이터 세트의 MEDV 칼럼을 최소최대 척도로 변환한 후 0.5보다 큰 값을 가지는 레코드 수를 구하시오.

In [31]:
import pandas as pd
df = pd.read_csv('boston.csv')
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [32]:
col_names = df.columns
col_names

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [33]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data_minmax = scaler.fit_transform(df)
data_minmax = pd.DataFrame(data_minmax)
data_minmax.columns = col_names
data_minmax.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.000000,0.18,0.067815,0.0,0.314815,0.577505,0.641607,0.269203,0.000000,0.208015,0.287234,1.000000,0.089680,0.422222
1,0.000236,0.00,0.242302,0.0,0.172840,0.547998,0.782698,0.348962,0.043478,0.104962,0.553191,1.000000,0.204470,0.368889
2,0.000236,0.00,0.242302,0.0,0.172840,0.694386,0.599382,0.348962,0.043478,0.104962,0.553191,0.989737,0.063466,0.660000
3,0.000293,0.00,0.063050,0.0,0.150206,0.658555,0.441813,0.448545,0.086957,0.066794,0.648936,0.994276,0.033389,0.631111
4,0.000705,0.00,0.063050,0.0,0.150206,0.687105,0.528321,0.448545,0.086957,0.066794,0.648936,1.000000,0.099338,0.693333

In [34]:
data_minmax[data_minmax['MEDV'] > 0.5]['MEDV'].count()

106

In [35]:
print(data_minmax[data_minmax['MEDV'] > 0.5]['MEDV'].count())

106

책 풀이

In [36]:
import pandas as pd
data = pd.read_csv('boston.csv')

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data_minmax = scaler.fit_transform(data)
print(type(data_minmax))

<class 'numpy.ndarray'>

In [37]:
data_minmax = pd.DataFrame(data_minmax, columns = data.columns)
print(data_minmax.head(3))

       CRIM    ZN     INDUS  CHAS       NOX        RM       AGE       DIS  \
0  0.000000  0.18  0.067815   0.0  0.314815  0.577505  0.641607  0.269203
1  0.000236  0.00  0.242302   0.0  0.172840  0.547998  0.782698  0.348962
2  0.000236  0.00  0.242302   0.0  0.172840  0.694386  0.599382  0.348962

        RAD       TAX   PTRATIO         B     LSTAT      MEDV
0  0.000000  0.208015  0.287234  1.000000  0.089680  0.422222
1  0.043478  0.104962  0.553191  1.000000  0.204470  0.368889
2  0.043478  0.104962  0.553191  0.989737  0.063466  0.660000

In [38]:
print(data_minmax['MEDV'].describe())

count    506.000000
mean       0.389618
std        0.204380
min        0.000000
25%        0.267222
50%        0.360000
75%        0.444444
max        1.000000
Name: MEDV, dtype: float64

In [39]:
print(data_minmax['MEDV'] > 0.5)

0      False
1      False
2       True
3       True
4       True
       ...
501    False
502    False
503    False
504    False
505    False
Name: MEDV, Length: 506, dtype: bool

In [40]:
print(data_minmax[data_minmax['MEDV'] > 0.5])

         CRIM    ZN     INDUS  CHAS       NOX        RM       AGE       DIS  \
2    0.000236  0.00  0.242302   0.0  0.172840  0.694386  0.599382  0.348962
3    0.000293  0.00  0.063050   0.0  0.150206  0.658555  0.441813  0.448545
4    0.000705  0.00  0.063050   0.0  0.150206  0.687105  0.528321  0.448545
5    0.000264  0.00  0.063050   0.0  0.150206  0.549722  0.574665  0.448545
39   0.000240  0.75  0.091276   0.0  0.088477  0.581337  0.194645  0.388428
..        ...   ...       ...   ...       ...       ...       ...       ...
370  0.073423  0.00  0.646628   1.0  0.506173  0.662004  0.974253  0.006620
371  0.103698  0.00  0.646628   0.0  0.506173  0.508718  1.000000  0.003592
372  0.092851  0.00  0.646628   1.0  0.582305  0.443380  0.892894  0.000000
407  0.134256  0.00  0.646628   0.0  0.563786  0.392221  1.000000  0.014149
473  0.052159  0.00  0.646628   0.0  0.471193  0.655106  0.666323  0.127609

          RAD       TAX   PTRATIO         B     LSTAT      MEDV
2    0.043478  0.104962  0.553191  0.989737  0.063466  0.660000
3    0.086957  0.066794  0.648936  0.994276  0.033389  0.631111
4    0.086957  0.066794  0.648936  1.000000  0.099338  0.693333
5    0.086957  0.066794  0.648936  0.992990  0.096026  0.526667
39   0.086957  0.124046  0.606383  0.996798  0.071468  0.573333
..        ...       ...       ...       ...       ...       ...
370  1.000000  0.914122  0.808511  0.987770  0.033940  1.000000
371  1.000000  0.914122  0.808511  0.922462  0.215232  1.000000
372  1.000000  0.914122  0.808511  0.876393  0.197296  1.000000
407  1.000000  0.914122  0.808511  0.836578  0.286976  0.508889
473  1.000000  0.914122  0.808511  0.943971  0.274007  0.551111

[106 rows x 14 columns]

In [41]:
print(data_minmax[data_minmax['MEDV'] > 0.5]['MEDV'])

2      0.660000
3      0.631111
4      0.693333
5      0.526667
39     0.573333
         ...
370    1.000000
371    1.000000
372    1.000000
407    0.508889
473    0.551111
Name: MEDV, Length: 106, dtype: float64

In [42]:
print(data_minmax[data_minmax['MEDV'] > 0.5]['MEDV'].count())

106

최종 제출 코드

In [43]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
data = pd.read_csv('boston.csv')
scaler = MinMaxScaler()
data_minmax = scaler.fit_transform(data)
data_minmax = pd.DataFrame(data_minmax, columns = data.columns)
print(data_minmax[data_minmax['MEDV'] > 0.5]['MEDV'].count())

106

## 2.4 빈도값 구하기
문제) boston 데이터 세트의 AGE 칼럼을 소수점 첫 번째 자리에서 반올림하고, 가장 많은 비중을 차지하는 AGE값과 그 개수를 차례대로 출력하시오. 즉, AGE 칼럼의 최빈값과 그 개수를 출력하시오.

In [44]:
import pandas as pd
df = pd.read_csv('boston.csv')
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [45]:
print(df['AGE'])

0      65.2
1      78.9
2      61.1
3      45.8
4      54.2
       ...
501    69.1
502    76.7
503    91.0
504    89.3
505    80.8
Name: AGE, Length: 506, dtype: float64

In [46]:
print(round(df['AGE'],0))

0      65.0
1      79.0
2      61.0
3      46.0
4      54.0
       ...
501    69.0
502    77.0
503    91.0
504    89.0
505    81.0
Name: AGE, Length: 506, dtype: float64

In [47]:
print(round(df['AGE'],0).value_counts())

100.0    43
98.0     19
97.0     17
94.0     16
95.0     15
         ..
9.0       1
64.0      1
51.0      1
14.0      1
35.0      1
Name: AGE, Length: 91, dtype: int64

In [48]:
df = pd.DataFrame(round(df['AGE'],0).value_counts())
df

       AGE
100.0   43
98.0    19
97.0    17
94.0    16
95.0    15
...    ...
9.0      1
64.0     1
51.0     1
14.0     1
35.0     1

[91 rows x 1 columns]

In [49]:
print(df['AGE'].iloc[0])

43

In [50]:
print(df['AGE'].index[0])

100.0

책 정답 - 1번째 방법

In [51]:
import pandas as pd
data = pd.read_csv('boston.csv')
print(data['AGE'])

0      65.2
1      78.9
2      61.1
3      45.8
4      54.2
       ...
501    69.1
502    76.7
503    91.0
504    89.3
505    80.8
Name: AGE, Length: 506, dtype: float64

In [52]:
print(round(data['AGE'], 0))

0      65.0
1      79.0
2      61.0
3      46.0
4      54.0
       ...
501    69.0
502    77.0
503    91.0
504    89.0
505    81.0
Name: AGE, Length: 506, dtype: float64

In [53]:
data2 = round(data['AGE'], 0)
data2 = pd.DataFrame(data2)
data2

      AGE
0    65.0
1    79.0
2    61.0
3    46.0
4    54.0
..    ...
501  69.0
502  77.0
503  91.0
504  89.0
505  81.0

[506 rows x 1 columns]

In [54]:
print(data2.groupby(['AGE'])['AGE'].count())

AGE
3.0       1
6.0       3
7.0       3
8.0       3
9.0       1
         ..
96.0     15
97.0     17
98.0     19
99.0     10
100.0    43
Name: AGE, Length: 91, dtype: int64

In [55]:
data3 = data2.groupby(['AGE'])['AGE'].count()
print(data3)

AGE
3.0       1
6.0       3
7.0       3
8.0       3
9.0       1
         ..
96.0     15
97.0     17
98.0     19
99.0     10
100.0    43
Name: AGE, Length: 91, dtype: int64

In [56]:
print(type(data3))

<class 'pandas.core.series.Series'>

In [57]:
data3 = pd.DataFrame(data3)
print(type(data3))

<class 'pandas.core.frame.DataFrame'>

In [58]:
print(data3.columns)

Index(['AGE'], dtype='object')

In [59]:
data3.columns = ['COUNT']
print(data3.head(3))

     COUNT
AGE
3.0      1
6.0      3
7.0      3

In [60]:
data3.reset_index(drop=False, inplace=True)
print(data3.head(3))

   AGE  COUNT
0  3.0      1
1  6.0      3
2  7.0      3

In [61]:
data3.sort_values(by='COUNT', ascending=False, inplace=True)
print(data3.head(3))

      AGE  COUNT
90  100.0     43
88   98.0     19
87   97.0     17

In [62]:
print(data3.iloc[0,0], data3.iloc[0,1])

100.0 43

책 정답 - 2번째 방법

In [63]:
from scipy.stats import mode
print(mode(data2))

ModeResult(mode=array([[100.]]), count=array([[43]]))

In [64]:
print(mode(data2)[0])

[[100.]]

In [65]:
print(mode(data2)[1])

[[43]]

In [66]:
print(int(mode(data2)[0]))

100

In [67]:
print(int(mode(data2)[1]))

43

최종 제출 코드

In [68]:
import pandas as pd
data = pd.read_csv('boston.csv')
from scipy.stats import mode
print(int(mode(round(data['AGE'], 0))[0]), int(mode(round(data['AGE'], 0))[1]))

100 43

## 2.5 표준 변환하기 : StandardScaler
문제) boston 데이터 세트의 DIS 칼럼을 표준화 척도(Standard Scale)로 변환한 후, 0.4보다 크면서 0.6보다 작은 값들에 대한 평균을 구하시오. 단, 소수점 셋째 자리에서 반올림하여 소수점 둘째 자리까지 출력하시오.

In [69]:
import pandas as pd
data = pd.read_csv('boston.csv')
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
data2 = pd.DataFrame(scaler.fit_transform(data), columns = data.columns)
data2

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,-0.419782,0.284830,-1.287909,-0.272599,-0.144217,0.409823,-0.120013,0.140214,-0.982843,-0.666608,-1.459000,0.441052,-1.075562,0.159686
1,-0.417339,-0.487722,-0.593381,-0.272599,-0.740262,0.192116,0.367166,0.557160,-0.867883,-0.987329,-0.303094,0.441052,-0.492439,-0.101524
2,-0.417342,-0.487722,-0.593381,-0.272599,-0.740262,1.272167,-0.265812,0.557160,-0.867883,-0.987329,-0.303094,0.396427,-1.208727,1.324247
3,-0.416750,-0.487722,-1.306878,-0.272599,-0.835284,1.007809,-0.809889,1.077737,-0.752922,-1.106115,0.113032,0.416163,-1.361517,1.182758
4,-0.412482,-0.487722,-1.306878,-0.272599,-0.835284,1.218447,-0.511180,1.077737,-0.752922,-1.106115,0.113032,0.441052,-1.026501,1.487503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,-0.413229,-0.487722,0.115738,-0.272599,0.158124,0.435269,0.018673,-0.625796,-0.982843,-0.803212,1.176466,0.387217,-0.418147,-0.014454
502,-0.415249,-0.487722,0.115738,-0.272599,0.158124,NaN,0.288933,-0.716639,-0.982843,-0.803212,1.176466,0.441052,-0.500850,-0.210362
503,-0.413447,-0.487722,0.115738,-0.272599,0.158124,0.976708,0.797449,-0.773684,-0.982843,-0.803212,1.176466,0.441052,-0.983048,0.148802
504,-0.407764,-0.487722,0.115738,-0.272599,0.158124,0.719419,0.736996,-0.668437,-0.982843,-0.803212,1.176466,0.403225,-0.865302,-0.057989
505,-0.415000,-0.487722,0.115738,-0.272599,0.158124,-0.360632,0.434732,-0.613246,-0.982843,-0.803212,1.176466,0.441052,-0.669058,-1.157248

In [70]:
print(round(data2[(data2['DIS'] > 0.4) & (data2['DIS'] < 0.6)]['DIS'].mean(), 2))

0.48

책 정답

In [71]:
import pandas as pd
data = pd.read_csv('boston.csv')
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
data_stdd = scaler.fit_transform(data)
print(type(data_stdd))

<class 'numpy.ndarray'>

In [72]:
data_stdd = pd.DataFrame(data_stdd, columns = data.columns)
print((data_stdd['DIS'] > 0.4) & (data_stdd['DIS'] < 0.6))

0      False
1       True
2       True
3      False
4      False
       ...
501    False
502    False
503    False
504    False
505    False
Name: DIS, Length: 506, dtype: bool

In [73]:
data_stdd = data_stdd[(data_stdd['DIS'] > 0.4) & (data_stdd['DIS'] < 0.6)]
print(data_stdd['DIS'])

1      0.557160
2      0.557160
13     0.433754
26     0.421632
78     0.579502
84     0.467933
276    0.471641
277    0.507579
280    0.427669
322    0.440219
323    0.440219
324    0.440219
338    0.483525
339    0.483525
340    0.483525
Name: DIS, dtype: float64

In [74]:
print(data_stdd['DIS'].mean())

0.479684212855197

In [75]:
print(round(data_stdd['DIS'].mean(), 2))

0.48

최종 제출 코드

In [76]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
data = pd.read_csv('boston.csv')
scaler = StandardScaler()
data_stdd = scaler.fit_transform(data)
data_stdd = pd.DataFrame(data_stdd, columns = data.columns)
data_stdd = data_stdd[(data_stdd['DIS'] > 0.4) & (data_stdd['DIS'] < 0.6)]
print(round(data_stdd['DIS'].mean(), 2))

0.48

## 2.4 유니크한 값 구하기
문제) boston 데이터 세트의 전체 칼럼에 대해서 중복을 제거한 유니크한 값을 구한 후, 칼럼별로 유니크한 값의 개수를 기준으로 평균값을 구하시오

In [77]:
import pandas as pd
data = pd.read_csv('boston.csv')
cols = data.columns
cols

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [78]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [79]:
data[cols[1]].unique()

array([ 18. ,   0. ,  12.5,  75. ,  21. ,  90. ,  85. , 100. ,  25. ,
        17.5,  80. ,  28. ,  45. ,  60. ,  95. ,  82.5,  30. ,  22. ,
        20. ,  40. ,  55. ,  52.5,  70. ,  34. ,  33. ,  35. ])

In [80]:
len_uniq = []
for i in cols:
    len_uniq.append(len(data[i].unique()))

print(len_uniq)
print(sum(len_uniq))

[504, 26, 76, 2, 81, 434, 356, 412, 9, 66, 46, 357, 455, 229]
3053

In [117]:
pd.DataFrame(data['RM'].unique()).dropna()

         0
0    6.575
1    6.421
2    7.185
3    6.998
4    7.147
..     ...
429  6.019
430  5.569
431  6.027
432  6.593
433  6.976

[433 rows x 1 columns]

In [111]:
pd.DataFrame(data['RM'].unique()).count()

0    433
dtype: int64

In [108]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       491 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

책 정답 - 1번째 방법

In [82]:
import pandas as pd
data = pd.read_csv('boston.csv')

In [83]:
print(data.columns)

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [84]:
data_col = data.columns
print(data_col.size)

14

In [85]:
print(data['CHAS'].unique())

[0 1]

In [86]:
print(pd.DataFrame(data['CHAS'].unique()))

   0
0  0
1  1

In [87]:
print(pd.DataFrame(data['CHAS'].unique()).count())

0    2
dtype: int64

In [88]:
print(int(pd.DataFrame(data['CHAS'].unique()).count()))

2

In [89]:
print(int(pd.DataFrame(data['ZN'].unique()).count()))

26

In [90]:
print(int(pd.DataFrame(data['CRIM'].unique()).count()))

504

책 정답 - 2번째 방법

In [102]:
total = 0

for 한개씩 in data_col :
    print(int(pd.DataFrame(data[한개씩].unique()).count()[0]))
    total = total + int(pd.DataFrame(data[한개씩].unique()).count()[0])
    
print(total)

504
26
76
2
81
433
356
412
9
66
46
357
455
229
3052

In [92]:
print(data_col.size)

14

In [94]:
print(total/data_col.size)

218.0

최종 제출 코드

In [118]:
import pandas as pd
data = pd.read_csv('boston.csv')
data_col = data.columns
total = 0
for i in data_col:
    total = total + pd.DataFrame(data[i].unique()).count()[0]
    
print(total/data_col.size)

218.0