## 3.1 데이터 탐색하기

데이터 가져오기

In [1]:
import pandas as pd

x_train = pd.read_csv('bike_x_train.csv', encoding = 'cp949')
x_test = pd.read_csv('bike_x_test.csv', encoding = 'cp949')
y_train = pd.read_csv('bike_y_train.csv', encoding = 'cp949')

In [2]:
print(x_train.head(3))

          datetime  계절  공휴일  근무일  날씨    온도    체감온도  습도   풍속
0  2011-01-01 0:00   1    0    0   1  9.84  14.395  81  0.0
1  2011-01-01 1:00   1    0    0   1  9.02  13.635  80  0.0
2  2011-01-01 2:00   1    0    0   1  9.02  13.635  80  0.0

In [3]:
print(x_test.head(3))

          datetime  계절  공휴일  근무일  날씨     온도    체감온도  습도       풍속
0  2011-01-20 0:00   1    0    1   1  10.66  11.365  56  26.0027
1  2011-01-20 1:00   1    0    1   1  10.66  13.635  56   0.0000
2  2011-01-20 2:00   1    0    1   1  10.66  13.635  56   0.0000

In [4]:
print(y_train.head(3))

         癤풼atetime  count
0  2011-01-01 0:00     16
1  2011-01-01 1:00     40
2  2011-01-01 2:00     32

In [5]:
y_train.columns = ['datetime', 'count']
print(y_train.head(3))

          datetime  count
0  2011-01-01 0:00     16
1  2011-01-01 1:00     40
2  2011-01-01 2:00     32

행/열 확인하기

In [6]:
print(x_train.shape)

(10886, 9)

In [7]:
print(x_test.shape)

(6493, 9)

In [8]:
print(y_train.shape)

(10886, 2)

요약정보 확인하기

In [9]:
print(x_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  10886 non-null  object
 1   계절        10886 non-null  int64
 2   공휴일       10886 non-null  int64
 3   근무일       10886 non-null  int64
 4   날씨        10886 non-null  int64
 5   온도        10886 non-null  float64
 6   체감온도      10886 non-null  float64
 7   습도        10886 non-null  int64
 8   풍속        10886 non-null  float64
dtypes: float64(3), int64(5), object(1)
memory usage: 765.5+ KB
None

In [10]:
print(x_train['계절'].unique())

[1 2 3 4]

In [11]:
print(x_train['공휴일'].unique())

[0 1]

In [12]:
print(x_train['근무일'].unique())

[0 1]

In [13]:
print(x_train['날씨'].unique())

[1 2 3 4]

기초 통계량 확인하기

In [14]:
print(x_train.describe())

                 계절           공휴일           근무일            날씨           온도  \
count  10886.000000  10886.000000  10886.000000  10886.000000  10886.00000
mean       2.506614      0.028569      0.680875      1.418427     20.23086
std        1.116174      0.166599      0.466159      0.633839      7.79159
min        1.000000      0.000000      0.000000      1.000000      0.82000
25%        2.000000      0.000000      0.000000      1.000000     13.94000
50%        3.000000      0.000000      1.000000      1.000000     20.50000
75%        4.000000      0.000000      1.000000      2.000000     26.24000
max        4.000000      1.000000      1.000000      4.000000     41.00000

               체감온도            습도            풍속
count  10886.000000  10886.000000  10886.000000
mean      23.655084     61.886460     12.799395
std        8.474601     19.245033      8.164537
min        0.760000      0.000000      0.000000
25%       16.665000     47.000000      7.001500
50%       24.240000     62.000000     12.998000
75%       31.060000     77.000000     16.997900
max       45.455000    100.000000     56.996900

In [15]:
print(x_train.describe().T)

        count       mean        std   min      25%     50%      75%       max
계절    10886.0   2.506614   1.116174  1.00   2.0000   3.000   4.0000    4.0000
공휴일   10886.0   0.028569   0.166599  0.00   0.0000   0.000   0.0000    1.0000
근무일   10886.0   0.680875   0.466159  0.00   0.0000   1.000   1.0000    1.0000
날씨    10886.0   1.418427   0.633839  1.00   1.0000   1.000   2.0000    4.0000
온도    10886.0  20.230860   7.791590  0.82  13.9400  20.500  26.2400   41.0000
체감온도  10886.0  23.655084   8.474601  0.76  16.6650  24.240  31.0600   45.4550
습도    10886.0  61.886460  19.245033  0.00  47.0000  62.000  77.0000  100.0000
풍속    10886.0  12.799395   8.164537  0.00   7.0015  12.998  16.9979   56.9969

독립변수와 종속변수의 관계 확인하기

In [16]:
data = pd.concat([x_train, y_train], axis=1)

In [17]:
data.head()

,datetime,계절,공휴일,근무일,날씨,온도,체감온도,습도,풍속,datetime,count
0,2011-01-01 0:00,1,0,0,1,9.84,14.395,81,0.0,2011-01-01 0:00,16
1,2011-01-01 1:00,1,0,0,1,9.02,13.635,80,0.0,2011-01-01 1:00,40
2,2011-01-01 2:00,1,0,0,1,9.02,13.635,80,0.0,2011-01-01 2:00,32
3,2011-01-01 3:00,1,0,0,1,9.84,14.395,75,0.0,2011-01-01 3:00,13
4,2011-01-01 4:00,1,0,0,1,9.84,14.395,75,0.0,2011-01-01 4:00,1

In [18]:
print(data.groupby(['계절'])['count'].sum())

계절
1    312498
2    588282
3    640662
4    544034
Name: count, dtype: int64

In [19]:
print(data.groupby(['공휴일'])['count'].sum())

공휴일
0    2027668
1      57808
Name: count, dtype: int64

In [20]:
print(data.groupby(['근무일'])['count'].sum())

근무일
0     654872
1    1430604
Name: count, dtype: int64

In [21]:
print(data.groupby(['날씨'])['count'].sum())

날씨
1    1476063
2     507160
3     102089
4        164
Name: count, dtype: int64

## 3.2 전처리하기

파생변수 만들기

In [22]:
x_train['datetime'] = pd.to_datetime(x_train['datetime'])

In [23]:
x_train.head()

             datetime  계절  공휴일  근무일  날씨    온도    체감온도  습도   풍속
0 2011-01-01 00:00:00   1    0    0   1  9.84  14.395  81  0.0
1 2011-01-01 01:00:00   1    0    0   1  9.02  13.635  80  0.0
2 2011-01-01 02:00:00   1    0    0   1  9.02  13.635  80  0.0
3 2011-01-01 03:00:00   1    0    0   1  9.84  14.395  75  0.0
4 2011-01-01 04:00:00   1    0    0   1  9.84  14.395  75  0.0

In [24]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  10886 non-null  datetime64[ns]
 1   계절        10886 non-null  int64
 2   공휴일       10886 non-null  int64
 3   근무일       10886 non-null  int64
 4   날씨        10886 non-null  int64
 5   온도        10886 non-null  float64
 6   체감온도      10886 non-null  float64
 7   습도        10886 non-null  int64
 8   풍속        10886 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(5)
memory usage: 765.5 KB

In [25]:
x_train['year'] = x_train['datetime'].dt.year
print(x_train['year'].unique())

[2011 2012]

In [26]:
x_train['month'] = x_train['datetime'].dt.month
print(x_train['month'].unique())

[ 1  2  3  4  5  6  7  8  9 10 11 12]

In [27]:
x_train['day'] = x_train['datetime'].dt.day
print(x_train['day'].unique())

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]

In [28]:
x_train['hour'] = x_train['datetime'].dt.hour
print(x_train['hour'].unique())

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]

In [29]:
x_train['dayofweek'] = x_train['datetime'].dt.dayofweek
print(x_train['dayofweek'].unique())

[5 6 0 1 2 3 4]

In [30]:
x_train.head()

,datetime,계절,공휴일,근무일,날씨,온도,체감온도,습도,풍속,year,month,day,hour,dayofweek
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,2011,1,1,0,5
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,2011,1,1,1,5
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,2011,1,1,2,5
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,2011,1,1,3,5
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,2011,1,1,4,5

In [31]:
data2 = pd.concat([x_train, y_train], axis=1)
data2.head()

,datetime,계절,공휴일,근무일,날씨,온도,체감온도,습도,풍속,year,month,day,hour,dayofweek,datetime,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,2011,1,1,0,5,2011-01-01 0:00,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,2011,1,1,1,5,2011-01-01 1:00,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,2011,1,1,2,5,2011-01-01 2:00,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,2011,1,1,3,5,2011-01-01 3:00,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,2011,1,1,4,5,2011-01-01 4:00,1

In [32]:
print(data2.groupby(['year'])['count'].sum())

year
2011     781979
2012    1303497
Name: count, dtype: int64

In [33]:
print(data2.groupby(['month'])['count'].sum())

month
1      79884
2      99113
3     133501
4     167402
5     200147
6     220733
7     214617
8     213516
9     212529
10    207434
11    176440
12    160160
Name: count, dtype: int64

In [34]:
print(data2.groupby(['day'])['count'].sum())

day
1     103692
2     105381
3     111561
4     112335
5     109115
6     108600
7     105486
8     102770
9     108041
10    111645
11    111146
12    109257
13    111448
14    112406
15    115677
16    109837
17    118255
18    108437
19    110387
Name: count, dtype: int64

In [35]:
print(data2.groupby(['hour'])['count'].sum())

hour
0      25088
1      15372
2      10259
3       5091
4       2832
5       8935
6      34698
7      96968
8     165060
9     100910
10     79667
11     95857
12    116968
13    117551
14    111010
15    115960
16    144266
17    213757
18    196472
19    143767
20    104204
21     79057
22     60911
23     40816
Name: count, dtype: int64

In [36]:
print(data2.groupby(['dayofweek'])['count'].sum())

dayofweek
0    295296
1    291985
2    292226
3    306401
4    302504
5    311518
6    285546
Name: count, dtype: int64

In [37]:
x_test.head()

          datetime  계절  공휴일  근무일  날씨     온도    체감온도  습도       풍속
0  2011-01-20 0:00   1    0    1   1  10.66  11.365  56  26.0027
1  2011-01-20 1:00   1    0    1   1  10.66  13.635  56   0.0000
2  2011-01-20 2:00   1    0    1   1  10.66  13.635  56   0.0000
3  2011-01-20 3:00   1    0    1   1  10.66  12.880  56  11.0014
4  2011-01-20 4:00   1    0    1   1  10.66  12.880  56  11.0014

In [39]:
x_test['datetime'] = pd.to_datetime(x_test['datetime'])
x_test['year'] = x_test['datetime'].dt.year
x_test['month'] = x_test['datetime'].dt.month
x_test['day'] = x_test['datetime'].dt.day
x_test['hour'] = x_test['datetime'].dt.hour
x_test['dayofweek'] = x_test['datetime'].dt.dayofweek

In [40]:
x_test.head()

,datetime,계절,공휴일,근무일,날씨,온도,체감온도,습도,풍속,year,month,day,hour,dayofweek
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027,2011,1,20,0,3
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000,2011,1,20,1,3
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000,2011,1,20,2,3
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014,2011,1,20,3,3
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014,2011,1,20,4,3

불필요한 칼럼 삭제하기

In [44]:
x_test_datetime = x_test['datetime']

In [45]:
x_test.head()

,datetime,계절,공휴일,근무일,날씨,온도,체감온도,습도,풍속,year,month,day,hour,dayofweek
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027,2011,1,20,0,3
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000,2011,1,20,1,3
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000,2011,1,20,2,3
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014,2011,1,20,3,3
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014,2011,1,20,4,3

In [46]:
x_train = x_train.drop(columns = ['datetime'])
x_test = x_test.drop(columns = ['datetime'])
y_train = y_train.drop(columns = ['datetime'])

## 3.3 학습하고 평가하기

데이터 분리하기

In [47]:
from sklearn.model_selection import train_test_split

X_TRAIN, X_TEST, Y_TRAIN, Y_TEST = train_test_split(x_train, y_train, test_size = 0.2, random_state = 10)

print(X_TRAIN.shape)

(8708, 13)

In [48]:
print(X_TEST.shape)

(2178, 13)

In [49]:
print(Y_TRAIN.shape)

(8708, 1)

In [50]:
print(Y_TEST.shape)

(2178, 1)

데이터 학습 및 하이퍼 파라미터 튜닝하기

In [51]:
from xgboost import XGBRegressor
model = XGBRegressor(n_estimators = 100, max_depth = 3, random_state = 10)
model.fit(X_TRAIN, Y_TRAIN)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=3, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=8,
             num_parallel_tree=1, predictor='auto', random_state=10,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [52]:
model2 = XGBRegressor(n_estimators = 200, max_depth = 5, random_state = 10)
model2.fit(X_TRAIN, Y_TRAIN)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=5, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=200, n_jobs=8,
             num_parallel_tree=1, predictor='auto', random_state=10,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

결과 예측하기

In [57]:
y_test_predicted = pd.DataFrame(model.predict(x_test)).rename(columns = {0:'count'})
y_test_predicted

           count
0      -1.630995
1      -1.559024
2      -6.558486
3      -9.993016
4      -9.993016
...          ...
6488  287.787628
6489  190.071304
6490  142.587555
6491  103.404312
6492   75.858627

[6493 rows x 1 columns]

In [58]:
y_test_predicted[y_test_predicted['count'] < 0] = 0
y_test_predicted.head(10)

        count
0    0.000000
1    0.000000
2    0.000000
3    0.000000
4    0.000000
5    3.797052
6   60.113888
7  150.273941
8  326.687195
9  111.733780

In [60]:
Y_TEST_PREDICTED = pd.DataFrame(model.predict(X_TEST)).rename(columns = {0:'count'})
Y_TEST_PREDICTED.head()

        count
0  297.274414
1  336.525452
2  250.292557
3  185.365784
4  137.304901

In [62]:
Y_TEST_PREDICTED[Y_TEST_PREDICTED['count'] < 0] = 0
Y_TEST_PREDICTED.head()

        count
0  297.274414
1  336.525452
2  250.292557
3  185.365784
4  137.304901

모델 평가하기

In [63]:
from sklearn.metrics import r2_score

In [64]:
print(r2_score(Y_TEST, Y_TEST_PREDICTED))

0.9060919397792939

In [65]:
Y_TEST_PREDICTED2 = pd.DataFrame(model2.predict(X_TEST)).rename(columns = {0:'count'})
Y_TEST_PREDICTED2.head()

        count
0  130.135010
1  315.013062
2  252.175507
3  189.099167
4   75.009369

In [66]:
print(r2_score(Y_TEST, Y_TEST_PREDICTED2))

0.9540864454379272

## 3.4 결과 제출하기

In [67]:
print(pd.concat([x_test_datetime, y_test_predicted], axis=1))

                datetime       count
0    2011-01-20 00:00:00    0.000000
1    2011-01-20 01:00:00    0.000000
2    2011-01-20 02:00:00    0.000000
3    2011-01-20 03:00:00    0.000000
4    2011-01-20 04:00:00    0.000000
...                  ...         ...
6488 2012-12-31 19:00:00  287.787628
6489 2012-12-31 20:00:00  190.071304
6490 2012-12-31 21:00:00  142.587555
6491 2012-12-31 22:00:00  103.404312
6492 2012-12-31 23:00:00   75.858627

[6493 rows x 2 columns]

In [68]:
final = pd.concat([x_test_datetime, y_test_predicted], axis=1)
final.to_csv('2022.03.03.test', index=False)

In [70]:
test = pd.read_csv('2022.03.03.test', encoding = 'cp949')
test.head()

              datetime  count
0  2011-01-20 00:00:00    0.0
1  2011-01-20 01:00:00    0.0
2  2011-01-20 02:00:00    0.0
3  2011-01-20 03:00:00    0.0
4  2011-01-20 04:00:00    0.0

최종제출코드

In [74]:
# 데이터 가져오기
import pandas as pd
x_train = pd.read_csv('bike_x_train.csv', encoding = 'cp949')
x_test = pd.read_csv('bike_x_test.csv', encoding = 'cp949')
y_train = pd.read_csv('bike_y_train.csv', encoding = 'cp949')
y_train.columns = ['datetime', 'count']

# 전처리하기
x_train['datetime'] = pd.to_datetime(x_train['datetime'])
x_train['year'] = x_train['datetime'].dt.year
x_train['hour'] = x_train['datetime'].dt.hour

x_test['datetime'] = pd.to_datetime(x_test['datetime'])
x_test['year'] = x_test['datetime'].dt.year
x_test['hour'] = x_test['datetime'].dt.hour

x_test_datetime = x_test['datetime']
x_train = x_train.drop(columns = ['datetime'])
x_test = x_test.drop(columns = ['datetime'])
y_train = y_train.drop(columns = ['datetime'])

# 데이터 분리하기
from sklearn.model_selection import train_test_split
X_TRAIN, X_TEST, Y_TRIAN, Y_TEST = train_test_split(x_train, y_train, test_size = 0.2, random_state = 10)

# 모델을 학습하고 테스트 데이터의 종속변수 값을 예측하기
from xgboost import XGBRegressor
model = XGBRegressor(n_estimators = 200, max_depth = 5, random_state = 10)

model.fit(X_TRAIN, Y_TRAIN)
y_test_predicted = pd.DataFrame(model.predict(x_test)).rename(columns = {0:'count'})
y_test_predicted[y_test_predicted['count'] < 0] = 0

Y_TEST_PREDICTED = pd.DataFrame(model.predict(X_TEST)).rename(columns = {0:'count'})
Y_TEST_PREDICTED[Y_TEST_PREDICTED['count'] < 0] = 0

# 모델 평가하기
from sklearn.metrics import r2_score
print(r2_score(Y_TEST, Y_TEST_PREDICTED))

# 결과 제출하기
final = pd.concat([x_test_datetime, y_test_predicted], axis = 1)
final.to_csv('2022.03.03.test', index=False)

0.9381182890431057

In [75]:
y_train.head()

   count
0     16
1     40
2     32
3     13
4      1