
# DataFrame 기본

## Pandas DataFrame 사용 준비
    !pip install pandas 또는 !conda install pandas
    import pandas as pd    : 앞으로 pandas의 함수를 호출할 때 pd라는 별칭을 사용

In [1]:
import pandas as pd

## DataFrame 읽기
* df = pd.read_csv(filepath) <br><br>
* filepath : 파일 경로 ('p1/p2/file.csv' 형태)   <br><br>
* %pwd  :경로 확인

In [2]:
%pwd

'D:\\01.jupyter\\ADP실기_book\\1. 데이터 핸들링\\1.1.DataFrame 기본'

In [3]:
iris_data = pd.read_csv("../data/iris.csv")

In [4]:
iris_data

     sepal length  sepal width  petal length  petal width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

## DataFrame 저장
    df.to_csv(filepath, header=True, index=True, encoding='utf8')

In [5]:
iris_data.to_csv("example.csv", header=True, index = False, encoding = 'utf-8')

In [6]:
pd.read_csv("example.csv", encoding = 'utf-8')

     sepal length  sepal width  petal length  petal width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]


## DataFrame 선언
    df = pd.DataFrame(data)
### Series 
    pandas의 기본 객체 
    Series는 리스트와 비슷하지만, 인덱스 값을 가지고 있음 
    index는 기본적으로 0부터 자동적으로 생성됨

In [7]:
list_1 = [1,1,1,1]
list_1

[1, 1, 1, 1]

In [8]:
# 데이터 프레임 선언
pd.DataFrame(list_1)

   0
0  1
1  1
2  1
3  1

In [9]:
## Series는 리스트와 비슷하지만, 인덱스 값을 가지고 있음 
Series_1 = pd.Series([1, 1, 1, 1])
Series_1

0    1
1    1
2    1
3    1
dtype: int64

In [10]:
## 인덱스와 같이 선언하기 
Series_2 = pd.Series([1, 1, 1, 1], index=['2021-09-15',2,"dd",43])

In [11]:
Series_2

2021-09-15    1
2             1
dd            1
43            1
dtype: int64

## DataFrame 출력
    df.head(n)    # 처음 n개 출력, 미지정시 5개
    df.tail(n)     # 마지막 n개 출력, 미지정시 5개

In [12]:
iris_data.tail()

     sepal length  sepal width  petal length  petal width          target
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

## DataFrame 요약 / 통계정보 확인
* df.info()   # 총 데이터 건수와 데이터 타입, Null건수 확인
* df.describe()   # 숫자형 컬럼들의 n-percentile분포도, 평균값, 최댓값, 최솟값 확인
* df['컬럼명'].min() 또는 df['컬럼명'].max()    # 해당 컬럼의 min, max 값을 확인
    
      .size : 개수 반환
      .shape : 튜플형태로 shape반환
      .unique(): 유일한 값만 ndarray로 반환
      .count() : NaN을 제외한 개수를 반환
      .mean(): NaN을 제외한 평균
      .value_counts(): NaN을 제외하고 각 값들의 빈도를 반환

In [13]:
iris_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  150 non-null    float64
 1   sepal width   150 non-null    float64
 2   petal length  150 non-null    float64
 3   petal width   150 non-null    float64
 4   target        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [14]:
iris_data.describe()

       sepal length  sepal width  petal length  petal width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [15]:
iris_data['sepal length'].min()

4.3

In [16]:
iris_data['sepal length'].size

150

In [17]:
iris_data[['sepal length']].shape

(150, 1)

In [18]:
iris_data['sepal length']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal length, Length: 150, dtype: float64

In [19]:
iris_data['target'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [20]:
iris_data['target'].count()

150

In [21]:
iris_data['target'].value_counts()

Iris-versicolor    50
Iris-virginica     50
Iris-setosa        50
Name: target, dtype: int64

## DataFrame 인덱스 확인, 추가, 리셋
    df.index      # 인덱스 확인
    df.set_index(keys,drop=True,append=False,inplace=True)  # 인덱스 추가 
    df.reset_index(drop=False,inplace=False) # 인덱스 리셋

In [22]:
iris_data.index

RangeIndex(start=0, stop=150, step=1)

In [23]:
iris_data

     sepal length  sepal width  petal length  petal width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [24]:
iris_data.set_index('target',inplace =True)

In [25]:
iris_data

                sepal length  sepal width  petal length  petal width
target
Iris-setosa              5.1          3.5           1.4          0.2
Iris-setosa              4.9          3.0           1.4          0.2
Iris-setosa              4.7          3.2           1.3          0.2
Iris-setosa              4.6          3.1           1.5          0.2
Iris-setosa              5.0          3.6           1.4          0.2
...                      ...          ...           ...          ...
Iris-virginica           6.7          3.0           5.2          2.3
Iris-virginica           6.3          2.5           5.0          1.9
Iris-virginica           6.5          3.0           5.2          2.0
Iris-virginica           6.2          3.4           5.4          2.3
Iris-virginica           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [26]:
iris_data.reset_index(inplace=True)

In [27]:
iris_data.head()

        target  sepal length  sepal width  petal length  petal width
0  Iris-setosa           5.1          3.5           1.4          0.2
1  Iris-setosa           4.9          3.0           1.4          0.2
2  Iris-setosa           4.7          3.2           1.3          0.2
3  Iris-setosa           4.6          3.1           1.5          0.2
4  Iris-setosa           5.0          3.6           1.4          0.2

## DataFrame Value값 확인

In [28]:
iris_data.values[:5]

array([['Iris-setosa', 5.1, 3.5, 1.4, 0.2],
       ['Iris-setosa', 4.9, 3.0, 1.4, 0.2],
       ['Iris-setosa', 4.7, 3.2, 1.3, 0.2],
       ['Iris-setosa', 4.6, 3.1, 1.5, 0.2],
       ['Iris-setosa', 5.0, 3.6, 1.4, 0.2]], dtype=object)

In [29]:
iris_data.values[:5,3]

array([1.4, 1.4, 1.3, 1.5, 1.4], dtype=object)

## DataFrame 컬럼명 확인, 변경
    df.columns    # 컬럼명 확인
    df.columns = [ 'new1', 'new2' ]
    df.rename( { 'old1':'new1', 'old2':'new2' }, axis='columns' ,inplace=True) 
    df.columns = df.columns.str.replace('기존문자', '대체할 문자')    # 컬럼명 특정문자 대체
    df.drop(['컬럼명'],axis=1,inplace=True)

In [30]:
iris_data.columns

Index(['target', 'sepal length', 'sepal width', 'petal length', 'petal width'], dtype='object')

In [31]:
iris_data.columns = ['a','b','c','d','e']
iris_data.head()

             a    b    c    d    e
0  Iris-setosa  5.1  3.5  1.4  0.2
1  Iris-setosa  4.9  3.0  1.4  0.2
2  Iris-setosa  4.7  3.2  1.3  0.2
3  Iris-setosa  4.6  3.1  1.5  0.2
4  Iris-setosa  5.0  3.6  1.4  0.2

In [32]:
iris_data.columns = ['Target','sepal%%length', 'sepal%%width', 'petal%%length', 'Petal%%width']
iris_data.head(1)

        Target  sepal%%length  sepal%%width  petal%%length  Petal%%width
0  Iris-setosa            5.1           3.5            1.4           0.2

In [33]:
iris_data.rename({"Target":"target", "Petal%%width" : 'petal_width'},axis='columns',inplace=True)
iris_data.head(1)

        target  sepal%%length  sepal%%width  petal%%length  petal_width
0  Iris-setosa            5.1           3.5            1.4          0.2

In [34]:
iris_data.columns = iris_data.columns.str.replace('%%', '_')    # 컬럼명 특정문자 대체
iris_data.head(1)

        target  sepal_length  sepal_width  petal_length  petal_width
0  Iris-setosa           5.1          3.5           1.4          0.2

## DataFrame 컬럼(변수) 타입 변경
    df['컬럼명'] = df['컬럼명'].astype('타입') # 컬럼 타입 변경 
    df = df.convert_dtypes() 모든 컬럼에 대해 가능한 가장 적절한 dtypes로 변경

In [35]:
iris_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   target        150 non-null    object
 1   sepal_length  150 non-null    float64
 2   sepal_width   150 non-null    float64
 3   petal_length  150 non-null    float64
 4   petal_width   150 non-null    float64
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [36]:
iris_data['sepal_length'] = iris_data['sepal_length'].astype(int)

In [37]:
iris_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   target        150 non-null    object
 1   sepal_length  150 non-null    int32
 2   sepal_width   150 non-null    float64
 3   petal_length  150 non-null    float64
 4   petal_width   150 non-null    float64
dtypes: float64(3), int32(1), object(1)
memory usage: 5.4+ KB

In [38]:
iris_data

             target  sepal_length  sepal_width  petal_length  petal_width
0       Iris-setosa             5          3.5           1.4          0.2
1       Iris-setosa             4          3.0           1.4          0.2
2       Iris-setosa             4          3.2           1.3          0.2
3       Iris-setosa             4          3.1           1.5          0.2
4       Iris-setosa             5          3.6           1.4          0.2
..              ...           ...          ...           ...          ...
145  Iris-virginica             6          3.0           5.2          2.3
146  Iris-virginica             6          2.5           5.0          1.9
147  Iris-virginica             6          3.0           5.2          2.0
148  Iris-virginica             6          3.4           5.4          2.3
149  Iris-virginica             5          3.0           5.1          1.8

[150 rows x 5 columns]