## 1.1 데이터 탐색하기

데이터 가져오기

In [1]:
import pandas as pd
x_train = pd.read_csv('x_train.csv', encoding = 'cp949')
x_test = pd.read_csv('x_test.csv', encoding = 'cp949')
y_train = pd.read_csv('y_train.csv', encoding = 'cp949')

In [2]:
print(x_train.head())

   cust_id      총구매액     최대구매액       환불금액   주구매상품 주구매지점  내점일수   내점당구매건수  \
0        0  68282840  11264000  6860000.0      기타   강남점    19  3.894737
1        1   2136000   2136000   300000.0     스포츠   잠실점     2  1.500000
2        2   3197000   1639000        NaN  남성 캐주얼   관악점     2  2.000000
3        3  16077620   4935000        NaN      기타   광주점    18  2.444444
4        4  29050000  24000000        NaN      보석  본  점     2  1.500000

     주말방문비율  구매주기
0  0.527027    17
1  0.000000     1
2  0.000000     1
3  0.318182    16
4  0.000000    85

In [3]:
print(x_test.head())

   cust_id       총구매액     최대구매액        환불금액 주구매상품 주구매지점  내점일수    내점당구매건수  \
0     3500   70900400  22000000   4050000.0    골프  부산본점    13   1.461538
1     3501  310533100  38558000  48034700.0   농산물   잠실점    90   2.433333
2     3502  305264140  14825000  30521000.0  가공식품  본  점   101  14.623762
3     3503    7594080   5225000         NaN  주방용품  부산본점     5   2.000000
4     3504    1795790   1411200         NaN   수산품  청량리점     3   2.666667

     주말방문비율  구매주기
0  0.789474    26
1  0.369863     3
2  0.083277     3
3  0.000000    47
4  0.125000     8

In [4]:
print(y_train.head())

   cust_id  gender
0        0       0
1        1       0
2        2       1
3        3       1
4        4       0

(1) T, transpose() 함수를 통해 데이터의 방향을 행에서 열 방향으로 바꾸기

In [5]:
print(x_train.head().T)

                 0         1        2         3         4
cust_id          0         1        2         3         4
총구매액      68282840   2136000  3197000  16077620  29050000
최대구매액     11264000   2136000  1639000   4935000  24000000
환불금액     6860000.0  300000.0      NaN       NaN       NaN
주구매상품           기타       스포츠   남성 캐주얼        기타        보석
주구매지점          강남점       잠실점      관악점       광주점      본  점
내점일수            19         2        2        18         2
내점당구매건수   3.894737       1.5      2.0  2.444444       1.5
주말방문비율    0.527027       0.0      0.0  0.318182       0.0
구매주기            17         1        1        16        85

In [6]:
print(x_train.head().transpose())

                 0         1        2         3         4
cust_id          0         1        2         3         4
총구매액      68282840   2136000  3197000  16077620  29050000
최대구매액     11264000   2136000  1639000   4935000  24000000
환불금액     6860000.0  300000.0      NaN       NaN       NaN
주구매상품           기타       스포츠   남성 캐주얼        기타        보석
주구매지점          강남점       잠실점      관악점       광주점      본  점
내점일수            19         2        2        18         2
내점당구매건수   3.894737       1.5      2.0  2.444444       1.5
주말방문비율    0.527027       0.0      0.0  0.318182       0.0
구매주기            17         1        1        16        85

(2) 전체 칼럼을 출력하는 옵션 설정하기

In [7]:
pd.options.display.max_columns = 5
print(x_train.head())

   cust_id      총구매액  ...    주말방문비율  구매주기
0        0  68282840  ...  0.527027    17
1        1   2136000  ...  0.000000     1
2        2   3197000  ...  0.000000     1
3        3  16077620  ...  0.318182    16
4        4  29050000  ...  0.000000    85

[5 rows x 10 columns]

In [8]:
pd.options.display.max_columns = None
print(x_train.head())

   cust_id      총구매액     최대구매액       환불금액   주구매상품 주구매지점  내점일수   내점당구매건수  \
0        0  68282840  11264000  6860000.0      기타   강남점    19  3.894737
1        1   2136000   2136000   300000.0     스포츠   잠실점     2  1.500000
2        2   3197000   1639000        NaN  남성 캐주얼   관악점     2  2.000000
3        3  16077620   4935000        NaN      기타   광주점    18  2.444444
4        4  29050000  24000000        NaN      보석  본  점     2  1.500000

     주말방문비율  구매주기
0  0.527027    17
1  0.000000     1
2  0.000000     1
3  0.318182    16
4  0.000000    85

행/열 확인하기

In [9]:
print(x_train.shape)

(3500, 10)

In [10]:
print(x_test.shape)

(2482, 10)

In [11]:
print(y_train.shape)

(3500, 2)

요약정보 확인하기

In [12]:
print(x_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  3500 non-null   int64
 1   총구매액     3500 non-null   int64
 2   최대구매액    3500 non-null   int64
 3   환불금액     1205 non-null   float64
 4   주구매상품    3500 non-null   object
 5   주구매지점    3500 non-null   object
 6   내점일수     3500 non-null   int64
 7   내점당구매건수  3500 non-null   float64
 8   주말방문비율   3500 non-null   float64
 9   구매주기     3500 non-null   int64
dtypes: float64(3), int64(5), object(2)
memory usage: 273.6+ KB
None

In [13]:
print(x_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2482 entries, 0 to 2481
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  2482 non-null   int64
 1   총구매액     2482 non-null   int64
 2   최대구매액    2482 non-null   int64
 3   환불금액     871 non-null    float64
 4   주구매상품    2482 non-null   object
 5   주구매지점    2482 non-null   object
 6   내점일수     2482 non-null   int64
 7   내점당구매건수  2482 non-null   float64
 8   주말방문비율   2482 non-null   float64
 9   구매주기     2482 non-null   int64
dtypes: float64(3), int64(5), object(2)
memory usage: 194.0+ KB
None

기초 통계량 확인하기

In [14]:
x_train.describe().T

,count,mean,std,min,25%,50%,75%,max
cust_id,3500.0,1.749500e+03,1.010507e+03,0.0,8.747500e+02,1.749500e+03,2.624250e+03,3.499000e+03
총구매액,3500.0,9.191925e+07,1.635065e+08,-52421520.0,4.747050e+06,2.822270e+07,1.065079e+08,2.323180e+09
최대구매액,3500.0,1.966424e+07,3.199235e+07,-2992000.0,2.875000e+06,9.837000e+06,2.296250e+07,7.066290e+08
환불금액,1205.0,2.407822e+07,4.746453e+07,5600.0,2.259000e+06,7.392000e+06,2.412000e+07,5.637530e+08
내점일수,3500.0,1.925371e+01,2.717494e+01,1.0,2.000000e+00,8.000000e+00,2.500000e+01,2.850000e+02
내점당구매건수,3500.0,2.834963e+00,1.912368e+00,1.0,1.666667e+00,2.333333e+00,3.375000e+00,2.208333e+01
주말방문비율,3500.0,3.072463e-01,2.897516e-01,0.0,2.729090e-02,2.564103e-01,4.489796e-01,1.000000e+00
구매주기,3500.0,2.095829e+01,2.474868e+01,0.0,4.000000e+00,1.300000e+01,2.800000e+01,1.660000e+02

## 1.2 전처리하기

불필요한 칼럼 삭제하기

In [15]:
x_test_cust_id = x_test['cust_id']
x_train = x_train.drop(columns = ['cust_id'])
y_train = y_train.drop(columns = ['cust_id'])
x_test = x_test.drop(columns = ['cust_id'])

In [16]:
x_train.head()

       총구매액     최대구매액       환불금액   주구매상품 주구매지점  내점일수   내점당구매건수    주말방문비율  구매주기
0  68282840  11264000  6860000.0      기타   강남점    19  3.894737  0.527027    17
1   2136000   2136000   300000.0     스포츠   잠실점     2  1.500000  0.000000     1
2   3197000   1639000        NaN  남성 캐주얼   관악점     2  2.000000  0.000000     1
3  16077620   4935000        NaN      기타   광주점    18  2.444444  0.318182    16
4  29050000  24000000        NaN      보석  본  점     2  1.500000  0.000000    85

In [17]:
y_train.head()

   gender
0       0
1       0
2       1
3       1
4       0

결측치 처리하기

In [18]:
print(x_train.isna().sum())

총구매액          0
최대구매액         0
환불금액       2295
주구매상품         0
주구매지점         0
내점일수          0
내점당구매건수       0
주말방문비율        0
구매주기          0
dtype: int64

In [19]:
# '환불금액' 칼럼의 결측치는 0으로 대치하기
x_train['환불금액'] = x_train['환불금액'].fillna(0)
x_test['환불금액'] = x_test['환불금액'].fillna(0)

# 결측치가 조치되었는지 '환불금액' 칼럼의 결측치 개수를 확인하기
print(x_train.isna().sum())
print(x_test.isna().sum())

총구매액       0
최대구매액      0
환불금액       0
주구매상품      0
주구매지점      0
내점일수       0
내점당구매건수    0
주말방문비율     0
구매주기       0
dtype: int64
총구매액       0
최대구매액      0
환불금액       0
주구매상품      0
주구매지점      0
내점일수       0
내점당구매건수    0
주말방문비율     0
구매주기       0
dtype: int64

범주형 변수를 인코딩하기

In [20]:
x_train.head()

       총구매액     최대구매액       환불금액   주구매상품 주구매지점  내점일수   내점당구매건수    주말방문비율  구매주기
0  68282840  11264000  6860000.0      기타   강남점    19  3.894737  0.527027    17
1   2136000   2136000   300000.0     스포츠   잠실점     2  1.500000  0.000000     1
2   3197000   1639000        0.0  남성 캐주얼   관악점     2  2.000000  0.000000     1
3  16077620   4935000        0.0      기타   광주점    18  2.444444  0.318182    16
4  29050000  24000000        0.0      보석  본  점     2  1.500000  0.000000    85

In [21]:
print(x_train['주구매상품'].unique())

['기타' '스포츠' '남성 캐주얼' '보석' '디자이너' '시티웨어' '명품' '농산물' '화장품' '골프' '구두' '가공식품'
 '수산품' '아동' '차/커피' '캐주얼' '섬유잡화' '육류' '축산가공' '젓갈/반찬' '액세서리' '피혁잡화' '일용잡화'
 '주방가전' '주방용품' '건강식품' '가구' '주류' '모피/피혁' '남성 트랜디' '셔츠' '남성정장' '생활잡화'
 '트래디셔널' '란제리/내의' '커리어' '침구/수예' '대형가전' '통신/컴퓨터' '식기' '소형가전' '악기']

In [22]:
print(x_train['주구매상품'].unique().size)

42

In [23]:
print(x_train['주구매지점'].unique())

['강남점' '잠실점' '관악점' '광주점' '본  점' '일산점' '대전점' '부산본점' '분당점' '영등포점' '미아점'
 '청량리점' '안양점' '부평점' '동래점' '포항점' '노원점' '창원점' '센텀시티점' '인천점' '대구점' '전주점'
 '울산점' '상인점']

In [24]:
print(x_train['주구매지점'].unique().size)

24

In [25]:
# sklearn 패키지의 preprocessing 모듈에서 LabelEncoder 함수를 가져오기
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

In [26]:
x_train['주구매상품'] = encoder.fit_transform(x_train['주구매상품'])
print(x_train['주구매상품'].head(10))

0     5
1    21
2     6
3     5
4    15
5    11
6    22
7    13
8     5
9     9
Name: 주구매상품, dtype: int32

In [27]:
print(encoder.classes_)

['가공식품' '가구' '건강식품' '골프' '구두' '기타' '남성 캐주얼' '남성 트랜디' '남성정장' '농산물' '대형가전'
 '디자이너' '란제리/내의' '명품' '모피/피혁' '보석' '생활잡화' '섬유잡화' '셔츠' '소형가전' '수산품' '스포츠'
 '시티웨어' '식기' '아동' '악기' '액세서리' '육류' '일용잡화' '젓갈/반찬' '주류' '주방가전' '주방용품'
 '차/커피' '축산가공' '침구/수예' '캐주얼' '커리어' '통신/컴퓨터' '트래디셔널' '피혁잡화' '화장품']

In [28]:
x_test['주구매상품'] = encoder.fit_transform(x_test['주구매상품'])

In [29]:
x_train['주구매지점'] = encoder.fit_transform(x_train['주구매지점'])
print(x_train['주구매지점'].head(10))

0     0
1    19
2     1
3     2
4     8
5    18
6     0
7     8
8     8
9     5
Name: 주구매지점, dtype: int32

In [30]:
print(encoder.classes_)

['강남점' '관악점' '광주점' '노원점' '대구점' '대전점' '동래점' '미아점' '본  점' '부산본점' '부평점' '분당점'
 '상인점' '센텀시티점' '안양점' '영등포점' '울산점' '인천점' '일산점' '잠실점' '전주점' '창원점' '청량리점'
 '포항점']

In [31]:
x_test['주구매지점'] = encoder.fit_transform(x_test['주구매지점'])

파생변수 만들기

In [32]:
condition = x_train['환불금액'] > 0
condition

0        True
1        True
2       False
3       False
4       False
        ...
3495    False
3496     True
3497    False
3498    False
3499     True
Name: 환불금액, Length: 3500, dtype: bool

In [33]:
x_train.loc[condition, '환불금액_new'] = 1
x_train.loc[~condition, '환불금액_new'] = 0
print(x_train[['환불금액', '환불금액_new']])

           환불금액  환불금액_new
0     6860000.0       1.0
1      300000.0       1.0
2           0.0       0.0
3           0.0       0.0
4           0.0       0.0
...         ...       ...
3495        0.0       0.0
3496  6049600.0       1.0
3497        0.0       0.0
3498        0.0       0.0
3499  5973000.0       1.0

[3500 rows x 2 columns]

In [34]:
x_train = x_train.drop(columns = ['환불금액'])

In [35]:
x_train.head()

       총구매액     최대구매액  주구매상품  주구매지점  내점일수   내점당구매건수    주말방문비율  구매주기  환불금액_new
0  68282840  11264000      5      0    19  3.894737  0.527027    17       1.0
1   2136000   2136000     21     19     2  1.500000  0.000000     1       1.0
2   3197000   1639000      6      1     2  2.000000  0.000000     1       0.0
3  16077620   4935000      5      2    18  2.444444  0.318182    16       0.0
4  29050000  24000000     15      8     2  1.500000  0.000000    85       0.0

In [36]:
condition_test = x_test['환불금액'] > 0
condition_test

0        True
1        True
2        True
3       False
4       False
        ...
2477    False
2478    False
2479    False
2480    False
2481    False
Name: 환불금액, Length: 2482, dtype: bool

In [37]:
x_test.loc[condition_test, '환불금액_new'] = 1
x_test.loc[~condition_test, '환불금액_new'] = 0
x_test[['환불금액', '환불금액_new']].head(10)

         환불금액  환불금액_new
0   4050000.0       1.0
1  48034700.0       1.0
2  30521000.0       1.0
3         0.0       0.0
4         0.0       0.0
5         0.0       0.0
6  39566000.0       1.0
7         0.0       0.0
8         0.0       0.0
9  23062000.0       1.0

In [38]:
x_test.drop(columns = ['환불금액'], inplace = True)
x_test.head()

,총구매액,최대구매액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기,환불금액_new
0,70900400,22000000,3,9,13,1.461538,0.789474,26,1.0
1,310533100,38558000,9,19,90,2.433333,0.369863,3,1.0
2,305264140,14825000,0,8,101,14.623762,0.083277,3,1.0
3,7594080,5225000,31,9,5,2.000000,0.000000,47,0.0
4,1795790,1411200,19,22,3,2.666667,0.125000,8,0.0

표준화 크기로 변환하기

In [39]:
print(x_train.describe())

               총구매액         최대구매액        주구매상품        주구매지점         내점일수  \
count  3.500000e+03  3.500000e+03  3500.000000  3500.000000  3500.000000
mean   9.191925e+07  1.966424e+07    14.612000    10.734286    19.253714
std    1.635065e+08  3.199235e+07    13.019947     5.636480    27.174942
min   -5.242152e+07 -2.992000e+06     0.000000     0.000000     1.000000
25%    4.747050e+06  2.875000e+06     5.000000     8.000000     2.000000
50%    2.822270e+07  9.837000e+06     9.000000     9.000000     8.000000
75%    1.065079e+08  2.296250e+07    22.000000    15.000000    25.000000
max    2.323180e+09  7.066290e+08    41.000000    23.000000   285.000000

           내점당구매건수       주말방문비율         구매주기     환불금액_new
count  3500.000000  3500.000000  3500.000000  3500.000000
mean      2.834963     0.307246    20.958286     0.344286
std       1.912368     0.289752    24.748682     0.475203
min       1.000000     0.000000     0.000000     0.000000
25%       1.666667     0.027291     4.000000     0.000000
50%       2.333333     0.256410    13.000000     0.000000
75%       3.375000     0.448980    28.000000     1.000000
max      22.083333     1.000000   166.000000     1.000000

In [40]:
print(x_train.describe().T)

           count          mean           std         min           25%  \
총구매액      3500.0  9.191925e+07  1.635065e+08 -52421520.0  4.747050e+06
최대구매액     3500.0  1.966424e+07  3.199235e+07  -2992000.0  2.875000e+06
주구매상품     3500.0  1.461200e+01  1.301995e+01         0.0  5.000000e+00
주구매지점     3500.0  1.073429e+01  5.636480e+00         0.0  8.000000e+00
내점일수      3500.0  1.925371e+01  2.717494e+01         1.0  2.000000e+00
내점당구매건수   3500.0  2.834963e+00  1.912368e+00         1.0  1.666667e+00
주말방문비율    3500.0  3.072463e-01  2.897516e-01         0.0  2.729090e-02
구매주기      3500.0  2.095829e+01  2.474868e+01         0.0  4.000000e+00
환불금액_new  3500.0  3.442857e-01  4.752027e-01         0.0  0.000000e+00

                   50%           75%           max
총구매액      2.822270e+07  1.065079e+08  2.323180e+09
최대구매액     9.837000e+06  2.296250e+07  7.066290e+08
주구매상품     9.000000e+00  2.200000e+01  4.100000e+01
주구매지점     9.000000e+00  1.500000e+01  2.300000e+01
내점일수      8.000000e+00  2.500000e+01  2.850000e+02
내점당구매건수   2.333333e+00  3.375000e+00  2.208333e+01
주말방문비율    2.564103e-01  4.489796e-01  1.000000e+00
구매주기      1.300000e+01  2.800000e+01  1.660000e+02
환불금액_new  0.000000e+00  1.000000e+00  1.000000e+00

In [41]:
from sklearn.preprocessing import StandardScaler

# 표준화 크기 변환을 수행하기 위한 scaler 객체를 만들기
scaler = StandardScaler()

# scaler 객체로 표준화 크기변환을 수행하고, x_train의 칼럼명을 사용하기
x_train = pd.DataFrame(scaler.fit_transform(x_train), columns = x_train.columns)
x_train.head()

,총구매액,최대구매액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기,환불금액_new
0,-0.144580,-0.262608,-0.738357,-1.904703,-0.009338,0.554247,0.758623,-0.159962,1.380060
1,-0.549190,-0.547967,0.490702,1.466677,-0.635003,-0.698168,-1.060530,-0.806554,1.380060
2,-0.542700,-0.563504,-0.661541,-1.727262,-0.635003,-0.436675,-1.060530,-0.806554,-0.724606
3,-0.463911,-0.460465,-0.738357,-1.549821,-0.046142,-0.204236,0.037746,-0.200374,-0.724606
4,-0.384561,0.135544,0.029805,-0.485175,-0.635003,-0.698168,-1.060530,2.588052,-0.724606

In [42]:
x_test.head()

,총구매액,최대구매액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기,환불금액_new
0,70900400,22000000,3,9,13,1.461538,0.789474,26,1.0
1,310533100,38558000,9,19,90,2.433333,0.369863,3,1.0
2,305264140,14825000,0,8,101,14.623762,0.083277,3,1.0
3,7594080,5225000,31,9,5,2.000000,0.000000,47,0.0
4,1795790,1411200,19,22,3,2.666667,0.125000,8,0.0

In [43]:
# 테스트 데이터를 표준화 크기로 변환하기
x_test = pd.DataFrame(scaler.transform(x_test), columns = x_test.columns)
x_test.head()

,총구매액,최대구매액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기,환불금액_new
0,-0.128569,0.073020,-0.891990,-0.307733,-0.230161,-0.718283,1.664517,0.203746,1.380060
1,1.337225,0.590656,-0.431093,1.466677,2.603737,-0.210047,0.216136,-0.725730,1.380060
2,1.304996,-0.151284,-1.122438,-0.485175,3.008579,6.165384,-0.773081,-0.725730,1.380060
3,-0.515803,-0.451399,1.258864,-0.307733,-0.524592,-0.436675,-1.060530,1.052397,-0.724606
4,-0.551271,-0.570626,0.337069,1.999000,-0.598199,-0.088017,-0.629064,-0.523670,-0.724606

In [44]:
# 크기변환 후, x_train 세트의 기초 통계량 확인하기
print(x_train.describe().T)

           count          mean       std       min       25%       50%  \
총구매액      3500.0 -4.409171e-17  1.000143 -0.882909 -0.533218 -0.389621
최대구매액     3500.0 -4.838986e-17  1.000143 -0.708278 -0.524864 -0.307219
주구매상품     3500.0 -6.236281e-17  1.000143 -1.122438 -0.738357 -0.431093
주구매지점     3500.0 -8.333017e-17  1.000143 -1.904703 -0.485175 -0.307733
내점일수      3500.0  2.518303e-16  1.000143 -0.671807 -0.635003 -0.414180
내점당구매건수   3500.0 -2.288170e-16  1.000143 -0.959661 -0.611003 -0.262346
주말방문비율    3500.0  9.192647e-17  1.000143 -1.060530 -0.966329 -0.175472
구매주기      3500.0 -1.220294e-16  1.000143 -0.846966 -0.685318 -0.321610
환불금액_new  3500.0  3.445498e-16  1.000143 -0.724606 -0.724606 -0.724606

               75%        max
총구매액      0.089237  13.648260
최대구매액     0.103110  21.475852
주구매상품     0.567518   2.027026
주구매지점     0.756913   2.176441
내점일수      0.211486   9.780490
내점당구매건수   0.282432  10.066639
주말방문비율    0.489224   2.391196
구매주기      0.284570   5.861421
환불금액_new  1.380060   1.380060

상관관계 확인하기

In [45]:
# '총구매액', '최대구매액', '환불금액_new' 칼럼 간의 상관관계 구하기
print(x_train[['총구매액', '최대구매액', '환불금액_new']].corr())

              총구매액     최대구매액  환불금액_new
총구매액      1.000000  0.700080  0.403357
최대구매액     0.700080  1.000000  0.330687
환불금액_new  0.403357  0.330687  1.000000

In [46]:
# x_train 세트에서 '최대구매액' 칼럼을 삭제한 후, x_train에 저장하기
x_train = x_train.drop(columns = ['최대구매액'])
x_test = x_test.drop(columns = ['최대구매액'])

In [47]:
x_train.head()

,총구매액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기,환불금액_new
0,-0.144580,-0.738357,-1.904703,-0.009338,0.554247,0.758623,-0.159962,1.380060
1,-0.549190,0.490702,1.466677,-0.635003,-0.698168,-1.060530,-0.806554,1.380060
2,-0.542700,-0.661541,-1.727262,-0.635003,-0.436675,-1.060530,-0.806554,-0.724606
3,-0.463911,-0.738357,-1.549821,-0.046142,-0.204236,0.037746,-0.200374,-0.724606
4,-0.384561,0.029805,-0.485175,-0.635003,-0.698168,-1.060530,2.588052,-0.724606

데이터의 중간 결과를 수시로 백업하기

In [48]:
x_train_backup = x_train.copy()

In [52]:
x_train.head()

,총구매액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기,환불금액_new
0,-0.144580,-0.738357,-1.904703,-0.009338,0.554247,0.758623,-0.159962,1.380060
1,-0.549190,0.490702,1.466677,-0.635003,-0.698168,-1.060530,-0.806554,1.380060
2,-0.542700,-0.661541,-1.727262,-0.635003,-0.436675,-1.060530,-0.806554,-0.724606
3,-0.463911,-0.738357,-1.549821,-0.046142,-0.204236,0.037746,-0.200374,-0.724606
4,-0.384561,0.029805,-0.485175,-0.635003,-0.698168,-1.060530,2.588052,-0.724606

In [53]:
y_train.head()

   gender
0       0
1       0
2       1
3       1
4       0

## 1.3 학습하고 평가하기

데이터 학습시키기

In [55]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()

model.fit(x_train, y_train)

y_test_predicted = model.predict(x_test)

print(y_test_predicted)

[1 0 0 ... 1 0 1]

In [56]:
print(pd.DataFrame(y_test_predicted))

      0
0     1
1     0
2     0
3     1
4     0
...  ..
2477  1
2478  1
2479  1
2480  0
2481  1

[2482 rows x 1 columns]

하이퍼 파라미터 튜닝하기 : hyper parameter tuning

In [57]:
model = DecisionTreeClassifier(max_depth = 10, criterion = 'entropy', random_state = 10)

model.fit(x_train, y_train)

y_test_predicted = model.predict(x_test)

print(pd.DataFrame(y_test_predicted))

      0
0     1
1     0
2     0
3     0
4     0
...  ..
2477  0
2478  0
2479  1
2480  0
2481  1

[2482 rows x 1 columns]

GridSearchCV() 함수로 하이퍼 파라미터 튜닝하기

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline

parameters = {'model__max_depth':[3,4,5,6],
              'model__criterion':['gini', 'entropy']}

pipeline_model = Pipeline([('scaler', StandardScaler()), ('model', DecisionTreeClassifier())])

grid_model = GridSearchCV(pipeline_model, param_grid = parameters, cv = 3)

print(grid_model.fit(X_TRAIN, Y_TRAIN))

best_model = grid_model.best_estimator_

y_test_predicted = best_model.predict(x_test)
print(pd.DataFrame(y_test_predicted))

결과 예측하기

In [73]:
y_test_proba = model.predict_proba(x_test)

print(pd.DataFrame(y_test_proba).head())

          0         1
0  1.000000  0.000000
1  0.805785  0.194215
2  1.000000  0.000000
3  0.509091  0.490909
4  0.000000  1.000000

In [74]:
print(pd.DataFrame(y_test_proba)[1])

0       0.000000
1       0.194215
2       0.000000
3       0.490909
4       1.000000
          ...
2477    0.393443
2478    0.533632
2479    1.000000
2480    0.285714
2481    0.000000
Name: 1, Length: 2482, dtype: float64

In [75]:
result = pd.DataFrame(y_test_proba)[1]

모델 평가하기

In [61]:
y_train_predicted = model.predict(x_train)

from sklearn.metrics import roc_auc_score

print(roc_auc_score(y_train, y_train_predicted))

0.6896432468240978

꿀팁4) 테스트 데이터로 모델 평가하기

In [64]:
from sklearn.model_selection import train_test_split

X_TRAIN, X_TEST, Y_TRAIN, Y_TEST = train_test_split(x_train, y_train, test_size = 0.2, random_state = 10)

print(X_TRAIN.shape)

(2800, 8)

In [65]:
print(X_TEST.shape)

(700, 8)

In [66]:
print(Y_TRAIN.shape)

(2800, 1)

In [67]:
print(Y_TEST.shape)

(700, 1)

In [68]:
model = DecisionTreeClassifier(max_depth=10, criterion='entropy', random_state = 10)

model.fit(X_TRAIN, Y_TRAIN)

Y_TEST_PREDICTED = model.predict(X_TEST)

In [69]:
from sklearn.metrics import roc_auc_score

print(roc_auc_score(Y_TEST, Y_TEST_PREDICTED))

0.5771332492643968

## 1.4 결과 제출하기

In [76]:
result

0       0.000000
1       0.194215
2       0.000000
3       0.490909
4       1.000000
          ...
2477    0.393443
2478    0.533632
2479    1.000000
2480    0.285714
2481    0.000000
Name: 1, Length: 2482, dtype: float64

In [77]:
pd.concat([x_test_cust_id, result], axis=1)

      cust_id         1
0        3500  0.000000
1        3501  0.194215
2        3502  0.000000
3        3503  0.490909
4        3504  1.000000
...       ...       ...
2477     5977  0.393443
2478     5978  0.533632
2479     5979  1.000000
2480     5980  0.285714
2481     5981  0.000000

[2482 rows x 2 columns]

In [78]:
pd.concat([x_test_cust_id, result], axis=1).rename(columns = {1:'gender'})

      cust_id    gender
0        3500  0.000000
1        3501  0.194215
2        3502  0.000000
3        3503  0.490909
4        3504  1.000000
...       ...       ...
2477     5977  0.393443
2478     5978  0.533632
2479     5979  1.000000
2480     5980  0.285714
2481     5981  0.000000

[2482 rows x 2 columns]

In [79]:
final = pd.concat([x_test_cust_id, result], axis=1).rename(columns = {1:'gender'})
final.to_csv('12345.csv', index=False)

꿀팁5) 제출된 파일의 정상 여부를 확인하기

In [80]:
final_confirm = pd.read_csv('12345.csv')
print(final_confirm)

      cust_id    gender
0        3500  0.000000
1        3501  0.194215
2        3502  0.000000
3        3503  0.490909
4        3504  1.000000
...       ...       ...
2477     5977  0.393443
2478     5978  0.533632
2479     5979  1.000000
2480     5980  0.285714
2481     5981  0.000000

[2482 rows x 2 columns]

최종 제출 코드

In [83]:
# 라이브러리와 파일 읽기
import pandas as pd
x_train = pd.read_csv('x_train.csv', encoding='cp949')
x_test = pd.read_csv('x_test.csv', encoding='cp949')
y_train = pd.read_csv('y_train.csv', encoding='cp949')

# 테스트 데이터의 cust_id 저장하기
x_test_cust_id = x_test['cust_id']

# cust_id 칼럼 삭제하기
x_train = x_train.drop(columns = ['cust_id'])
y_train = y_train.drop(columns = ['cust_id'])
x_test = x_test.drop(columns = ['cust_id'])

# 결측치 처리하기
x_train['환불금액'] = x_train['환불금액'].fillna(0)
x_test['환불금액'] = x_test['환불금액'].fillna(0)

# 라벨 인코딩 수행하기
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
x_train['주구매상품'] = encoder.fit_transform(x_train['주구매상품'])
x_test['주구매상품'] = encoder.fit_transform(x_test['주구매상품'])
x_train['주구매지점'] = encoder.fit_transform(x_train['주구매지점'])
x_test['주구매지점'] = encoder.fit_transform(x_test['주구매지점'])

# 파생변수 만들기
condition = x_train['환불금액'] > 0
x_train.loc[condition, '환불금액_new'] = 1
x_train.loc[~condition, '환불금액_new'] = 0
x_train = x_train.drop(columns = ['환불금액'])

x_test.loc[condition, '환불금액_new'] = 1
x_test.loc[~condition, '환불금액_new'] = 0
x_test = x_test.drop(columns = ['환불금액'])

# 데이터 스케일링 : 표준화 크기로 변환하기
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = pd.DataFrame(scaler.fit_transform(x_train), columns = x_train.columns)
x_test = pd.DataFrame(scaler.fit_transform(x_test), columns = x_test.columns)

# 불필요한 칼럼 삭제하기
x_train = x_train.drop(columns = ['최대구매액'])
x_test = x_test.drop(columns = ['최대구매액'])

# 학습용/검증용 데이터로 분리하기
from sklearn.model_selection import train_test_split
X_TRAIN, X_TEST, Y_TRAIN, Y_TEST = train_test_split(x_train, y_train, test_size = 0.2, random_state = 10)

# 모델 학습 및 평가하기
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(max_depth = 10, criterion='entropy', random_state = 10)
model.fit(X_TRAIN, Y_TRAIN)
y_test_proba = model.predict_proba(X_TEST)

# 결과 제출하기
result = pd.DataFrame(y_test_proba)[1]
final = pd.concat([x_test_cust_id, result], axis=1).rename(columns={1:'gender'})
final.to_csv('12345.csv', index = False)
confirm = pd.read_csv('12345.csv')
confirm

      cust_id    gender
0        3500  0.409091
1        3501  1.000000
2        3502  1.000000
3        3503  0.684211
4        3504  0.156250
...       ...       ...
2477     5977       NaN
2478     5978       NaN
2479     5979       NaN
2480     5980       NaN
2481     5981       NaN

[2482 rows x 2 columns]