## 2.1 데이터 탐색하기

데이터 가져오기

In [1]:
import pandas as pd

x_train = pd.read_csv('titanic_x_train.csv', encoding='cp949')
x_test = pd.read_csv('titanic_x_test.csv', encoding='cp949')
y_train = pd.read_csv('titanic_y_train.csv', encoding='cp949')

In [2]:
print(x_train.head(1).T)

                                   0
PassengerId                        1
티켓등급                               3
승객이름         Braund, Mr. Owen Harris
성별                              male
나이                              22.0
형제자매배우자수                           1
부모자식수                              0
티켓번호                       A/5 21171
운임요금                            7.25
객실번호                             NaN
선착장                                S

In [3]:
print(x_test.head(1).T)

                            0
PassengerId               892
티켓등급                        3
승객이름         Kelly, Mr. James
성별                       male
나이                       34.5
형제자매배우자수                    0
부모자식수                       0
티켓번호                   330911
운임요금                   7.8292
객실번호                      NaN
선착장                         Q

In [4]:
print(y_train.head(5))

   癤풮assengerId  Survived
0             1         0
1             2         1
2             3         1
3             4         1
4             5         0

In [5]:
y_train.columns = ['PassengerId', 'Survived']
y_train.head()

   PassengerId  Survived
0            1         0
1            2         1
2            3         1
3            4         1
4            5         0

행/열 확인하기

In [6]:
print(x_train.shape)

(891, 11)

In [7]:
print(x_test.shape)

(418, 11)

In [8]:
print(y_train.shape)

(891, 2)

요약정보 확인하기

In [9]:
print(x_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   티켓등급         891 non-null    int64
 2   승객이름         891 non-null    object
 3   성별           891 non-null    object
 4   나이           714 non-null    float64
 5   형제자매배우자수     891 non-null    int64
 6   부모자식수        891 non-null    int64
 7   티켓번호         891 non-null    object
 8   운임요금         891 non-null    float64
 9   객실번호         204 non-null    object
 10  선착장          889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 76.7+ KB
None

In [10]:
print(x_train['성별'].unique().size)

2

In [11]:
print(x_train['성별'].unique())

['male' 'female']

In [12]:
print(x_train['선착장'].unique().size)

4

In [13]:
print(x_train['선착장'].unique())

['S' 'C' 'Q' nan]

In [14]:
print(x_train['승객이름'].unique().size)

891

In [15]:
print(x_train['티켓번호'].unique().size)

681

In [16]:
print(x_train['객실번호'].unique().size)

148

기초 통계량 확인하기

In [17]:
print(x_train.describe().T)

             count        mean         std   min       25%       50%    75%  \
PassengerId  891.0  446.000000  257.353842  1.00  223.5000  446.0000  668.5
티켓등급         891.0    2.308642    0.836071  1.00    2.0000    3.0000    3.0
나이           714.0   29.699118   14.526497  0.42   20.1250   28.0000   38.0
형제자매배우자수     891.0    0.523008    1.102743  0.00    0.0000    0.0000    1.0
부모자식수        891.0    0.381594    0.806057  0.00    0.0000    0.0000    0.0
운임요금         891.0   32.204208   49.693429  0.00    7.9104   14.4542   31.0

                  max
PassengerId  891.0000
티켓등급           3.0000
나이            80.0000
형제자매배우자수       8.0000
부모자식수          6.0000
운임요금         512.3292

독립변수와 종속변수의 관계 확인하기

In [18]:
data = pd.concat([x_train, y_train], axis = 1)

In [19]:
print(data.groupby(['성별'])['Survived'].mean())

성별
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [20]:
print(data.groupby(['티켓등급'])['Survived'].mean())

티켓등급
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

In [21]:
print(data.groupby(['선착장'])['Survived'].mean())

선착장
C    0.553571
Q    0.389610
S    0.336957
Name: Survived, dtype: float64

## 2.2 전처리하기

불필요한 칼럼 삭제하기

In [22]:
x_test_passenger_id = x_test['PassengerId']

In [23]:
x_train = x_train.drop(columns=['PassengerId'])
x_test = x_test.drop(columns=['PassengerId'])
y_train = y_train.drop(columns=['PassengerId'])

In [24]:
print(x_train.head().T)

                                0  \
티켓등급                            3
승객이름      Braund, Mr. Owen Harris
성별                           male
나이                           22.0
형제자매배우자수                        1
부모자식수                           0
티켓번호                    A/5 21171
운임요금                         7.25
객실번호                          NaN
선착장                             S

                                                          1  \
티켓등급                                                      1
승객이름      Cumings, Mrs. John Bradley (Florence Briggs Th...
성별                                                   female
나이                                                     38.0
형제자매배우자수                                                  1
부모자식수                                                     0
티켓번호                                               PC 17599
운임요금                                                71.2833
객실번호                                                    C85
선착장                                                       C

                               2  \
티켓등급                           3
승객이름      Heikkinen, Miss. Laina
성별                        female
나이                          26.0
형제자매배우자수                       0
부모자식수                          0
티켓번호            STON/O2. 3101282
운임요금                       7.925
객실번호                         NaN
선착장                            S

                                                     3  \
티켓등급                                                 1
승객이름      Futrelle, Mrs. Jacques Heath (Lily May Peel)
성별                                              female
나이                                                35.0
형제자매배우자수                                             1
부모자식수                                                0
티켓번호                                            113803
운임요금                                              53.1
객실번호                                              C123
선착장                                                  S

                                 4
티켓등급                             3
승객이름      Allen, Mr. William Henry
성별                            male
나이                            35.0
형제자매배우자수                         0
부모자식수                            0
티켓번호                        373450
운임요금                          8.05
객실번호                           NaN
선착장                              S

In [25]:
print(y_train.head())

   Survived
0         0
1         1
2         1
3         1
4         0

In [26]:
x_train = x_train.drop(columns=['티켓번호'])
x_test = x_test.drop(columns=['티켓번호'])

In [27]:
x_train = x_train.drop(columns=['승객이름'])
x_test = x_test.drop(columns=['승객이름'])

결측치 처리하기

In [28]:
print(x_train['나이'].isnull().sum())

177

In [29]:
print(x_train['객실번호'].isnull().sum())

687

In [30]:
print(x_train['선착장'].isnull().sum())

2

In [31]:
print(data[['나이', 'Survived']].corr())

                나이  Survived
나이        1.000000 -0.077221
Survived -0.077221  1.000000

In [32]:
data[['나이', 'Survived']].corr()

                나이  Survived
나이        1.000000 -0.077221
Survived -0.077221  1.000000

In [33]:
x_train = x_train.drop(columns = ['나이'])
x_test = x_test.drop(columns = ['나이'])

In [34]:
print(x_train['객실번호'].unique().size)

148

In [35]:
x_train = x_train.drop(columns = ['객실번호'])

In [36]:
x_test = x_test.drop(columns = ['객실번호'])

In [37]:
print(x_train.groupby(['선착장'])['선착장'].count())

선착장
C    168
Q     77
S    644
Name: 선착장, dtype: int64

In [38]:
x_train['선착장'] = x_train['선착장'].fillna('S')
print(x_train['선착장'].isnull().sum())

0

In [39]:
print(x_test['선착장'].isnull().sum())

0

범주형 변수를 인코딩하기

In [40]:
x_train['성별'] = x_train['성별'].replace('male',0).replace('female',1)
x_test['성별'] = x_test['성별'].replace('male',0).replace('female',1)

In [41]:
선착장_dummy = pd.get_dummies(x_train['선착장'], drop_first = True).rename(columns={'Q':'선착장Q', 'S':'선착장S'})
x_train = pd.concat([x_train, 선착장_dummy], axis=1)
print(x_train.head())

   티켓등급  성별  형제자매배우자수  부모자식수     운임요금 선착장  선착장Q  선착장S
0     3   0         1      0   7.2500   S     0     1
1     1   1         1      0  71.2833   C     0     0
2     3   1         0      0   7.9250   S     0     1
3     1   1         1      0  53.1000   S     0     1
4     3   0         0      0   8.0500   S     0     1

In [42]:
x_train.head()

   티켓등급  성별  형제자매배우자수  부모자식수     운임요금 선착장  선착장Q  선착장S
0     3   0         1      0   7.2500   S     0     1
1     1   1         1      0  71.2833   C     0     0
2     3   1         0      0   7.9250   S     0     1
3     1   1         1      0  53.1000   S     0     1
4     3   0         0      0   8.0500   S     0     1

In [43]:
x_train = x_train.drop(columns = ['선착장'])

In [44]:
선착장_dummy = pd.get_dummies(x_test['선착장'], drop_first = True).rename(columns={'Q':'선착장Q', 'S':'선착장S'})
x_test = pd.concat([x_test, 선착장_dummy], axis=1)
x_test = x_test.drop(columns=['선착장'])
print(x_test.head())

   티켓등급  성별  형제자매배우자수  부모자식수     운임요금  선착장Q  선착장S
0     3   0         0      0   7.8292     1     0
1     3   1         1      0   7.0000     0     1
2     2   0         0      0   9.6875     1     0
3     3   0         0      0   8.6625     0     1
4     3   1         1      1  12.2875     0     1

In [45]:
x_test.head()

   티켓등급  성별  형제자매배우자수  부모자식수     운임요금  선착장Q  선착장S
0     3   0         0      0   7.8292     1     0
1     3   1         1      0   7.0000     0     1
2     2   0         0      0   9.6875     1     0
3     3   0         0      0   8.6625     0     1
4     3   1         1      1  12.2875     0     1

파생변수 만들기

In [46]:
x_train['가족수'] = x_train['형제자매배우자수'] + x_train['부모자식수']
print(x_train[['형제자매배우자수', '부모자식수', '가족수']].head(10))

   형제자매배우자수  부모자식수  가족수
0         1      0    1
1         1      0    1
2         0      0    0
3         1      0    1
4         0      0    0
5         0      0    0
6         0      0    0
7         3      1    4
8         0      2    2
9         1      0    1

In [47]:
x_train = x_train.drop(columns = ['형제자매배우자수', '부모자식수'])

In [48]:
x_test['가족수'] = x_test['형제자매배우자수'] + x_test['부모자식수']
x_test = x_test.drop(columns = ['형제자매배우자수', '부모자식수'])

## 2.3 학습하고 평가하기

데이터 분리하기

In [49]:
from sklearn.model_selection import train_test_split

X_TRAIN, X_TEST, Y_TRAIN, Y_TEST = train_test_split(x_train, y_train, test_size = 0.2, random_state = 10)

In [50]:
print(X_TRAIN.shape)

(712, 6)

In [51]:
print(X_TEST.shape)

(179, 6)

In [52]:
print(Y_TRAIN.shape)

(712, 1)

In [53]:
print(Y_TEST.shape)

(179, 1)

데이터 학습 및 하이퍼 파라미터 튜닝하기

In [55]:
from xgboost import XGBClassifier
model = XGBClassifier(eval_metric = 'error', random_state = 10, use_label_encoder = False)
model.fit(X_TRAIN, Y_TRAIN)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              eval_metric='error', gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=8,
              num_parallel_tree=1, predictor='auto', random_state=10,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', use_label_encoder=False,
              validate_parameters=1, verbosity=None)

In [56]:
model2 = XGBClassifier(n_estimators = 100, max_depth = 5, eval_metric = 'error', random_state = 10)
model2.fit(X_TRAIN, Y_TRAIN)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              eval_metric='error', gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=5, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=8,
              num_parallel_tree=1, predictor='auto', random_state=10,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

결과 예측하기

In [57]:
y_test_predicted = model.predict(x_test)
y_test_predicted

array([0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1])

In [59]:
y_test_predicted = pd.DataFrame(y_test_predicted)
y_test_predicted

     0
0    0
1    0
2    0
3    0
4    1
..  ..
413  0
414  1
415  0
416  0
417  1

[418 rows x 1 columns]

In [60]:
y_test_predicted = y_test_predicted.rename(columns={0:'Survived'})

In [62]:
y_test_predicted.head(10)

   Survived
0         0
1         0
2         0
3         0
4         1
5         0
6         0
7         1
8         1
9         0

승객이 사망할 확률을 구한다면?

In [63]:
pd.DataFrame(model.predict_proba(x_test))[0]

0      0.914809
1      0.553258
2      0.914584
3      0.919943
4      0.092902
         ...
413    0.877425
414    0.004091
415    0.979298
416    0.877425
417    0.409309
Name: 0, Length: 418, dtype: float32

승객이 생존할 확률을 구한다면?

In [64]:
pd.DataFrame(model.predict_proba(x_test))[1]

0      0.085191
1      0.446742
2      0.085416
3      0.080057
4      0.907098
         ...
413    0.122575
414    0.995909
415    0.020702
416    0.122575
417    0.590691
Name: 1, Length: 418, dtype: float32

In [65]:
Y_TEST_PREDICTED = pd.DataFrame(model.predict(X_TEST))
Y_TEST_PREDICTED

     0
0    0
1    0
2    0
3    1
4    1
..  ..
174  1
175  0
176  0
177  0
178  0

[179 rows x 1 columns]

모델 평가하기

In [66]:
from sklearn.metrics import roc_auc_score

In [67]:
print(roc_auc_score(Y_TEST, Y_TEST_PREDICTED))

0.7731596360628619

## 2.4 결과 제출하기

In [68]:
print(pd.concat([x_test_passenger_id, y_test_predicted], axis=1))

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

In [69]:
final = pd.concat([x_test_passenger_id, y_test_predicted], axis=1)
final.to_csv('2022.03.02.csv', index=False)

In [70]:
test = pd.read_csv('2022.03.02.csv')
test

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

최종 제출 코드

In [78]:
# 데이터 가져오기
import pandas as pd
x_train = pd.read_csv('titanic_x_train.csv', encoding='cp949')
x_test = pd.read_csv('titanic_x_test.csv', encoding='cp949')
y_train = pd.read_csv('titanic_y_train.csv', encoding='cp949')

y_train.columns = ['PassengerId', 'Survived']

# 전처리하기
x_test_passenger_id = x_test['PassengerId']
x_train = x_train.drop(columns = ['PassengerId'])
x_test = x_test.drop(columns = ['PassengerId'])
y_train = y_train.drop(columns = ['PassengerId'])

x_train = x_train.drop(columns = ['티켓번호'])
x_test = x_test.drop(columns = ['티켓번호'])

x_train = x_train.drop(columns = ['승객이름'])
x_test = x_test.drop(columns = ['승객이름'])

x_train = x_train.drop(columns = ['나이'])
x_test = x_test.drop(columns = ['나이'])

x_train = x_train.drop(columns = ['객실번호'])
x_test = x_test.drop(columns = ['객실번호'])

# 결측치 처리하기
x_train['선착장'] = x_train['선착장'].fillna('S')
x_test['선착장'] = x_test['선착장'].fillna('S')

# 인코딩 수행하기
x_train['성별'] = x_train['성별'].replace('male', 0).replace('female',1)
x_test['성별'] = x_test['성별'].replace('male', 0).replace('female',1)
선착장_dummy = pd.get_dummies(x_train['선착장'], drop_first = True).rename(columns = {'Q':'선착장Q', 'S':'선착장S'})

x_train = pd.concat([x_train, 선착장_dummy], axis=1)
x_train = x_train.drop(columns = ['선착장'])

선착장_dummy = pd.get_dummies(x_test['선착장'], drop_first = True).rename(columns = {'Q':'선착장Q', 'S':'선착장S'})
x_test = pd.concat([x_test, 선착장_dummy], axis=1)
x_test = x_test.drop(columns = ['선착장'])

# 파생변수 만들기
x_train['가족수'] = x_train['형제자매배우자수'] + x_train['부모자식수']
x_train = x_train.drop(columns = ['형제자매배우자수', '부모자식수'])

x_test['가족수'] = x_test['형제자매배우자수'] + x_test['부모자식수']
x_test = x_test.drop(columns = ['형제자매배우자수', '부모자식수'])

# 데이터 분리하기
from sklearn.model_selection import train_test_split
X_TRAIN, X_TEST, Y_TRAIN, Y_TEST = train_test_split(x_train, y_train, test_size = 0.2, random_state = 10)

# 모델 학습하기
from xgboost import XGBClassifier
model = XGBClassifier(n_estimators = 100, max_depth = 5, eval_metric = 'error', use_label_encoder = False, random_state = 10)
model.fit(X_TRAIN, Y_TRAIN)

# 최종 결과를 파일로 저장하기
y_test_predicted = pd.DataFrame(model.predict(x_test)).rename(columns={0:'Survived'})
final = pd.concat([x_test_passenger_id, y_test_predicted], axis=1)
final.to_csv('2022.03.02.csv', index=False)

In [79]:
x_train.head()

   티켓등급  성별     운임요금  선착장Q  선착장S  가족수
0     3   0   7.2500     0     1    1
1     1   1  71.2833     0     0    1
2     3   1   7.9250     0     1    0
3     1   1  53.1000     0     1    1
4     3   0   8.0500     0     1    0

In [80]:
final

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]