In [1]:
import pandas as pd

data = ['a','a','b','b','a','a','a','a','b','b','b','b','b','a','a','b','b','a','b','b']

In [4]:
test_df = pd.DataFrame(data, columns = ['product'])
test_df

   product
0        a
1        a
2        b
3        b
4        a
5        a
6        a
7        a
8        b
9        b
10       b
11       b
12       b
13       a
14       a
15       b
16       b
17       a
18       b
19       b

In [5]:
test_df.loc[test_df['product'] == 'a', 'product'] = 1
test_df.loc[test_df['product'] == 'b', 'product'] = 0

In [6]:
test_df['product']

0     1
1     1
2     0
3     0
4     1
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    0
13    1
14    1
15    0
16    0
17    1
18    0
19    0
Name: product, dtype: object

In [7]:
from statsmodels.sandbox.stats.runs import runstest_1samp
runstest_1samp(test_df['product'])

(-1.1144881152070183, 0.26506984027306035)