### 1. 그룹별 집계/요약하기

In [1]:
import pandas as pd
data = pd.read_csv('boston.csv')
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,NaN,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [2]:
data2 = data[data['TAX'] > data['TAX'].median()]
print(data['TAX'].median())
data2.head()

330.0

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
54,0.01360,75.0,4.00,0,0.410,5.888,47.6,7.3197,3,469,21.1,396.90,14.80,18.9
65,0.03584,80.0,3.37,0,0.398,6.290,17.8,6.6115,4,337,16.1,396.90,4.67,23.5
66,0.04379,80.0,3.37,0,0.398,5.787,31.1,6.6115,4,337,16.1,396.90,10.24,19.4
67,0.05789,12.5,6.07,0,0.409,5.878,21.4,6.4980,4,345,18.9,396.21,8.10,22.0
68,0.13554,12.5,6.07,0,0.409,5.594,36.8,6.4980,4,345,18.9,396.90,13.09,17.4

In [3]:
data3 = data2.groupby(['CHAS','RAD'])['CHAS'].count()
data3

CHAS  RAD
0     1        3
      2        2
      3        5
      4       33
      5       51
      6       17
      24     124
1     5        7
      24       8
Name: CHAS, dtype: int64

In [4]:
import pandas as pd
data = pd.read_csv('boston.csv')
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,NaN,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [5]:
tax_median = data['TAX'].median()
print(tax_median)

330.0

In [6]:
print(data['TAX'] > tax_median)

0      False
1      False
2      False
3      False
4      False
       ...
501    False
502    False
503    False
504    False
505    False
Name: TAX, Length: 506, dtype: bool

In [7]:
print(data[data['TAX'] > tax_median])

        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  \
54   0.01360  75.0   4.00     0  0.410  5.888  47.6  7.3197    3  469
65   0.03584  80.0   3.37     0  0.398  6.290  17.8  6.6115    4  337
66   0.04379  80.0   3.37     0  0.398  5.787  31.1  6.6115    4  337
67   0.05789  12.5   6.07     0  0.409  5.878  21.4  6.4980    4  345
68   0.13554  12.5   6.07     0  0.409  5.594  36.8  6.4980    4  345
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
496  0.28960   0.0   9.69     0  0.585  5.390  72.9  2.7986    6  391
497  0.26838   0.0   9.69     0  0.585    NaN  70.6  2.8927    6  391
498  0.23912   0.0   9.69     0  0.585  6.019  65.3  2.4091    6  391
499  0.17783   0.0   9.69     0  0.585  5.569  73.5  2.3999    6  391
500  0.22438   0.0   9.69     0  0.585  6.027  79.7  2.4982    6  391

     PTRATIO       B  LSTAT  MEDV
54      21.1  396.90  14.80  18.9
65      16.1  396.90   4.67  23.5
66      16.1  396.90  10.24  19.4
67      18.9  396.21   8.10  22.0
68      18.9  396.90  13.09  17.4
..       ...     ...    ...   ...
496     19.2  396.90  21.14  19.7
497     19.2  396.90  14.10  18.3
498     19.2  396.90  12.92  21.2
499     19.2  395.77  15.10  17.5
500     19.2  396.90  14.33  16.8

[250 rows x 14 columns]

In [8]:
print(data[data['TAX'] > tax_median][['CHAS', 'RAD']])

     CHAS  RAD
54      0    3
65      0    4
66      0    4
67      0    4
68      0    4
..    ...  ...
496     0    6
497     0    6
498     0    6
499     0    6
500     0    6

[250 rows x 2 columns]

In [9]:
data_new = data[data['TAX'] > tax_median][['CHAS', 'RAD']]
print(data_new['CHAS'].unique())

[0 1]

In [10]:
print(data_new['RAD'].unique())

[ 3  4  5  6  2  1 24]

In [11]:
data_new2 = data_new.groupby(['CHAS', 'RAD'])['RAD'].count()
data_new2

CHAS  RAD
0     1        3
      2        2
      3        5
      4       33
      5       51
      6       17
      24     124
1     5        7
      24       8
Name: RAD, dtype: int64

In [12]:
print(type(data_new2))

<class 'pandas.core.series.Series'>

In [13]:
data_new3 = pd.DataFrame(data_new2)
data_new3.columns = ['COUNT']
print(data_new3)

          COUNT
CHAS RAD
0    1        3
     2        2
     3        5
     4       33
     5       51
     6       17
     24     124
1    5        7
     24       8

In [14]:
import pandas as pd
data = pd.read_csv('boston.csv')
tax_median = data['TAX'].median()
data_new = data[data['TAX'] > tax_median][['CHAS', 'RAD']]
data_new2 = data_new.groupby(['CHAS', 'RAD'])['RAD'].count()
data_new3 = pd.DataFrame(data_new2)
data_new3.columns = ['COUNT']
print(data_new3)

          COUNT
CHAS RAD
0    1        3
     2        2
     3        5
     4       33
     5       51
     6       17
     24     124
1    5        7
     24       8

### 2. 오름차순/내림차순 정렬하기

In [15]:
import pandas as pd
data = pd.read_csv('boston.csv')
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,NaN,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [16]:
data_asc = data.sort_values(by='TAX', ascending=True)
print(data_asc.reset_index())

     index     CRIM    ZN  INDUS  CHAS    NOX     RM   AGE      DIS  RAD  TAX  \
0      353  0.01709  90.0   2.02     0  0.410  6.728  36.1  12.1265    5  187
1      123  0.15038   0.0  25.65     0  0.581  5.856  97.0   1.9444    2  188
2      122  0.09299   0.0  25.65     0  0.581  5.961  92.9   2.0869    2  188
3      126  0.38735   0.0  25.65     0  0.581  5.613  95.6   1.7572    2  188
4      125  0.16902   0.0  25.65     0  0.581  5.986  88.4   1.9929    2  188
..     ...      ...   ...    ...   ...    ...    ...   ...      ...  ...  ...
501    492  0.11132   0.0  27.74     0  0.609  5.983  83.5   2.1099    4  711
502    491  0.10574   0.0  27.74     0  0.609  5.983  98.8   1.8681    4  711
503    490  0.20746   0.0  27.74     0  0.609  5.093  98.0   1.8226    4  711
504    489  0.18337   0.0  27.74     0  0.609  5.414  98.3   1.7554    4  711
505    488  0.15086   0.0  27.74     0  0.609  5.454  92.7   1.8209    4  711

     PTRATIO       B  LSTAT  MEDV
0       17.0  384.46   4.50  30.1
1       19.1  370.31  25.41  17.3
2       19.1  378.09  17.93  20.5
3       19.1  359.29  27.26  15.7
4       19.1  385.02  14.81  21.4
..       ...     ...    ...   ...
501     20.1  396.90  13.35  20.1
502     20.1  390.11  18.07  13.6
503     20.1  318.43  29.68   8.1
504     20.1  344.05  23.97   7.0
505     20.1  395.09  18.06  15.2

[506 rows x 15 columns]

In [17]:
data_desc = data.sort_values(by='TAX', ascending=False)
print(data_desc.reset_index())

     index     CRIM    ZN  INDUS  CHAS    NOX     RM   AGE      DIS  RAD  TAX  \
0      492  0.11132   0.0  27.74     0  0.609  5.983  83.5   2.1099    4  711
1      491  0.10574   0.0  27.74     0  0.609  5.983  98.8   1.8681    4  711
2      490  0.20746   0.0  27.74     0  0.609  5.093  98.0   1.8226    4  711
3      489  0.18337   0.0  27.74     0  0.609  5.414  98.3   1.7554    4  711
4      488  0.15086   0.0  27.74     0  0.609  5.454  92.7   1.8209    4  711
..     ...      ...   ...    ...   ...    ...    ...   ...      ...  ...  ...
501    121  0.07165   0.0  25.65     0  0.581  6.004  84.1   2.1974    2  188
502    120  0.06899   0.0  25.65     0  0.581  5.870  69.7   2.2577    2  188
503    125  0.16902   0.0  25.65     0  0.581  5.986  88.4   1.9929    2  188
504    124  0.09849   0.0  25.65     0  0.581  5.879  95.8   2.0063    2  188
505    353  0.01709  90.0   2.02     0  0.410  6.728  36.1  12.1265    5  187

     PTRATIO       B  LSTAT  MEDV
0       20.1  396.90  13.35  20.1
1       20.1  390.11  18.07  13.6
2       20.1  318.43  29.68   8.1
3       20.1  344.05  23.97   7.0
4       20.1  395.09  18.06  15.2
..       ...     ...    ...   ...
501     19.1  377.67  14.27  20.3
502     19.1  389.15  14.37  22.0
503     19.1  385.02  14.81  21.4
504     19.1  379.38  17.58  18.8
505     17.0  384.46   4.50  30.1

[506 rows x 15 columns]

In [18]:
data_diff = data_asc - data_desc
print(data_diff.head(30))

    CRIM   ZN  INDUS  CHAS  NOX   RM  AGE  DIS  RAD  TAX  PTRATIO    B  LSTAT  \
0    0.0  0.0    0.0     0  0.0  0.0  0.0  0.0    0    0      0.0  0.0    0.0
1    0.0  0.0    0.0     0  0.0  0.0  0.0  0.0    0    0      0.0  0.0    0.0
2    0.0  0.0    0.0     0  0.0  0.0  0.0  0.0    0    0      0.0  0.0    0.0
3    0.0  0.0    0.0     0  0.0  0.0  0.0  0.0    0    0      0.0  0.0    0.0
4    0.0  0.0    0.0     0  0.0  0.0  0.0  0.0    0    0      0.0  0.0    0.0
5    0.0  0.0    0.0     0  0.0  0.0  0.0  0.0    0    0      0.0  0.0    0.0
6    0.0  0.0    0.0     0  0.0  NaN  0.0  0.0    0    0      0.0  0.0    0.0
7    0.0  0.0    0.0     0  0.0  0.0  0.0  0.0    0    0      0.0  0.0    0.0
8    0.0  0.0    0.0     0  0.0  0.0  0.0  0.0    0    0      0.0  0.0    0.0
9    0.0  0.0    0.0     0  0.0  0.0  0.0  0.0    0    0      0.0  0.0    0.0
10   0.0  0.0    0.0     0  0.0  0.0  0.0  0.0    0    0      0.0  0.0    0.0
11   0.0  0.0    0.0     0  0.0  0.0  0.0  0.0    0    0      0.0  0.0    0.0
12   0.0  0.0    0.0     0  0.0  0.0  0.0  0.0    0    0      0.0  0.0    0.0
13   0.0  0.0    0.0     0  0.0  0.0  0.0  0.0    0    0      0.0  0.0    0.0
14   0.0  0.0    0.0     0  0.0  0.0  0.0  0.0    0    0      0.0  0.0    0.0
15   0.0  0.0    0.0     0  0.0  NaN  0.0  0.0    0    0      0.0  0.0    0.0
16   0.0  0.0    0.0     0  0.0  0.0  0.0  0.0    0    0      0.0  0.0    0.0
17   0.0  0.0    0.0     0  0.0  0.0  0.0  0.0    0    0      0.0  0.0    0.0
18   0.0  0.0    0.0     0  0.0  0.0  0.0  0.0    0    0      0.0  0.0    0.0
19   0.0  0.0    0.0     0  0.0  0.0  0.0  0.0    0    0      0.0  0.0    0.0
20   0.0  0.0    0.0     0  0.0  0.0  0.0  0.0    0    0      0.0  0.0    0.0
21   0.0  0.0    0.0     0  0.0  0.0  0.0  0.0    0    0      0.0  0.0    0.0
22   0.0  0.0    0.0     0  0.0  0.0  0.0  0.0    0    0      0.0  0.0    0.0
23   0.0  0.0    0.0     0  0.0  0.0  0.0  0.0    0    0      0.0  0.0    0.0
24   0.0  0.0    0.0     0  0.0  0.0  0.0  0.0    0    0      0.0  0.0    0.0
25   0.0  0.0    0.0     0  0.0  0.0  0.0  0.0    0    0      0.0  0.0    0.0
26   0.0  0.0    0.0     0  0.0  0.0  0.0  0.0    0    0      0.0  0.0    0.0
27   0.0  0.0    0.0     0  0.0  0.0  0.0  0.0    0    0      0.0  0.0    0.0
28   0.0  0.0    0.0     0  0.0  0.0  0.0  0.0    0    0      0.0  0.0    0.0
29   0.0  0.0    0.0     0  0.0  NaN  0.0  0.0    0    0      0.0  0.0    0.0

    MEDV
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
10   0.0
11   0.0
12   0.0
13   0.0
14   0.0
15   0.0
16   0.0
17   0.0
18   0.0
19   0.0
20   0.0
21   0.0
22   0.0
23   0.0
24   0.0
25   0.0
26   0.0
27   0.0
28   0.0
29   0.0

Answer

In [19]:
import pandas as pd
data = pd.read_csv('boston.csv')
data_asc = data['TAX'].copy()
data_desc = data['TAX'].copy()
print(data_asc.sort_values(ascending=True))

353    187
123    188
122    188
126    188
125    188
      ...
492    711
491    711
490    711
489    711
488    711
Name: TAX, Length: 506, dtype: int64

In [20]:
data_asc.sort_values(inplace=True)
print(data_asc)

353    187
123    188
122    188
126    188
125    188
      ...
492    711
491    711
490    711
489    711
488    711
Name: TAX, Length: 506, dtype: int64

In [21]:
data_desc.sort_values(ascending=False, inplace=True)
print(data_desc)

492    711
491    711
490    711
489    711
488    711
      ...
121    188
120    188
125    188
124    188
353    187
Name: TAX, Length: 506, dtype: int64

In [22]:
data_asc.reset_index(drop=True, inplace=True)
print(data_asc)

0      187
1      188
2      188
3      188
4      188
      ...
501    711
502    711
503    711
504    711
505    711
Name: TAX, Length: 506, dtype: int64

In [23]:
data_desc.reset_index(drop=True, inplace=True)
print(data_desc)

0      711
1      711
2      711
3      711
4      711
      ...
501    188
502    188
503    188
504    188
505    187
Name: TAX, Length: 506, dtype: int64

In [24]:
data_concat = pd.concat([data_asc, data_desc], axis=1)
print(data_concat)

     TAX  TAX
0    187  711
1    188  711
2    188  711
3    188  711
4    188  711
..   ...  ...
501  711  188
502  711  188
503  711  188
504  711  188
505  711  187

[506 rows x 2 columns]

In [25]:
print(data_concat.iloc[:,0])

0      187
1      188
2      188
3      188
4      188
      ...
501    711
502    711
503    711
504    711
505    711
Name: TAX, Length: 506, dtype: int64

In [26]:
print(data_concat.iloc[:,1])

0      711
1      711
2      711
3      711
4      711
      ...
501    188
502    188
503    188
504    188
505    187
Name: TAX, Length: 506, dtype: int64

In [27]:
data_concat['diff'] = abs(data_concat.iloc[:,0] - data_concat.iloc[:,1])
print(data_concat)

     TAX  TAX  diff
0    187  711   524
1    188  711   523
2    188  711   523
3    188  711   523
4    188  711   523
..   ...  ...   ...
501  711  188   523
502  711  188   523
503  711  188   523
504  711  188   523
505  711  187   524

[506 rows x 3 columns]

In [28]:
print(data_concat['diff'].var())

28490.5986459515

In [29]:
import pandas as pd
data = pd.read_csv('boston.csv')
data_asc = data['TAX'].copy()
data_desc = data['TAX'].copy()
data_asc.sort_values(ascending=True, inplace=True)
data_desc.sort_values(ascending=False, inplace=True)
data_asc.reset_index(drop=True, inplace=True)
data_desc.reset_index(drop=True, inplace=True)
data_concat = pd.concat([data_asc, data_desc], axis=1)
data_concat['diff'] = abs(data_concat.iloc[:,0] - data_concat.iloc[:,1])
print(data_concat['diff'].var())

28490.5986459515

### 3. 최소최대 변환하기 : MinMaxScaler

In [30]:
import pandas as pd
data = pd.read_csv('boston.csv')
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data_minmax = scaler.fit_transform(data)
print(type(data_minmax))

<class 'numpy.ndarray'>

In [31]:
print(data_minmax)

[[0.00000000e+00 1.80000000e-01 6.78152493e-02 ... 1.00000000e+00
  8.96799117e-02 4.22222222e-01]
 [2.35922539e-04 0.00000000e+00 2.42302053e-01 ... 1.00000000e+00
  2.04470199e-01 3.68888889e-01]
 [2.35697744e-04 0.00000000e+00 2.42302053e-01 ... 9.89737254e-01
  6.34657837e-02 6.60000000e-01]
 ...
 [6.11892474e-04 0.00000000e+00 4.20454545e-01 ... 1.00000000e+00
  1.07891832e-01 4.20000000e-01]
 [1.16072990e-03 0.00000000e+00 4.20454545e-01 ... 9.91300620e-01
  1.31070640e-01 3.77777778e-01]
 [4.61841693e-04 0.00000000e+00 4.20454545e-01 ... 1.00000000e+00
  1.69701987e-01 1.53333333e-01]]

In [32]:
data_minmax = pd.DataFrame(data_minmax, columns = data.columns)
print(data_minmax.head(3))

       CRIM    ZN     INDUS  CHAS       NOX        RM       AGE       DIS  \
0  0.000000  0.18  0.067815   0.0  0.314815  0.577505  0.641607  0.269203
1  0.000236  0.00  0.242302   0.0  0.172840  0.547998  0.782698  0.348962
2  0.000236  0.00  0.242302   0.0  0.172840  0.694386  0.599382  0.348962

        RAD       TAX   PTRATIO         B     LSTAT      MEDV
0  0.000000  0.208015  0.287234  1.000000  0.089680  0.422222
1  0.043478  0.104962  0.553191  1.000000  0.204470  0.368889
2  0.043478  0.104962  0.553191  0.989737  0.063466  0.660000

In [33]:
print(data_minmax['MEDV'].describe())

count    506.000000
mean       0.389618
std        0.204380
min        0.000000
25%        0.267222
50%        0.360000
75%        0.444444
max        1.000000
Name: MEDV, dtype: float64

In [34]:
print(data_minmax['MEDV'] > 0.5)

0      False
1      False
2       True
3       True
4       True
       ...
501    False
502    False
503    False
504    False
505    False
Name: MEDV, Length: 506, dtype: bool

In [35]:
print(data_minmax[data_minmax['MEDV'] > 0.5])

         CRIM    ZN     INDUS  CHAS       NOX        RM       AGE       DIS  \
2    0.000236  0.00  0.242302   0.0  0.172840  0.694386  0.599382  0.348962
3    0.000293  0.00  0.063050   0.0  0.150206  0.658555  0.441813  0.448545
4    0.000705  0.00  0.063050   0.0  0.150206  0.687105  0.528321  0.448545
5    0.000264  0.00  0.063050   0.0  0.150206  0.549722  0.574665  0.448545
39   0.000240  0.75  0.091276   0.0  0.088477  0.581337  0.194645  0.388428
..        ...   ...       ...   ...       ...       ...       ...       ...
370  0.073423  0.00  0.646628   1.0  0.506173  0.662004  0.974253  0.006620
371  0.103698  0.00  0.646628   0.0  0.506173  0.508718  1.000000  0.003592
372  0.092851  0.00  0.646628   1.0  0.582305  0.443380  0.892894  0.000000
407  0.134256  0.00  0.646628   0.0  0.563786  0.392221  1.000000  0.014149
473  0.052159  0.00  0.646628   0.0  0.471193  0.655106  0.666323  0.127609

          RAD       TAX   PTRATIO         B     LSTAT      MEDV
2    0.043478  0.104962  0.553191  0.989737  0.063466  0.660000
3    0.086957  0.066794  0.648936  0.994276  0.033389  0.631111
4    0.086957  0.066794  0.648936  1.000000  0.099338  0.693333
5    0.086957  0.066794  0.648936  0.992990  0.096026  0.526667
39   0.086957  0.124046  0.606383  0.996798  0.071468  0.573333
..        ...       ...       ...       ...       ...       ...
370  1.000000  0.914122  0.808511  0.987770  0.033940  1.000000
371  1.000000  0.914122  0.808511  0.922462  0.215232  1.000000
372  1.000000  0.914122  0.808511  0.876393  0.197296  1.000000
407  1.000000  0.914122  0.808511  0.836578  0.286976  0.508889
473  1.000000  0.914122  0.808511  0.943971  0.274007  0.551111

[106 rows x 14 columns]

In [36]:
print(data_minmax[data_minmax['MEDV'] > 0.5]['MEDV'])

2      0.660000
3      0.631111
4      0.693333
5      0.526667
39     0.573333
         ...
370    1.000000
371    1.000000
372    1.000000
407    0.508889
473    0.551111
Name: MEDV, Length: 106, dtype: float64

In [37]:
print(data_minmax[data_minmax['MEDV'] > 0.5]['MEDV'].count())

106

In [38]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
data = pd.read_csv('boston.csv')
scaler = MinMaxScaler()
data_minmax = scaler.fit_transform(data)
data_minmax = pd.DataFrame(data_minmax, columns = data.columns)
print(data_minmax[data_minmax['MEDV'] > 0.5]['MEDV'].count())

106

### 4. 빈도값 구하기

- 첫 번째 방법

In [39]:
import pandas as pd
data = pd.read_csv('boston.csv')
print(data['AGE'])

0      65.2
1      78.9
2      61.1
3      45.8
4      54.2
       ...
501    69.1
502    76.7
503    91.0
504    89.3
505    80.8
Name: AGE, Length: 506, dtype: float64

In [46]:
print(round(data['AGE'],0))

0      65.0
1      79.0
2      61.0
3      46.0
4      54.0
       ...
501    69.0
502    77.0
503    91.0
504    89.0
505    81.0
Name: AGE, Length: 506, dtype: float64

In [48]:
data2 = round(data['AGE'], 0)
data2 = pd.DataFrame(data2)
print(data2.groupby(['AGE'])['AGE'].count())

AGE
3.0       1
6.0       3
7.0       3
8.0       3
9.0       1
         ..
96.0     15
97.0     17
98.0     19
99.0     10
100.0    43
Name: AGE, Length: 91, dtype: int64

In [49]:
data3 = data2.groupby(['AGE'])['AGE'].count()
print(data3)

AGE
3.0       1
6.0       3
7.0       3
8.0       3
9.0       1
         ..
96.0     15
97.0     17
98.0     19
99.0     10
100.0    43
Name: AGE, Length: 91, dtype: int64

In [50]:
print(type(data3))

<class 'pandas.core.series.Series'>

In [51]:
data3 = pd.DataFrame(data3)
print(type(data3))

<class 'pandas.core.frame.DataFrame'>

In [52]:
print(data3.columns)

Index(['AGE'], dtype='object')

In [53]:
data3.columns = ['COUNT']
print(data3.head(3))

     COUNT
AGE
3.0      1
6.0      3
7.0      3

In [54]:
data3.reset_index(drop=False, inplace=True)
print(data3.head(3))

   AGE  COUNT
0  3.0      1
1  6.0      3
2  7.0      3

In [55]:
data3.sort_values(by='COUNT', ascending=False, inplace=True)
print(data3.head(3))

      AGE  COUNT
90  100.0     43
88   98.0     19
87   97.0     17

In [56]:
print(data3.iloc[0,0], data3.iloc[0,1])

100.0 43

- 두 번째 방법

In [57]:
from scipy.stats import mode
print(mode(data2))

ModeResult(mode=array([[100.]]), count=array([[43]]))

In [58]:
print(mode(data2)[0])

[[100.]]

In [59]:
print(mode(data2)[1])

[[43]]

In [62]:
print(int(mode(data2)[0][0][0]))

100

In [63]:
print(int(mode(data2)[1][0][0]))

43

In [64]:
print(int(mode(data2)[0][0][0]), int(mode(data2)[1][0][0]))

100 43

### 5. 표준 변환하기(StandardScaler)

In [65]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
data = pd.read_csv('boston.csv')
scaler = StandardScaler()
data2 = scaler.fit_transform(data)
print(data2)

[[-0.41978194  0.28482986 -1.2879095  ...  0.44105193 -1.0755623
   0.15968566]
 [-0.41733926 -0.48772236 -0.59338101 ...  0.44105193 -0.49243937
  -0.10152429]
 [-0.41734159 -0.48772236 -0.59338101 ...  0.39642699 -1.2087274
   1.32424667]
 ...
 [-0.41344658 -0.48772236  0.11573841 ...  0.44105193 -0.98304761
   0.14880191]
 [-0.40776407 -0.48772236  0.11573841 ...  0.4032249  -0.86530163
  -0.0579893 ]
 [-0.41500016 -0.48772236  0.11573841 ...  0.44105193 -0.66905833
  -1.15724782]]

In [68]:
data3 = pd.DataFrame(data2, columns = data.columns)
data3

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,-0.419782,0.284830,-1.287909,-0.272599,-0.144217,0.409823,-0.120013,0.140214,-0.982843,-0.666608,-1.459000,0.441052,-1.075562,0.159686
1,-0.417339,-0.487722,-0.593381,-0.272599,-0.740262,0.192116,0.367166,0.557160,-0.867883,-0.987329,-0.303094,0.441052,-0.492439,-0.101524
2,-0.417342,-0.487722,-0.593381,-0.272599,-0.740262,1.272167,-0.265812,0.557160,-0.867883,-0.987329,-0.303094,0.396427,-1.208727,1.324247
3,-0.416750,-0.487722,-1.306878,-0.272599,-0.835284,1.007809,-0.809889,1.077737,-0.752922,-1.106115,0.113032,0.416163,-1.361517,1.182758
4,-0.412482,-0.487722,-1.306878,-0.272599,-0.835284,1.218447,-0.511180,1.077737,-0.752922,-1.106115,0.113032,0.441052,-1.026501,1.487503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,-0.413229,-0.487722,0.115738,-0.272599,0.158124,0.435269,0.018673,-0.625796,-0.982843,-0.803212,1.176466,0.387217,-0.418147,-0.014454
502,-0.415249,-0.487722,0.115738,-0.272599,0.158124,NaN,0.288933,-0.716639,-0.982843,-0.803212,1.176466,0.441052,-0.500850,-0.210362
503,-0.413447,-0.487722,0.115738,-0.272599,0.158124,0.976708,0.797449,-0.773684,-0.982843,-0.803212,1.176466,0.441052,-0.983048,0.148802
504,-0.407764,-0.487722,0.115738,-0.272599,0.158124,0.719419,0.736996,-0.668437,-0.982843,-0.803212,1.176466,0.403225,-0.865302,-0.057989
505,-0.415000,-0.487722,0.115738,-0.272599,0.158124,-0.360632,0.434732,-0.613246,-0.982843,-0.803212,1.176466,0.441052,-0.669058,-1.157248

In [75]:
data4 = round(data3[(data3['DIS'] > 0.4) & (data3['DIS'] < 0.6)]['DIS'].mean(), 2)
data4

0.48

In [78]:
import pandas as pd
data = pd.read_csv('boston.csv')
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

data_stdd = scaler.fit_transform(data)
print(type(data_stdd))

<class 'numpy.ndarray'>

In [79]:
data_stdd = pd.DataFrame(data_stdd, columns = data.columns)
print(data_stdd)

         CRIM        ZN     INDUS      CHAS       NOX        RM       AGE  \
0   -0.419782  0.284830 -1.287909 -0.272599 -0.144217  0.409823 -0.120013
1   -0.417339 -0.487722 -0.593381 -0.272599 -0.740262  0.192116  0.367166
2   -0.417342 -0.487722 -0.593381 -0.272599 -0.740262  1.272167 -0.265812
3   -0.416750 -0.487722 -1.306878 -0.272599 -0.835284  1.007809 -0.809889
4   -0.412482 -0.487722 -1.306878 -0.272599 -0.835284  1.218447 -0.511180
..        ...       ...       ...       ...       ...       ...       ...
501 -0.413229 -0.487722  0.115738 -0.272599  0.158124  0.435269  0.018673
502 -0.415249 -0.487722  0.115738 -0.272599  0.158124       NaN  0.288933
503 -0.413447 -0.487722  0.115738 -0.272599  0.158124  0.976708  0.797449
504 -0.407764 -0.487722  0.115738 -0.272599  0.158124  0.719419  0.736996
505 -0.415000 -0.487722  0.115738 -0.272599  0.158124 -0.360632  0.434732

          DIS       RAD       TAX   PTRATIO         B     LSTAT      MEDV
0    0.140214 -0.982843 -0.666608 -1.459000  0.441052 -1.075562  0.159686
1    0.557160 -0.867883 -0.987329 -0.303094  0.441052 -0.492439 -0.101524
2    0.557160 -0.867883 -0.987329 -0.303094  0.396427 -1.208727  1.324247
3    1.077737 -0.752922 -1.106115  0.113032  0.416163 -1.361517  1.182758
4    1.077737 -0.752922 -1.106115  0.113032  0.441052 -1.026501  1.487503
..        ...       ...       ...       ...       ...       ...       ...
501 -0.625796 -0.982843 -0.803212  1.176466  0.387217 -0.418147 -0.014454
502 -0.716639 -0.982843 -0.803212  1.176466  0.441052 -0.500850 -0.210362
503 -0.773684 -0.982843 -0.803212  1.176466  0.441052 -0.983048  0.148802
504 -0.668437 -0.982843 -0.803212  1.176466  0.403225 -0.865302 -0.057989
505 -0.613246 -0.982843 -0.803212  1.176466  0.441052 -0.669058 -1.157248

[506 rows x 14 columns]

In [80]:
print((data_stdd['DIS'] > 0.4) & (data_stdd['DIS'] < 0.6))

0      False
1       True
2       True
3      False
4      False
       ...
501    False
502    False
503    False
504    False
505    False
Name: DIS, Length: 506, dtype: bool

In [82]:
print(data_stdd[(data_stdd['DIS'] > 0.4) & (data_stdd['DIS'] < 0.6)])
data_stdd = data_stdd[(data_stdd['DIS'] > 0.4) & (data_stdd['DIS'] < 0.6)]

         CRIM        ZN     INDUS      CHAS       NOX        RM       AGE  \
1   -0.417339 -0.487722 -0.593381 -0.272599 -0.740262  0.192116  0.367166
2   -0.417342 -0.487722 -0.593381 -0.272599 -0.740262  1.272167 -0.265812
13  -0.347230 -0.487722 -0.437258 -0.272599 -0.144217 -0.475140 -0.240919
26  -0.342325 -0.487722 -0.437258 -0.272599 -0.144217 -0.667400  0.772557
78  -0.413947 -0.487722  0.247057 -0.272599 -1.016689 -0.075069 -0.528960
84  -0.414630 -0.487722 -0.969827 -0.272599 -0.913029  0.146879 -0.731655
276 -0.408334  1.229060 -0.689681  3.668398 -0.930305  1.388089 -0.696095
277 -0.413387  1.229060 -0.689681  3.668398 -0.930305  0.764656 -1.457091
280 -0.416354  0.370669 -1.139082 -0.272599 -0.965723  2.169853 -0.144906
322 -0.379654 -0.487722 -0.548149 -0.272599 -0.532942 -0.345082 -0.664090
323 -0.387477 -0.487722 -0.548149 -0.272599 -0.532942 -0.815837  0.203588
324 -0.380824 -0.487722 -0.548149 -0.272599 -0.532942  0.183634 -1.012584
338 -0.416670 -0.487722 -0.867691 -0.272599 -0.342899 -0.319635 -1.112153
339 -0.414120 -0.487722 -0.867691 -0.272599 -0.342899 -0.424248 -0.824113
340 -0.413359 -0.487722 -0.867691 -0.272599 -0.342899 -0.448280 -0.358269

          DIS       RAD       TAX   PTRATIO         B     LSTAT      MEDV
1    0.557160 -0.867883 -0.987329 -0.303094  0.441052 -0.492439 -0.101524
2    0.557160 -0.867883 -0.987329 -0.303094  0.396427 -1.208727  1.324247
13   0.433754 -0.637962 -0.601276  1.176466  0.441052 -0.615792 -0.232129
26   0.421632 -0.637962 -0.601276  1.176466  0.221545  0.302346 -0.645712
78   0.579502 -0.523001 -0.060801  0.113032  0.325926 -0.043883 -0.145059
84   0.467933 -0.752922 -0.957633  0.020560  0.441052 -0.425156  0.148802
276  0.471641 -0.637962 -0.916058 -0.395567  0.357175 -0.925576  1.160990
277  0.507579 -0.637962 -0.916058 -0.395567  0.403225 -1.190505  1.150107
280  0.427669 -0.523001 -1.141751 -1.643945  0.335904 -1.246574  2.488808
322  0.440219 -0.523001 -0.720062  0.529158  0.441052 -0.694290 -0.232129
323  0.440219 -0.523001 -0.720062  0.529158  0.377788 -0.127988 -0.438920
324  0.440219 -0.523001 -0.720062  0.529158  0.441052 -0.915764  0.268523
338  0.483525 -0.523001 -1.094237  0.806576  0.432719 -0.580749 -0.210362
339  0.483525 -0.523001 -1.094237  0.806576  0.441052 -0.408335 -0.384502
340  0.483525 -0.523001 -1.094237  0.806576  0.441052 -0.471413 -0.417153

In [83]:
data_stdd['DIS']

1      0.557160
2      0.557160
13     0.433754
26     0.421632
78     0.579502
84     0.467933
276    0.471641
277    0.507579
280    0.427669
322    0.440219
323    0.440219
324    0.440219
338    0.483525
339    0.483525
340    0.483525
Name: DIS, dtype: float64

In [84]:
print(data_stdd['DIS'].mean())

0.479684212855197

In [85]:
print(round(data_stdd['DIS'].mean(),2))

0.48

In [86]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
data = pd.read_csv('boston.csv')
scaler = StandardScaler()
data_stdd = scaler.fit_transform(data)
data_stdd = pd.DataFrame(data_stdd, columns = data.columns)
data_stdd = data_stdd[(data_stdd['DIS'] > 0.4) & (data_stdd['DIS'] < 0.6)]
print(round(data_stdd['DIS'].mean(), 2))

0.48

### 6. 유니크한 값 구하기

In [89]:
import pandas as pd
data = pd.read_csv('boston.csv')
data.head(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [91]:
data['ZN'].unique()

array([ 18. ,   0. ,  12.5,  75. ,  21. ,  90. ,  85. , 100. ,  25. ,
        17.5,  80. ,  28. ,  45. ,  60. ,  95. ,  82.5,  30. ,  22. ,
        20. ,  40. ,  55. ,  52.5,  70. ,  34. ,  33. ,  35. ])

In [93]:
data.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [94]:
for i in data.columns:
    print(i, len(data[i].unique()))

CRIM 504
ZN 26
INDUS 76
CHAS 2
NOX 81
RM 434
AGE 356
DIS 412
RAD 9
TAX 66
PTRATIO 46
B 357
LSTAT 455
MEDV 229

In [96]:
import pandas as pd
data = pd.read_csv('boston.csv')
print(data.columns)

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [97]:
data_col = data.columns
print(data_col.size)

14

In [98]:
print(data['CHAS'].unique())

[0 1]

In [99]:
print(pd.DataFrame(data['CHAS'].unique()))

   0
0  0
1  1

In [102]:
print(pd.DataFrame(data['CHAS'].unique()).count())

0    2
dtype: int64

In [103]:
print(int(pd.DataFrame(data['CHAS'].unique()).count()))

2

In [105]:
print(int(pd.DataFrame(data['ZN'].unique()).count())) # 이렇게 계속 반복...

26

- 두 번째 방법

In [106]:
sum = 0
for i in data_col:
    sum = sum + int(pd.DataFrame(data[i].unique()).count()[0])

In [107]:
print(sum)

3052

In [108]:
print(sum/data_col.size)

218.0

In [112]:
import pandas as pd
data = pd.read_csv("boston.csv")
data_col = data.columns
sum = 0
for i in data_col:
    sum = sum + int(pd.DataFrame(data[i].unique()).count()[0])
print(sum/data_col.size)

218.0

In [114]:
import sklearn
print(dir(sklearn))

['__SKLEARN_SETUP__', '__all__', '__builtins__', '__cached__', '__check_build', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_config', '_distributor_init', 'base', 'clone', 'config_context', 'exceptions', 'get_config', 'logger', 'logging', 'os', 'preprocessing', 'random', 'set_config', 'setup_module', 'show_versions', 'sys', 'utils']

In [115]:
import sklearn.preprocessing
print(dir(sklearn.preprocessing))

['Binarizer', 'FunctionTransformer', 'KBinsDiscretizer', 'KernelCenterer', 'LabelBinarizer', 'LabelEncoder', 'MaxAbsScaler', 'MinMaxScaler', 'MultiLabelBinarizer', 'Normalizer', 'OneHotEncoder', 'OrdinalEncoder', 'PolynomialFeatures', 'PowerTransformer', 'QuantileTransformer', 'RobustScaler', 'StandardScaler', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '_csr_polynomial_expansion', '_data', '_discretization', '_encoders', '_function_transformer', '_label', 'add_dummy_feature', 'binarize', 'label_binarize', 'maxabs_scale', 'minmax_scale', 'normalize', 'power_transform', 'quantile_transform', 'robust_scale', 'scale']

In [116]:
from sklearn.preprocessing import StandardScaler
print(help(StandardScaler))

Help on class StandardScaler in module sklearn.preprocessing._data:

class StandardScaler(sklearn.base.TransformerMixin, sklearn.base.BaseEstimator)
 |  StandardScaler(*, copy=True, with_mean=True, with_std=True)
 |
 |  Standardize features by removing the mean and scaling to unit variance
 |
 |  The standard score of a sample `x` is calculated as:
 |
 |      z = (x - u) / s
 |
 |  where `u` is the mean of the training samples or zero if `with_mean=False`,
 |  and `s` is the standard deviation of the training samples or one if
 |  `with_std=False`.
 |
 |  Centering and scaling happen independently on each feature by computing
 |  the relevant statistics on the samples in the training set. Mean and
 |  standard deviation are then stored to be used on later data using
 |  :meth:`transform`.
 |
 |  Standardization of a dataset is a common requirement for many
 |  machine learning estimators: they might behave badly if the
 |  individual features do not more or less look like standard normally
 |  distributed data (e.g. Gaussian with 0 mean and unit variance).
 |
 |  For instance many elements used in the objective function of
 |  a learning algorithm (such as the RBF kernel of Support Vector
 |  Machines or the L1 and L2 regularizers of linear models) assume that
 |  all features are centered around 0 and have variance in the same
 |  order. If a feature has a variance that is orders of magnitude larger
 |  that others, it might dominate the objective function and make the
 |  estimator unable to learn from other features correctly as expected.
 |
 |  This scaler can also be applied to sparse CSR or CSC matrices by passing
 |  `with_mean=False` to avoid breaking the sparsity structure of the data.
 |
 |  Read more in the :ref:`User Guide <preprocessing_scaler>`.
 |
 |  Parameters
 |  ----------
 |  copy : bool, default=True
 |      If False, try to avoid a copy and do inplace scaling instead.
 |      This is not guaranteed to always work inplace; e.g. if the data is
 |      not a NumPy array or scipy.sparse CSR matrix, a copy may still be
 |      returned.
 |
 |  with_mean : bool, default=True
 |      If True, center the data before scaling.
 |      This does not work (and will raise an exception) when attempted on
 |      sparse matrices, because centering them entails building a dense
 |      matrix which in common use cases is likely to be too large to fit in
 |      memory.
 |
 |  with_std : bool, default=True
 |      If True, scale the data to unit variance (or equivalently,
 |      unit standard deviation).
 |
 |  Attributes
 |  ----------
 |  scale_ : ndarray of shape (n_features,) or None
 |      Per feature relative scaling of the data to achieve zero mean and unit
 |      variance. Generally this is calculated using `np.sqrt(var_)`. If a
 |      variance is zero, we can't achieve unit variance, and the data is left
 |      as-is, giving a scaling factor of 1. `scale_` is equal to `None`
 |      when `with_std=False`.
 |
 |      .. versionadded:: 0.17
 |         *scale_*
 |
 |  mean_ : ndarray of shape (n_features,) or None
 |      The mean value for each feature in the training set.
 |      Equal to ``None`` when ``with_mean=False``.
 |
 |  var_ : ndarray of shape (n_features,) or None
 |      The variance for each feature in the training set. Used to compute
 |      `scale_`. Equal to ``None`` when ``with_std=False``.
 |
 |  n_samples_seen_ : int or ndarray of shape (n_features,)
 |      The number of samples processed by the estimator for each feature.
 |      If there are no missing samples, the ``n_samples_seen`` will be an
 |      integer, otherwise it will be an array of dtype int. If
 |      `sample_weights` are used it will be a float (if no missing data)
 |      or an array of dtype float that sums the weights seen so far.
 |      Will be reset on new calls to fit, but increments across
 |      ``partial_fit`` calls.
 |
 |  Examples
 |  --------
 |  >>> from sklearn.preprocessing import StandardScaler
 |  >>> data = [[0, 0], [0, 0], [1, 1], [1, 1]]
 |  >>> scaler = StandardScaler()
 |  >>> print(scaler.fit(data))
 |  StandardScaler()
 |  >>> print(scaler.mean_)
 |  [0.5 0.5]
 |  >>> print(scaler.transform(data))
 |  [[-1. -1.]
 |   [-1. -1.]
 |   [ 1.  1.]
 |   [ 1.  1.]]
 |  >>> print(scaler.transform([[2, 2]]))
 |  [[3. 3.]]
 |
 |  See Also
 |  --------
 |  scale : Equivalent function without the estimator API.
 |
 |  :class:`~sklearn.decomposition.PCA` : Further removes the linear
 |      correlation across features with 'whiten=True'.
 |
 |  Notes
 |  -----
 |  NaNs are treated as missing values: disregarded in fit, and maintained in
 |  transform.
 |
 |  We use a biased estimator for the standard deviation, equivalent to
 |  `numpy.std(x, ddof=0)`. Note that the choice of `ddof` is unlikely to
 |  affect model performance.
 |
 |  For a comparison of the different scalers, transformers, and normalizers,
 |  see :ref:`examples/preprocessing/plot_all_scaling.py
 |  <sphx_glr_auto_examples_preprocessing_plot_all_scaling.py>`.
 |
 |  Method resolution order:
 |      StandardScaler
 |      sklearn.base.TransformerMixin
 |      sklearn.base.BaseEstimator
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, *, copy=True, with_mean=True, with_std=True)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit(self, X, y=None, sample_weight=None)
 |      Compute the mean and std to be used for later scaling.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The data used to compute the mean and standard deviation
 |          used for later scaling along the features axis.
 |
 |      y : None
 |          Ignored.
 |
 |      sample_weight : array-like of shape (n_samples,), default=None
 |          Individual weights for each sample.
 |
 |          .. versionadded:: 0.24
 |             parameter *sample_weight* support to StandardScaler.
 |
 |      Returns
 |      -------
 |      self : object
 |          Fitted scaler.
 |
 |  inverse_transform(self, X, copy=None)
 |      Scale back the data to the original representation
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The data used to scale along the features axis.
 |      copy : bool, default=None
 |          Copy the input X or not.
 |
 |      Returns
 |      -------
 |      X_tr : {ndarray, sparse matrix} of shape (n_samples, n_features)
 |          Transformed array.
 |
 |  partial_fit(self, X, y=None, sample_weight=None)
 |      Online computation of mean and std on X for later scaling.
 |
 |      All of X is processed as a single batch. This is intended for cases
 |      when :meth:`fit` is not feasible due to very large number of
 |      `n_samples` or because X is read from a continuous stream.
 |
 |      The algorithm for incremental mean and std is given in Equation 1.5a,b
 |      in Chan, Tony F., Gene H. Golub, and Randall J. LeVeque. "Algorithms
 |      for computing the sample variance: Analysis and recommendations."
 |      The American Statistician 37.3 (1983): 242-247:
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The data used to compute the mean and standard deviation
 |          used for later scaling along the features axis.
 |
 |      y : None
 |          Ignored.
 |
 |      sample_weight : array-like of shape (n_samples,), default=None
 |          Individual weights for each sample.
 |
 |          .. versionadded:: 0.24
 |             parameter *sample_weight* support to StandardScaler.
 |
 |      Returns
 |      -------
 |      self : object
 |          Fitted scaler.
 |
 |  transform(self, X, copy=None)
 |      Perform standardization by centering and scaling
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix of shape (n_samples, n_features)
 |          The data used to scale along the features axis.
 |      copy : bool, default=None
 |          Copy the input X or not.
 |
 |      Returns
 |      -------
 |      X_tr : {ndarray, sparse matrix} of shape (n_samples, n_features)
 |          Transformed array.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.TransformerMixin:
 |
 |  fit_transform(self, X, y=None, **fit_params)
 |      Fit to data, then transform it.
 |
 |      Fits transformer to `X` and `y` with optional parameters `fit_params`
 |      and returns a transformed version of `X`.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          Input samples.
 |
 |      y :  array-like of shape (n_samples,) or (n_samples, n_outputs),                 default=None
 |          Target values (None for unsupervised transformations).
 |
 |      **fit_params : dict
 |          Additional fit parameters.
 |
 |      Returns
 |      -------
 |      X_new : ndarray array of shape (n_samples, n_features_new)
 |          Transformed array.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.TransformerMixin:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |
 |  __repr__(self, N_CHAR_MAX=700)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : bool, default=True
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : dict
 |          Parameter names mapped to their values.
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      The method works on simple estimators as well as on nested objects
 |      (such as :class:`~sklearn.pipeline.Pipeline`). The latter have
 |      parameters of the form ``<component>__<parameter>`` so that it's
 |      possible to update each component of a nested object.
 |
 |      Parameters
 |      ----------
 |      **params : dict
 |          Estimator parameters.
 |
 |      Returns
 |      -------
 |      self : estimator instance
 |          Estimator instance.

None