# 1. 데이터 탐색하기

### 데이터 가져오기

In [1]:
import pandas as pd
x_train = pd.read_csv('x_train.csv', encoding='cp949')
x_test = pd.read_csv('x_test.csv', encoding='cp949')
y_train = pd.read_csv('y_train.csv', encoding='cp949')

In [2]:
print(x_train.head())

   cust_id      총구매액     최대구매액       환불금액   주구매상품 주구매지점  내점일수   내점당구매건수  \
0        0  68282840  11264000  6860000.0      기타   강남점    19  3.894737
1        1   2136000   2136000   300000.0     스포츠   잠실점     2  1.500000
2        2   3197000   1639000        NaN  남성 캐주얼   관악점     2  2.000000
3        3  16077620   4935000        NaN      기타   광주점    18  2.444444
4        4  29050000  24000000        NaN      보석  본  점     2  1.500000

     주말방문비율  구매주기
0  0.527027    17
1  0.000000     1
2  0.000000     1
3  0.318182    16
4  0.000000    85

In [3]:
print(x_test.head())

   cust_id       총구매액     최대구매액        환불금액 주구매상품 주구매지점  내점일수    내점당구매건수  \
0     3500   70900400  22000000   4050000.0    골프  부산본점    13   1.461538
1     3501  310533100  38558000  48034700.0   농산물   잠실점    90   2.433333
2     3502  305264140  14825000  30521000.0  가공식품  본  점   101  14.623762
3     3503    7594080   5225000         NaN  주방용품  부산본점     5   2.000000
4     3504    1795790   1411200         NaN   수산품  청량리점     3   2.666667

     주말방문비율  구매주기
0  0.789474    26
1  0.369863     3
2  0.083277     3
3  0.000000    47
4  0.125000     8

In [4]:
print(y_train.head())

   cust_id  gender
0        0       0
1        1       0
2        2       1
3        3       1
4        4       0

In [5]:
print(x_train.head().T)

                 0         1        2         3         4
cust_id          0         1        2         3         4
총구매액      68282840   2136000  3197000  16077620  29050000
최대구매액     11264000   2136000  1639000   4935000  24000000
환불금액     6860000.0  300000.0      NaN       NaN       NaN
주구매상품           기타       스포츠   남성 캐주얼        기타        보석
주구매지점          강남점       잠실점      관악점       광주점      본  점
내점일수            19         2        2        18         2
내점당구매건수   3.894737       1.5      2.0  2.444444       1.5
주말방문비율    0.527027       0.0      0.0  0.318182       0.0
구매주기            17         1        1        16        85

In [6]:
pd.options.display.max_columns = None
print(x_train.head())

   cust_id      총구매액     최대구매액       환불금액   주구매상품 주구매지점  내점일수   내점당구매건수  \
0        0  68282840  11264000  6860000.0      기타   강남점    19  3.894737
1        1   2136000   2136000   300000.0     스포츠   잠실점     2  1.500000
2        2   3197000   1639000        NaN  남성 캐주얼   관악점     2  2.000000
3        3  16077620   4935000        NaN      기타   광주점    18  2.444444
4        4  29050000  24000000        NaN      보석  본  점     2  1.500000

     주말방문비율  구매주기
0  0.527027    17
1  0.000000     1
2  0.000000     1
3  0.318182    16
4  0.000000    85

### 행/열 확인하기

In [7]:
print(x_train.shape)

(3500, 10)

In [8]:
print(x_test.shape)

(2482, 10)

In [9]:
print(y_train.shape)

(3500, 2)

### 요약정보 확인하기

In [10]:
print(x_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  3500 non-null   int64
 1   총구매액     3500 non-null   int64
 2   최대구매액    3500 non-null   int64
 3   환불금액     1205 non-null   float64
 4   주구매상품    3500 non-null   object
 5   주구매지점    3500 non-null   object
 6   내점일수     3500 non-null   int64
 7   내점당구매건수  3500 non-null   float64
 8   주말방문비율   3500 non-null   float64
 9   구매주기     3500 non-null   int64
dtypes: float64(3), int64(5), object(2)
memory usage: 273.6+ KB
None

### 기초 통계량 확인하기

In [11]:
print(x_train.describe().T)

          count          mean           std         min           25%  \
cust_id  3500.0  1.749500e+03  1.010507e+03         0.0  8.747500e+02
총구매액     3500.0  9.191925e+07  1.635065e+08 -52421520.0  4.747050e+06
최대구매액    3500.0  1.966424e+07  3.199235e+07  -2992000.0  2.875000e+06
환불금액     1205.0  2.407822e+07  4.746453e+07      5600.0  2.259000e+06
내점일수     3500.0  1.925371e+01  2.717494e+01         1.0  2.000000e+00
내점당구매건수  3500.0  2.834963e+00  1.912368e+00         1.0  1.666667e+00
주말방문비율   3500.0  3.072463e-01  2.897516e-01         0.0  2.729090e-02
구매주기     3500.0  2.095829e+01  2.474868e+01         0.0  4.000000e+00

                  50%           75%           max
cust_id  1.749500e+03  2.624250e+03  3.499000e+03
총구매액     2.822270e+07  1.065079e+08  2.323180e+09
최대구매액    9.837000e+06  2.296250e+07  7.066290e+08
환불금액     7.392000e+06  2.412000e+07  5.637530e+08
내점일수     8.000000e+00  2.500000e+01  2.850000e+02
내점당구매건수  2.333333e+00  3.375000e+00  2.208333e+01
주말방문비율   2.564103e-01  4.489796e-01  1.000000e+00
구매주기     1.300000e+01  2.800000e+01  1.660000e+02

# 2. 전처리하기

### 불필요한 칼럼 삭제하기

In [12]:
x_test_cust_id = x_test['cust_id']
x_test_cust_id

0       3500
1       3501
2       3502
3       3503
4       3504
        ...
2477    5977
2478    5978
2479    5979
2480    5980
2481    5981
Name: cust_id, Length: 2482, dtype: int64

In [13]:
x_train = x_train.drop(columns = ['cust_id'])
y_train = y_train.drop(columns = ['cust_id'])
x_test = x_test.drop(columns = ['cust_id'])
print(x_train.head())

       총구매액     최대구매액       환불금액   주구매상품 주구매지점  내점일수   내점당구매건수    주말방문비율  구매주기
0  68282840  11264000  6860000.0      기타   강남점    19  3.894737  0.527027    17
1   2136000   2136000   300000.0     스포츠   잠실점     2  1.500000  0.000000     1
2   3197000   1639000        NaN  남성 캐주얼   관악점     2  2.000000  0.000000     1
3  16077620   4935000        NaN      기타   광주점    18  2.444444  0.318182    16
4  29050000  24000000        NaN      보석  본  점     2  1.500000  0.000000    85

In [14]:
print(y_train.head())

   gender
0       0
1       0
2       1
3       1
4       0

### 결측치 처리하기

In [15]:
print(x_train.isnull().sum())

총구매액          0
최대구매액         0
환불금액       2295
주구매상품         0
주구매지점         0
내점일수          0
내점당구매건수       0
주말방문비율        0
구매주기          0
dtype: int64

In [16]:
x_train['환불금액'] = x_train['환불금액'].fillna(0)
x_test['환불금액'] = x_test['환불금액'].fillna(0)
print(x_train['환불금액'].isnull().sum())
print(x_test['환불금액'].isnull().sum())

0
0

### 범주형 변수를 인코딩하기

In [17]:
print(x_train['주구매상품'].unique())

['기타' '스포츠' '남성 캐주얼' '보석' '디자이너' '시티웨어' '명품' '농산물' '화장품' '골프' '구두' '가공식품'
 '수산품' '아동' '차/커피' '캐주얼' '섬유잡화' '육류' '축산가공' '젓갈/반찬' '액세서리' '피혁잡화' '일용잡화'
 '주방가전' '주방용품' '건강식품' '가구' '주류' '모피/피혁' '남성 트랜디' '셔츠' '남성정장' '생활잡화'
 '트래디셔널' '란제리/내의' '커리어' '침구/수예' '대형가전' '통신/컴퓨터' '식기' '소형가전' '악기']

In [18]:
print(x_train['주구매상품'].unique().size)

42

In [19]:
print(x_train['주구매지점'].unique())

['강남점' '잠실점' '관악점' '광주점' '본  점' '일산점' '대전점' '부산본점' '분당점' '영등포점' '미아점'
 '청량리점' '안양점' '부평점' '동래점' '포항점' '노원점' '창원점' '센텀시티점' '인천점' '대구점' '전주점'
 '울산점' '상인점']

In [20]:
print(x_train['주구매지점'].unique().size)

24

In [21]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
x_train['주구매상품'] = encoder.fit_transform(x_train['주구매상품'])
print(x_train['주구매상품'].head(10))

0     5
1    21
2     6
3     5
4    15
5    11
6    22
7    13
8     5
9     9
Name: 주구매상품, dtype: int32

In [22]:
print(encoder.classes_)

['가공식품' '가구' '건강식품' '골프' '구두' '기타' '남성 캐주얼' '남성 트랜디' '남성정장' '농산물' '대형가전'
 '디자이너' '란제리/내의' '명품' '모피/피혁' '보석' '생활잡화' '섬유잡화' '셔츠' '소형가전' '수산품' '스포츠'
 '시티웨어' '식기' '아동' '악기' '액세서리' '육류' '일용잡화' '젓갈/반찬' '주류' '주방가전' '주방용품'
 '차/커피' '축산가공' '침구/수예' '캐주얼' '커리어' '통신/컴퓨터' '트래디셔널' '피혁잡화' '화장품']

In [38]:
x_test['주구매상품'] = encoder.fit_transform(x_test['주구매상품'])
print(x_test['주구매상품'].head(10))

0     3
1     9
2     0
3    31
4    19
5    40
6     5
7    20
8    40
9     0
Name: 주구매상품, dtype: int64

In [24]:
x_train['주구매지점'] = encoder.fit_transform(x_train['주구매지점'])
print(x_train['주구매지점'].head(10))

0     0
1    19
2     1
3     2
4     8
5    18
6     0
7     8
8     8
9     5
Name: 주구매지점, dtype: int32

In [39]:
x_test['주구매지점'] = encoder.fit_transform(x_test['주구매지점'])
print(x_test['주구매지점'].head(10))

0     9
1    19
2     8
3     9
4    22
5    19
6     8
7    11
8    18
9     5
Name: 주구매지점, dtype: int32

### 파생변수 만들기

In [25]:
condition = x_train['환불금액'] > 0
x_train.loc[condition, '환불금액_new'] = 1
x_train.loc[~condition, '환불금액_new'] = 0
print(x_train[['환불금액', '환불금액_new']])

           환불금액  환불금액_new
0     6860000.0       1.0
1      300000.0       1.0
2           0.0       0.0
3           0.0       0.0
4           0.0       0.0
...         ...       ...
3495        0.0       0.0
3496  6049600.0       1.0
3497        0.0       0.0
3498        0.0       0.0
3499  5973000.0       1.0

[3500 rows x 2 columns]

In [26]:
x_train = x_train.drop(columns = ['환불금액'])

In [27]:
x_test.loc[condition, '환불금액_new'] = 1
x_test.loc[~condition, '환불금액_new'] = 0

x_test = x_test.drop(columns = ['환불금액'])
x_test.head(5)

        총구매액     최대구매액  주구매상품 주구매지점  내점일수    내점당구매건수    주말방문비율  구매주기  환불금액_new
0   70900400  22000000      3  부산본점    13   1.461538  0.789474    26       1.0
1  310533100  38558000      9   잠실점    90   2.433333  0.369863     3       1.0
2  305264140  14825000      0  본  점   101  14.623762  0.083277     3       0.0
3    7594080   5225000     31  부산본점     5   2.000000  0.000000    47       0.0
4    1795790   1411200     19  청량리점     3   2.666667  0.125000     8       0.0

### 표준화 크기로 변환하기

In [35]:
print(x_train.describe().T)

           count          mean       std       min       25%       50%  \
총구매액      3500.0 -1.008717e-17  1.000143 -0.882909 -0.533218 -0.389621
최대구매액     3500.0 -1.157804e-17  1.000143 -0.708278 -0.524864 -0.307219
주구매상품     3500.0  8.564578e-19  1.000143 -1.122438 -0.738357 -0.431093
주구매지점     3500.0 -9.167270e-18  1.000143 -1.904703 -0.485175 -0.307733
내점일수      3500.0  2.242968e-16  1.000143 -0.671807 -0.635003 -0.414180
내점당구매건수   3500.0  2.902440e-18  1.000143 -0.959661 -0.611003 -0.262346
주말방문비율    3500.0  2.413942e-17  1.000143 -1.060530 -0.966329 -0.175472
구매주기      3500.0 -1.183498e-16  1.000143 -0.846966 -0.685318 -0.321610
환불금액_new  3500.0  2.988086e-16  1.000143 -0.724606 -0.724606 -0.724606

               75%        max
총구매액      0.089237  13.648260
최대구매액     0.103110  21.475852
주구매상품     0.567518   2.027026
주구매지점     0.756913   2.176441
내점일수      0.211486   9.780490
내점당구매건수   0.282432  10.066639
주말방문비율    0.489224   2.391196
구매주기      0.284570   5.861421
환불금액_new  1.380060   1.380060

In [40]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = pd.DataFrame(scaler.fit_transform(x_train), columns = x_train.columns)
x_test = pd.DataFrame(scaler.fit_transform(x_test), columns = x_test.columns)

In [41]:
print(x_train.describe().T)

           count          mean       std       min       25%       50%  \
총구매액      3500.0 -1.008717e-17  1.000143 -0.882909 -0.533218 -0.389621
최대구매액     3500.0 -1.107051e-17  1.000143 -0.708278 -0.524864 -0.307219
주구매상품     3500.0  8.564578e-19  1.000143 -1.122438 -0.738357 -0.431093
주구매지점     3500.0 -8.659740e-18  1.000143 -1.904703 -0.485175 -0.307733
내점일수      3500.0  2.192215e-16  1.000143 -0.671807 -0.635003 -0.414180
내점당구매건수   3500.0  2.902440e-18  1.000143 -0.959661 -0.611003 -0.262346
주말방문비율    3500.0  1.398881e-17  1.000143 -1.060530 -0.966329 -0.175472
구매주기      3500.0 -1.005862e-16  1.000143 -0.846966 -0.685318 -0.321610
환불금액_new  3500.0  2.988086e-16  1.000143 -0.724606 -0.724606 -0.724606

               75%        max
총구매액      0.089237  13.648260
최대구매액     0.103110  21.475852
주구매상품     0.567518   2.027026
주구매지점     0.756913   2.176441
내점일수      0.211486   9.780490
내점당구매건수   0.282432  10.066639
주말방문비율    0.489224   2.391196
구매주기      0.284570   5.861421
환불금액_new  1.380060   1.380060

### 상관관계 확인하기

In [42]:
print(x_train[['총구매액', '최대구매액', '환불금액_new']].corr())

              총구매액     최대구매액  환불금액_new
총구매액      1.000000  0.700080  0.403357
최대구매액     0.700080  1.000000  0.330687
환불금액_new  0.403357  0.330687  1.000000

In [43]:
 x_train = x_train.drop(columns = ['최대구매액'])

In [44]:
x_test = x_test.drop(columns = ['최대구매액'])

# 3. 학습하고 평가하기

### 데이터 학습시키기

In [47]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(x_train, y_train)
y_test_predicted = model.predict(x_test)
print(y_test_predicted)
print(pd.DataFrame(y_test_predicted).head(3))

[1 0 1 ... 1 1 0]
   0
0  1
1  0
2  1

### Hyper Parameter Tuning 하기

In [49]:
model = DecisionTreeClassifier(max_depth=10, criterion='entropy', random_state=10)
model.fit(x_train, y_train)
y_test_predicted = model.predict(x_test)
print(pd.DataFrame(y_test_predicted).head(3))

   0
0  1
1  0
2  1

### 결과 예측하기

In [50]:
y_test_proba = model.predict_proba(x_test)
print(pd.DataFrame(y_test_proba).head())

          0         1
0  0.200000  0.800000
1  1.000000  0.000000
2  0.000000  1.000000
3  0.548837  0.451163
4  1.000000  0.000000

In [51]:
print(pd.DataFrame(y_test_proba)[1])

0       0.800000
1       0.000000
2       1.000000
3       0.451163
4       0.000000
          ...
2477    0.462312
2478    0.000000
2479    0.338028
2480    1.000000
2481    1.000000
Name: 1, Length: 2482, dtype: float64

In [52]:
result = pd.DataFrame(y_test_proba)[1]

### 모델 평가하기

In [57]:
y_train_predicted = model.predict(x_train)
from sklearn.metrics import roc_auc_score
print(roc_auc_score(y_train, y_train_predicted))

0.6896432468240978

# 4. 결과 제출하기

In [58]:
pd.concat([x_test_cust_id, result], axis = 1)

      cust_id         1
0        3500  0.800000
1        3501  0.000000
2        3502  1.000000
3        3503  0.451163
4        3504  0.000000
...       ...       ...
2477     5977  0.462312
2478     5978  0.000000
2479     5979  0.338028
2480     5980  1.000000
2481     5981  1.000000

[2482 rows x 2 columns]

In [59]:
pd.concat([x_test_cust_id, result], axis=1).rename(columns={1:'gender'})

      cust_id    gender
0        3500  0.800000
1        3501  0.000000
2        3502  1.000000
3        3503  0.451163
4        3504  0.000000
...       ...       ...
2477     5977  0.462312
2478     5978  0.000000
2479     5979  0.338028
2480     5980  1.000000
2481     5981  1.000000

[2482 rows x 2 columns]

In [61]:
final = pd.concat([x_test_cust_id, result], axis=1).rename(columns={1:'gender'})
final.to_csv('12345.csv', index=False)

### 제출된 파일의 정상 여부를 확인하기

In [62]:
final = pd.read_csv('12345.csv')
print(final)

      cust_id    gender
0        3500  0.800000
1        3501  0.000000
2        3502  1.000000
3        3503  0.451163
4        3504  0.000000
...       ...       ...
2477     5977  0.462312
2478     5978  0.000000
2479     5979  0.338028
2480     5980  1.000000
2481     5981  1.000000

[2482 rows x 2 columns]

### 최종 코드

In [65]:
import pandas as pd
x_train = pd.read_csv('x_train.csv', encoding='cp949')
x_test = pd.read_csv('x_test.csv', encoding='cp949')
y_train = pd.read_csv('y_train.csv', encoding='cp949')

# 테스트 데이터의 cust_id 저장하기
x_test_cust_id = x_test['cust_id']

# cust_id 컬럼 삭제하기
x_train = x_train.drop(columns=['cust_id'])
x_test = x_test.drop(columns=['cust_id'])
y_train = y_train.drop(columns=['cust_id'])

# 결측치 처리하기
x_train['환불금액'] = x_train['환불금액'].fillna(0)
x_test['환불금액'] = x_test['환불금액'].fillna(0)

# 라벨 인코딩 수행하기
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
x_train['주구매상품'] = encoder.fit_transform(x_train['주구매상품'])
x_test['주구매상품'] = encoder.fit_transform(x_test['주구매상품'])
x_train['주구매지점'] = encoder.fit_transform(x_train['주구매지점'])
x_test['주구매지점'] = encoder.fit_transform(x_test['주구매지점'])

# 파생변수 만들기
condition = x_train['환불금액'] > 0
x_train.loc[condition, '환불금액_new'] = 1
x_train.loc[~condition, '환불금액_new'] = 0
x_train = x_train.drop(columns = ['환불금액'])
x_test.loc[condition, '환불금액_new'] = 1
x_test.loc[~condition, '환불금액_new'] = 0
x_test = x_test.drop(columns = ['환불금액'])

# 데이터 스케일링 : 표준화 크기로 변환하기
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = pd.DataFrame(scaler.fit_transform(x_train), columns = x_train.columns)
x_test = pd.DataFrame(scaler.fit_transform(x_test), columns = x_test.columns)

# 불필요한 칼럼 삭제하기
x_train = x_train.drop(columns=['최대구매액'])
x_test = x_test.drop(columns=['최대구매액'])

# 학습용/검증용 데이터로 분리하기
from sklearn.model_selection import train_test_split
X_TRAIN, X_TEST, Y_TRAIN, Y_TEST = train_test_split(x_train, y_train, test_size=0.2,
                                                   random_state=10)

# 모델 학습 및 평가하기
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(max_depth=10, criterion='entropy', random_state=10)
model.fit(X_TRAIN, Y_TRAIN)
y_test_proba = model.predict_proba(X_TEST)

# 결과 제출하기
result = pd.DataFrame(y_test_proba)[1]
final = pd.concat([x_test_cust_id, result], axis=1).rename(columns={1:'gender'})
final.to_csv('final.csv', index=False)