# 1. 데이터 탐색하기

In [1]:
import pandas as pd
x_train = pd.read_csv('bike_x_train.csv', encoding='cp949')
x_test = pd.read_csv('bike_x_test.csv', encoding='cp949')
y_train = pd.read_csv('bike_y_train.csv', encoding='cp949')
print(x_train.head())

          datetime  계절  공휴일  근무일  날씨    온도    체감온도  습도   풍속
0  2011-01-01 0:00   1    0    0   1  9.84  14.395  81  0.0
1  2011-01-01 1:00   1    0    0   1  9.02  13.635  80  0.0
2  2011-01-01 2:00   1    0    0   1  9.02  13.635  80  0.0
3  2011-01-01 3:00   1    0    0   1  9.84  14.395  75  0.0
4  2011-01-01 4:00   1    0    0   1  9.84  14.395  75  0.0

In [2]:
print(x_test.head())

          datetime  계절  공휴일  근무일  날씨     온도    체감온도  습도       풍속
0  2011-01-20 0:00   1    0    1   1  10.66  11.365  56  26.0027
1  2011-01-20 1:00   1    0    1   1  10.66  13.635  56   0.0000
2  2011-01-20 2:00   1    0    1   1  10.66  13.635  56   0.0000
3  2011-01-20 3:00   1    0    1   1  10.66  12.880  56  11.0014
4  2011-01-20 4:00   1    0    1   1  10.66  12.880  56  11.0014

In [3]:
print(y_train.head())

         癤풼atetime  count
0  2011-01-01 0:00     16
1  2011-01-01 1:00     40
2  2011-01-01 2:00     32
3  2011-01-01 3:00     13
4  2011-01-01 4:00      1

In [5]:
y_train.columns = ['datetime', 'count']

In [6]:
print(y_train.head())

          datetime  count
0  2011-01-01 0:00     16
1  2011-01-01 1:00     40
2  2011-01-01 2:00     32
3  2011-01-01 3:00     13
4  2011-01-01 4:00      1

### 행/열 확인하기

In [7]:
print(x_train.shape)

(10886, 9)

In [8]:
print(x_test.shape)

(6493, 9)

In [9]:
print(y_train.shape)

(10886, 2)

### 요약정보 확인하기

In [10]:
print(x_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  10886 non-null  object
 1   계절        10886 non-null  int64
 2   공휴일       10886 non-null  int64
 3   근무일       10886 non-null  int64
 4   날씨        10886 non-null  int64
 5   온도        10886 non-null  float64
 6   체감온도      10886 non-null  float64
 7   습도        10886 non-null  int64
 8   풍속        10886 non-null  float64
dtypes: float64(3), int64(5), object(1)
memory usage: 765.5+ KB
None

In [11]:
print(x_train['계절'].unique())

[1 2 3 4]

In [12]:
print(x_train['공휴일'].unique())

[0 1]

In [13]:
print(x_train['근무일'].unique())

[0 1]

In [14]:
print(x_train['날씨'].unique())

[1 2 3 4]

### 기초 통계량 확인하기

In [16]:
print(x_train.describe().T)

        count       mean        std   min      25%     50%      75%       max
계절    10886.0   2.506614   1.116174  1.00   2.0000   3.000   4.0000    4.0000
공휴일   10886.0   0.028569   0.166599  0.00   0.0000   0.000   0.0000    1.0000
근무일   10886.0   0.680875   0.466159  0.00   0.0000   1.000   1.0000    1.0000
날씨    10886.0   1.418427   0.633839  1.00   1.0000   1.000   2.0000    4.0000
온도    10886.0  20.230860   7.791590  0.82  13.9400  20.500  26.2400   41.0000
체감온도  10886.0  23.655084   8.474601  0.76  16.6650  24.240  31.0600   45.4550
습도    10886.0  61.886460  19.245033  0.00  47.0000  62.000  77.0000  100.0000
풍속    10886.0  12.799395   8.164537  0.00   7.0015  12.998  16.9979   56.9969

### 독립변수와 종속변수의 관계 확인하기

In [17]:
data = pd.concat([x_train, y_train], axis=1)
print(data.groupby(['계절'])['count'].sum())

계절
1    312498
2    588282
3    640662
4    544034
Name: count, dtype: int64

In [18]:
print(data.groupby(['공휴일'])['count'].sum())

공휴일
0    2027668
1      57808
Name: count, dtype: int64

In [19]:
print(data.groupby(['근무일'])['count'].sum())

근무일
0     654872
1    1430604
Name: count, dtype: int64

In [20]:
print(data.groupby(['날씨'])['count'].sum())

날씨
1    1476063
2     507160
3     102089
4        164
Name: count, dtype: int64

# 2. 전처리하기

### 파생변수 만들기

In [21]:
x_train['datetime'] = pd.to_datetime(x_train['datetime'])
x_train['year'] = x_train['datetime'].dt.year
print(x_train['year'].unique())

[2011 2012]

In [22]:
x_train['month'] = x_train['datetime'].dt.month
print(x_train['month'].unique())

[ 1  2  3  4  5  6  7  8  9 10 11 12]

In [23]:
x_train['day'] = x_train['datetime'].dt.day
print(x_train['day'].unique())

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]

In [26]:
x_train['hour'] = x_train['datetime'].dt.hour
print(x_train['hour'].unique())

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]

In [28]:
x_train['dayofweek'] = x_train['datetime'].dt.dayofweek
print(x_train['dayofweek'].unique())
# 0(월) 1(화) ~ 6(일)

[5 6 0 1 2 3 4]

In [29]:
data2 = pd.concat([x_train, y_train], axis=1)

In [30]:
print(data2.groupby(['year'])['count'].sum())

year
2011     781979
2012    1303497
Name: count, dtype: int64

In [31]:
print(data2.groupby(['month'])['count'].sum())

month
1      79884
2      99113
3     133501
4     167402
5     200147
6     220733
7     214617
8     213516
9     212529
10    207434
11    176440
12    160160
Name: count, dtype: int64

In [33]:
x_train = x_train.drop(columns = ['month'])

In [34]:
print(data2.groupby(['day'])['count'].sum())

day
1     103692
2     105381
3     111561
4     112335
5     109115
6     108600
7     105486
8     102770
9     108041
10    111645
11    111146
12    109257
13    111448
14    112406
15    115677
16    109837
17    118255
18    108437
19    110387
Name: count, dtype: int64

In [35]:
x_train = x_train.drop(columns = ['day'])

In [36]:
print(data2.groupby(['hour'])['count'].sum())

hour
0      25088
1      15372
2      10259
3       5091
4       2832
5       8935
6      34698
7      96968
8     165060
9     100910
10     79667
11     95857
12    116968
13    117551
14    111010
15    115960
16    144266
17    213757
18    196472
19    143767
20    104204
21     79057
22     60911
23     40816
Name: count, dtype: int64

In [37]:
print(data2.groupby(['dayofweek'])['count'].sum())

dayofweek
0    295296
1    291985
2    292226
3    306401
4    302504
5    311518
6    285546
Name: count, dtype: int64

In [38]:
x_train = x_train.drop(columns=['dayofweek'])

In [39]:
x_test['datetime'] = pd.to_datetime(x_test['datetime'])
x_test['year'] = x_test['datetime'].dt.year
x_test['hour'] = x_test['datetime'].dt.hour

### 불필요한 칼럼 삭제하기

In [40]:
x_test_datetime = x_test['datetime']
x_train = x_train.drop(columns = ['datetime'])
x_test = x_test.drop(columns = ['datetime'])
y_train = y_train.drop(columns = ['datetime'])

# 3. 학습하고 평가하기

### 데이터 분리하기

In [42]:
from sklearn.model_selection import train_test_split

X_TRAIN, X_TEST, Y_TRAIN, Y_TEST = train_test_split(x_train, y_train, test_size = 0.2, random_state=10)
print(X_TRAIN.shape)

(8708, 10)

In [43]:
print(X_TEST.shape)

(2178, 10)

In [44]:
print(Y_TRAIN.shape)

(8708, 1)

In [45]:
print(Y_TEST.shape)

(2178, 1)

### 데이터 학습 및 하이퍼 파라미터 튜닝하기

In [47]:
pip install xgboost

Collecting xgboostNote: you may need to restart the kernel to use updated packages.
  Downloading xgboost-1.5.1-py3-none-win_amd64.whl (106.6 MB)
Requirement already satisfied: scipy in c:\users\phong\anaconda3\lib\site-packages (from xgboost) (1.6.2)
Requirement already satisfied: numpy in c:\users\phong\anaconda3\lib\site-packages (from xgboost) (1.20.1)
Installing collected packages: xgboost

Successfully installed xgboost-1.5.1

In [49]:
from xgboost import XGBRegressor

- 1번째 모델

In [53]:
model1 = XGBRegressor(n_estimators = 100, max_depth=3, random_state=10)
model1.fit(X_TRAIN, Y_TRAIN)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=3, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=4,
             num_parallel_tree=1, predictor='auto', random_state=10,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

- 2번째 모델

In [52]:
model2 = XGBRegressor(n_estimators=200, max_depth=5, random_state=10)
model2.fit(X_TRAIN, Y_TRAIN)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=5, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=200, n_jobs=4,
             num_parallel_tree=1, predictor='auto', random_state=10,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

### 결과 예측하기

In [54]:
y_test_predicted = pd.DataFrame(model1.predict(x_test)).rename(columns={0:'count'})
print(y_test_predicted)

           count
0       2.139193
1       0.979986
2      -8.262762
3      -9.796791
4      -9.796791
...          ...
6488  227.424484
6489  146.583008
6490  116.128029
6491   95.260033
6492   60.184326

[6493 rows x 1 columns]

In [55]:
y_test_predicted[y_test_predicted['count']<0] = 0
print(pd.DataFrame(y_test_predicted).head(10))

        count
0    2.139193
1    0.979986
2    0.000000
3    0.000000
4    0.000000
5    7.486256
6   79.849319
7  141.700363
8  319.266785
9   91.251663

In [56]:
Y_TEST_PREDICTED = pd.DataFrame(model1.predict(X_TEST)).rename(columns={0:'count'})
Y_TEST_PREDICTED[Y_TEST_PREDICTED['count']<0] = 0

### 모델 평가하기

In [57]:
from sklearn.metrics import r2_score

- 1번째 모델 평가지표 결과

In [58]:
print(r2_score(Y_TEST, Y_TEST_PREDICTED))

0.9044130641900863

- 2번째 모델 평가지표 결과

In [62]:
Y_TEST_PREDICTED2 = pd.DataFrame(model2.predict(X_TEST)).rename(columns={0:'count'})
Y_TEST_PREDICTED2[Y_TEST_PREDICTED2['count'] < 0] = 0

In [63]:
print(r2_score(Y_TEST, Y_TEST_PREDICTED2))

0.9381182890431057

# 4. 결과 제출하기

In [64]:
print(pd.concat([x_test_datetime, y_test_predicted], axis=1))

                datetime       count
0    2011-01-20 00:00:00    2.139193
1    2011-01-20 01:00:00    0.979986
2    2011-01-20 02:00:00    0.000000
3    2011-01-20 03:00:00    0.000000
4    2011-01-20 04:00:00    0.000000
...                  ...         ...
6488 2012-12-31 19:00:00  227.424484
6489 2012-12-31 20:00:00  146.583008
6490 2012-12-31 21:00:00  116.128029
6491 2012-12-31 22:00:00   95.260033
6492 2012-12-31 23:00:00   60.184326

[6493 rows x 2 columns]

In [65]:
final = pd.concat([x_test_datetime, y_test_predicted], axis=1)
final.to_csv('20220113.csv', index=False)

In [68]:
x_train = pd.read_csv('bike_x_train.csv', encoding='cp949')
x_test = pd.read_csv('bike_x_test.csv', encoding='cp949')
y_train = pd.read_csv('bike_y_train.csv', encoding='cp949')

y_train.columns = ['datetime', 'count']

          datetime  count
0  2011-01-01 0:00     16
1  2011-01-01 1:00     40
2  2011-01-01 2:00     32
3  2011-01-01 3:00     13
4  2011-01-01 4:00      1

In [71]:
# 데이터 가져오기
import pandas as pd
x_train = pd.read_csv('bike_x_train.csv', encoding='cp949')
x_test = pd.read_csv('bike_x_test.csv', encoding='cp949')
y_train = pd.read_csv('bike_y_train.csv', encoding='cp949')
y_train.columns = ['datetime', 'count']

# 전처리하기
x_train['datetime'] = pd.to_datetime(x_train['datetime'])
x_train['year'] = x_train['datetime'].dt.year
x_train['hour'] = x_train['datetime'].dt.hour
x_test['datetime'] = pd.to_datetime(x_test['datetime'])
x_test['year'] = x_test['datetime'].dt.year
x_test['hour'] = x_test['datetime'].dt.hour
x_test_datetime = x_test['datetime']
x_train = x_train.drop(columns = ['datetime'])
x_test = x_test.drop(columns = ['datetime'])
y_train = y_train.drop(columns = ['datetime'])

# 데이터 분리하기
from sklearn.model_selection import train_test_split
X_TRAIN, X_TEST, Y_TRAIN, Y_TEST = train_test_split(x_train, y_train, test_size=0.2, random_state=10)

# 모델을 학습하고 테스트 데이터의 종속변수 값을 예측하기
from xgboost import XGBRegressor
model = XGBRegressor(n_estimators = 200, max_depth = 5, random_state = 10)
model.fit(X_TRAIN, Y_TRAIN)
y_test_predicted = pd.DataFrame(model.predict(x_test)).rename(columns={0:'count'})
y_test_predicted[y_test_predicted['count']<0] = 0
Y_TEST_PREDICTED = pd.DataFrame(model.predict(X_TEST)).rename(columns={0:'count'})
Y_TEST_PREDICTED[Y_TEST_PREDICTED['count']<0] = 0

# 모델 평가하기
from sklearn.metrics import r2_score
print(r2_score(Y_TEST, Y_TEST_PREDICTED))

# 결과 제출하기
final = pd.concat([x_test_datetime, y_test_predicted], axis=1)
final.to_csv('20220113.csv', index=False)

0.9381182890431057