## 데이터프레임에 함수 적용하기

### 데이터 핸들링 실전 연습

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_off = pd.read_csv('../../data/6.세종시_오피스텔(매매)_실거래가.csv')
df_apt= pd.read_csv('../../data/7.세종시_아파트(전월세)_실거래가.csv')

In [3]:
df_off.head()

,계약년월,계약일,시군구,본번,부번,단지명,전용면적(㎡),거래금액(만원),층,건축년도,해제사유발생일
0,201701,4,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,000",14,2014,NaN
1,201701,6,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,500",11,2014,NaN
2,201702,5,세종특별자치시 나성동,713,0,세진이너스빌,34.15,"13,000",8,2013,NaN
3,201702,7,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,500",4,2014,NaN
4,201702,7,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,000",4,2014,NaN

In [4]:
df_apt.head()

,Unnamed: 0,계약년월,계약일,시군구,본번,부번,단지명,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,건축년도
0,0,201701,13,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,10000,0,13,2015
1,1,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,18000,0,19,2015
2,2,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,59.8338,17000,0,10,2015
3,3,201701,15,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,17000,0,2,2015
4,4,201702,4,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),월세,84.9895,10000,30,13,2015

In [5]:
pd.Series(df_off['전용면적(㎡)'].unique()).isin(pd.Series((df_apt['전용면적(㎡)'].unique())))

0     False
1      True
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42     True
43    False
dtype: bool

In [6]:
df_off = df_off[["계약년월","전용면적(㎡)","거래금액(만원)"]]
df_off

       계약년월  전용면적(㎡) 거래금액(만원)
0    201701    23.74    9,000
1    201701    23.74    9,500
2    201702    34.15   13,000
3    201702    23.74    9,500
4    201702    23.74    9,000
..      ...      ...      ...
340  202012    26.18   16,410
341  202012    24.22    8,600
342  202012    26.18   15,340
343  202012    30.48   11,500
344  202012    44.84   15,600

[345 rows x 3 columns]

In [7]:
df_off.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345 entries, 0 to 344
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   계약년월      345 non-null    int64
 1   전용면적(㎡)   345 non-null    float64
 2   거래금액(만원)  345 non-null    object
dtypes: float64(1), int64(1), object(1)
memory usage: 8.2+ KB

In [8]:
df_off['거래금액(만원)'] = df_off['거래금액(만원)'].str.replace(",","")

In [9]:
df_off['거래금액(만원)'] = df_off['거래금액(만원)'].astype(int)

In [10]:
df_off = df_off.groupby(['계약년월','전용면적(㎡)']).mean().reset_index()

In [11]:
df_apt = df_apt[df_apt['전월세구분']=='전세']

In [12]:
df_apt = df_apt[["계약년월","전용면적(㎡)","보증금(만원)"]]
df_apt

         계약년월   전용면적(㎡)  보증금(만원)
0      201701   84.9895    10000
1      201701   84.9895    18000
2      201701   59.8338    17000
3      201701   84.9895    17000
5      201702   84.9895    19000
...       ...       ...      ...
38887  202011  102.8300    35000
38888  202011   84.9500    30000
38889  202011   84.9500    34000
38892  202012   84.9500    30000
38893  202012   84.9500    34000

[26935 rows x 3 columns]

In [13]:
df_apt.groupby

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26935 entries, 0 to 38893
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   계약년월     26935 non-null  int64
 1   전용면적(㎡)  26935 non-null  float64
 2   보증금(만원)  26935 non-null  int64
dtypes: float64(1), int64(2)
memory usage: 841.7 KB

In [9]:
pd.merge(df_off,df_apt,how="inner",on=["계약년월","전용면적(㎡)"])

     계약년월  전용면적(㎡) 거래금액(만원)  보증금(만원)
0  202011    24.12    8,200     8925
1  202011    24.12    8,200    10500
2  202011    24.12    8,200    10000

In [10]:
df_sejong[['전용면적(㎡)','보증금(만원)']]

NameError: name 'df_sejong' is not defined

### 행 또는 열 방향으로 주어진 함수를 한 번에 적용 : apply

In [ ]:
df_sejong.loc[0,'전용면적(㎡)'] = 11000

In [ ]:
df_sejong[['전용면적(㎡)','보증금(만원)']]

In [ ]:
df_sejong['new_col'] = df_sejong[df_sejong['전용면적(㎡)'] < df_sejong['보증금(만원)']]['보증금(만원)']

In [ ]:
non_index = df_sejong[df_sejong['전용면적(㎡)'] >= df_sejong['보증금(만원)']]['보증금(만원)'].index

In [ ]:
df_sejong.loc[non_index,'new_col'] = df_sejong[df_sejong['전용면적(㎡)'] >= df_sejong['보증금(만원)']]['전용면적(㎡)']

In [ ]:
df_sejong

In [ ]:
## 열 방향일때는 그냥 집계함수를 쓰면 되지만 행방향 비교일 때는 apply가 훨씬 편하다 
df_sejong[['전용면적(㎡)','보증금(만원)']].apply(np.max,axis= 1)

### 데이터 내부 각 요소를 처리하는 함수 만들기 
    data['col_name'] = data['col_name'].map(lambda x:x.func(), na_action = 'ignore') 
    
    세부 설명 
    1) lambda는 간단한 함수 개념 
    2) map(lambda)를 사용할 때에는 시리즈 형식이어야 함 . 
    3) map은 원소 접근이어햐 함 (시리즈)  1:1 매핑  대체 원소 -> 원소.func()

In [ ]:
## lambda는 간단한 함수 개념
temp_list = [1,2,3,4,5]
list(map(lambda x : x*10 , temp_list))

In [ ]:
df_sejong['시군구'].str.split(" ",expand=True)[1]

In [ ]:
df_sejong['시군구'].str.split(' ',expand =True)[1]

In [ ]:
df_sejong['시군구'].map(lambda x : x.split(' ')[1] )

In [ ]:
df_sejong['시군구'].map(lambda x : x.split(" ")[1])

In [ ]:
## map(lambda)는 원소 접근이므로 str.split이 아닌, split을 써야함 
## 판다스 접근과는 다르게 문자열 자체에 대한 접근임을 잊으면 안됨!! 
a = "세종특별자치시 고운동"
a.split(" ")

In [ ]:
df_sejong['계약년월']

In [ ]:
df_sejong['계약년월'].astype(str).str[0:4]

In [ ]:
df_sejong['계약년월'].map(lambda x : str(x)[0:4])