-----------

# 날짜 데이터 핸들링

## 날짜 데이터 다루기

날짜와 시간을 다루기 위해서는 <b>datetime</b> 모듈을 이용한다.

<b>datetime 모듈</b>
- 시간과 날짜를 표현하는 모듈


<div style="font-weight: bold; font-size: 120%; margin-left:30px"> 
    <table align="left" margin:50 font-size: 120%>
        <tr>
            <td style="text-align: left;">datetime.today()</td>
            <td style="text-align: left;">현재 날짜와 시간 산출</td>
        </tr>
        <tr>
            <td style="text-align: left;">datetime.today().year/month/day/hour</td>
            <td style="text-align: left;">현재 연도/월/일/시각 산출</td>
        </tr>
        <tr>
            <td style="text-align: left;">datetime.strptime('날짜 문자열', '포맷')</td>
            <td style="text-align: left;">문자열 데이터를 날짜 형식으로 변환</td>
        </tr>
        <tr>
            <td style="text-align: left;">datetime객체.strftime('포맷')</td>
            <td style="text-align: left;">날짜 데이터를 원하는 형식으로 변환</td>
        </tr>
    </table>
</div>

- strftime() 메서드에 사용되는 서식

<div style="font-weight: bold; font-size: 120%; margin-left:30px"> 
    <table align="left" margin:50 font-size: 120%>
        <tr>
            <td>%d</td><td style="text-align: left;">0을 채운 10진수 표기로 날짜를 표시</td>
        </tr>
        <tr>
            <td>%m</td><td style="text-align: left;">0을 채운 10진수 표기로 월을 표시</td>
        </tr>
        <tr>
            <td>%y</td><td style="text-align: left;">0을 채운 10진수 표기로 2자리 년도</td>
        </tr>
        <tr>
            <td>%Y</td><td style="text-align: left;">0을 채운 10진수 표기로 4자리 년도</td>
        </tr>
        <tr>
            <td>%H</td><td style="text-align: left;">0을 채운 10진수 표기로 시간 (24시간 표기)</td>
        </tr>
        <tr>
            <td>%I</td><td style="text-align: left;">0을 채운 10진수 표기로 시간 (12시간 표기)</td>
        </tr>
        <tr>
            <td>%M</td><td style="text-align: left;">0을 채운 10진수 표기로 분</td>
        </tr>
        <tr>
            <td>%S</td><td style="text-align: left;">0을 채운 10진수 표기로 초</td>
        </tr>
        <tr>
            <td>%f</td><td style="text-align: left;">0을 채운 10진수 표기로 마이크로 초 (6자리)</td>
        </tr>
        <tr>
            <td>%A</td><td style="text-align: left;">locale 요일</td>
        </tr>
        <tr>
            <td>%a</td><td style="text-align: left;">locale 요일 (단축 표기)</td>
        </tr>
        <tr>
            <td>%B</td><td style="text-align: left;">locale 월</td>
        </tr>
        <tr>
            <td>%b</td><td style="text-align: left;">locale 월 (단축 표기)</td>
        </tr>
        <tr>
            <td>%j</td><td style="text-align: left;">0을 채운 10진수 표기로 년 중 몇 번째 일인지 표시 </td>
        </tr>
        <tr>
            <td>%U</td><td style="text-align: left;">0을 채운 10진수 표기로 년중 몇 번째 주인지 표시 (일요일 시작 기준)</td>
        </tr>
        <tr>
            <td>%W</td><td style="text-align: left;">0을 채운 10진수 표기로 년중 몇 번째 주인지 표시 (월요일 시작 기준)</td>
        </tr>
    </table>
</div>

<b>[예제]</b>

현재 날짜와 시간 데이터를 생성하고, 각각 다른 변수에 저장하여 데이터 형식을 확인하라

In [14]:
datetime.today().second

9

In [29]:
from datetime import datetime
from datetime import timedelta

today = datetime.today().strftime('%Y-  dwd   %m  -dwd %d')
print("today :", today)
print("today 변수 type :", type(today),'\n')

todaytime = datetime.today().strftime('%Y-%m-%d %H:%M:%S')
print("todaytime :", todaytime)
print("todaytime 변수 type :", type(todaytime))

today : 2021-  dwd   10  -dwd 05
today 변수 type : <class 'str'>

todaytime : 2021-10-05 20:46:18
todaytime 변수 type : <class 'str'>

In [34]:
todaytime = todaytime.split(" ")[0]

<b>[예제]</b>

문자열 데이터를 다시 날짜 형식으로 변환하자

In [35]:
datetime.strptime(todaytime, '%Y-%m-%d')

datetime.datetime(2021, 10, 5, 0, 0)

<b>[예제]</b>

현재 시간을 구하고 이를 time 변수에 저장하라

현재 시간의 연/월/일/시간/요일을 구하라

In [36]:
time = datetime.today()

print("연도 :", time.strftime('%Y'), "&", time.year)
print("월 :", time.strftime('%m'), "&", time.month)
print("일 :", time.strftime('%d'), "&", time.day)
print("시간 :", time.strftime('%H'), "&", time.hour)
print("요일 :", time.strftime('%A'), "&", time.weekday())

연도 : 2021 & 2021
월 : 10 & 10
일 : 05 & 5
시간 : 20 & 20
요일 : Tuesday & 1

## 날짜 데이터의 연산

> datetime.timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0)

- 두 날짜와 시간 사이의 차이를 계산할 때 사용함

<br>

<b>[예제]</b>

현재 날짜로부터 100일 후의 날짜를 구하라

In [39]:
timedelta(days=100)

datetime.timedelta(100)

In [40]:
from datetime import timedelta

time = datetime.today()
print(time + timedelta(days=100)) # 날짜형
print((time - timedelta(days=100)).strftime('%Y-%m-%d %H:%M:%S')) # 문자열

2022-01-13 20:50:15.186612
2021-06-27 20:50:15

## 데이터프레임 날짜 데이터 핸들링

### 문자열 => 날짜데이터로 변환
    
      pd.to_datetime(df['컬럼명'], format = "%Y%m%d")

In [41]:
import pandas as pd 

df = pd.read_csv("../data/구매내역.csv")

In [42]:
df_pur = df
df_pur

    datetime  purchase
0   20140627     30000
1   20140711     15000
2   20140707     20000
3   20140711     25000
4   20150120     30000
5   20140707     60000
6   20140708    150000
7   20160623     20000
8   20170515    265000
9   20140710     26800
10  20140704      1800
11  20140708     18600
12  20140709     15000
13  20140710     26050

In [43]:
df_pur.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  14 non-null     int64
 1   purchase  14 non-null     int64
dtypes: int64(2)
memory usage: 352.0 bytes

In [56]:
## int => str 형식으로 변환 
df_pur['datetime'] = df_pur['datetime'].astype(str)

In [58]:
## datetime으로 형변환 
df_pur['datetime'] = pd.to_datetime(df_pur['datetime'], format = "%Y%m%d")

In [24]:
df_pur.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  14 non-null     datetime64[ns]
 1   purchase  14 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 352.0 bytes

### 날짜데이터 => 문자열로 변환
    timeSeries.dt.strftime("%Y-%m-%d")

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  14 non-null     datetime64[ns]
 1   purchase  14 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 352.0 bytes

In [27]:
df['datetime'].dt.strftime("%Y-%m-%d")

0     2014-06-27
1     2014-07-11
2     2014-07-07
3     2014-07-11
4     2015-01-20
5     2014-07-07
6     2014-07-08
7     2016-06-23
8     2017-05-15
9     2014-07-10
10    2014-07-04
11    2014-07-08
12    2014-07-09
13    2014-07-10
Name: datetime, dtype: object

In [28]:
df['datetime'].dt.strftime("%m-%d")

0     06-27
1     07-11
2     07-07
3     07-11
4     01-20
5     07-07
6     07-08
7     06-23
8     05-15
9     07-10
10    07-04
11    07-08
12    07-09
13    07-10
Name: datetime, dtype: object

### Map(lambda) 사용

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  14 non-null     datetime64[ns]
 1   purchase  14 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 352.0 bytes

In [73]:
df['datetime'].map(lambda x :x.strftime("%Y"))

0     2014
1     2014
2     2014
3     2014
4     2015
5     2014
6     2014
7     2016
8     2017
9     2014
10    2014
11    2014
12    2014
13    2014
Name: datetime, dtype: object