-----------

## 날짜 데이터 핸들링

### 날짜 데이터 다루기

날짜와 시간을 다루기 위해서는 <b>datetime</b> 모듈을 이용한다.

##### datetime 모듈
- 시간과 날짜를 표현하는 모듈


<div style="font-weight: bold; font-size: 120%; margin-left:30px"> 
    <table align="left" margin:50 font-size: 120%>
        <tr>
            <td style="text-align: left;">datetime.today()</td>
            <td style="text-align: left;">현재 날짜와 시간 산출</td>
        </tr>
        <tr>
            <td style="text-align: left;">datetime.today().year/month/day/hour</td>
            <td style="text-align: left;">현재 연도/월/일/시각 산출</td>
        </tr>
        <tr>
            <td style="text-align: left;">datetime.strptime('날짜 문자열', '포맷')</td>
            <td style="text-align: left;">문자열 데이터를 날짜 형식으로 변환</td>
        </tr>
        <tr>
            <td style="text-align: left;">datetime객체.strftime('포맷')</td>
            <td style="text-align: left;">날짜 데이터를 원하는 형식으로 변환</td>
        </tr>
    </table>
</div>

- strftime() 메서드에 사용되는 서식

<div style="font-weight: bold; font-size: 120%; margin-left:30px"> 
    <table align="left" margin:50 font-size: 120%>
        <tr>
            <td>%d</td><td style="text-align: left;">0을 채운 10진수 표기로 날짜를 표시</td>
        </tr>
        <tr>
            <td>%m</td><td style="text-align: left;">0을 채운 10진수 표기로 월을 표시</td>
        </tr>
        <tr>
            <td>%y</td><td style="text-align: left;">0을 채운 10진수 표기로 2자리 년도</td>
        </tr>
        <tr>
            <td>%Y</td><td style="text-align: left;">0을 채운 10진수 표기로 4자리 년도</td>
        </tr>
        <tr>
            <td>%H</td><td style="text-align: left;">0을 채운 10진수 표기로 시간 (24시간 표기)</td>
        </tr>
        <tr>
            <td>%I</td><td style="text-align: left;">0을 채운 10진수 표기로 시간 (12시간 표기)</td>
        </tr>
        <tr>
            <td>%M</td><td style="text-align: left;">0을 채운 10진수 표기로 분</td>
        </tr>
        <tr>
            <td>%S</td><td style="text-align: left;">0을 채운 10진수 표기로 초</td>
        </tr>
        <tr>
            <td>%f</td><td style="text-align: left;">0을 채운 10진수 표기로 마이크로 초 (6자리)</td>
        </tr>
        <tr>
            <td>%A</td><td style="text-align: left;">locale 요일</td>
        </tr>
        <tr>
            <td>%a</td><td style="text-align: left;">locale 요일 (단축 표기)</td>
        </tr>
        <tr>
            <td>%B</td><td style="text-align: left;">locale 월</td>
        </tr>
        <tr>
            <td>%b</td><td style="text-align: left;">locale 월 (단축 표기)</td>
        </tr>
        <tr>
            <td>%j</td><td style="text-align: left;">0을 채운 10진수 표기로 년 중 몇 번째 일인지 표시 </td>
        </tr>
        <tr>
            <td>%U</td><td style="text-align: left;">0을 채운 10진수 표기로 년중 몇 번째 주인지 표시 (일요일 시작 기준)</td>
        </tr>
        <tr>
            <td>%W</td><td style="text-align: left;">0을 채운 10진수 표기로 년중 몇 번째 주인지 표시 (월요일 시작 기준)</td>
        </tr>
    </table>
</div>

<b>[예제]</b>

현재 날짜와 시간 데이터를 생성하고, 각각 다른 변수에 저장하여 데이터 형식을 확인하라

In [1]:
from datetime import datetime

today = datetime.today().strftime('%Y-%m-%d')
print("today :", today)
print("today 변수 type :", type(today),'\n')

todaytime = datetime.today().strftime('%Y-%m-%d %H:%M:%S')
print("todaytime :", todaytime)
print("todaytime 변수 type :", type(todaytime))

today : 2021-09-27
today 변수 type : <class 'str'>

todaytime : 2021-09-27 17:32:47
todaytime 변수 type : <class 'str'>

<b>[예제]</b>

문자열 데이터를 다시 날짜 형식으로 변환하자

In [2]:
datetime.strptime(todaytime, '%Y-%m-%d %H:%M:%S')

datetime.datetime(2021, 9, 27, 17, 32, 47)

<b>[예제]</b>

현재 시간을 구하고 이를 time 변수에 저장하라

현재 시간의 연/월/일/시간/요일을 구하라

In [3]:
time = datetime.today()

print("연도 :", time.strftime('%Y'), "&", time.year)
print("월 :", time.strftime('%m'), "&", time.month)
print("일 :", time.strftime('%d'), "&", time.day)
print("시간 :", time.strftime('%H'), "&", time.hour)
print("요일 :", time.strftime('%A'), "&", time.weekday())

연도 : 2021 & 2021
월 : 09 & 9
일 : 27 & 27
시간 : 17 & 17
요일 : Monday & 0

#### 날짜 데이터의 연산

> datetime.timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0)

- 두 날짜와 시간 사이의 차이를 계산할 때 사용함

<br>

<b>[예제]</b>

현재 날짜로부터 100일 후의 날짜를 구하라

In [4]:
from datetime import timedelta

time = datetime.today()
print(time + timedelta(days=100)) # 날짜형
print((time - timedelta(days=100)).strftime('%Y-%m-%d %H:%M:%S')) # 문자열

2022-01-05 17:32:47.520818
2021-06-19 17:32:47

### 데이터 프레임 날짜데이터 변환 
    pd.to_datetime(df['컬럼명'], format = "%Y%m%d")

In [5]:
import pandas as pd 

df = pd.read_csv("구매내역.csv")

In [6]:
df

    datetime  purchase
0   20140627     30000
1   20140711     15000
2   20140707     20000
3   20140711     25000
4   20150120     30000
5   20140707     60000
6   20140708    150000
7   20160623     20000
8   20170515    265000
9   20140710     26800
10  20140704      1800
11  20140708     18600
12  20140709     15000
13  20140710     26050

In [7]:
df_pur = df

In [8]:
df_pur.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  14 non-null     int64
 1   purchase  14 non-null     int64
dtypes: int64(2)
memory usage: 352.0 bytes

In [9]:
## int => str 형식으로 변환 
df_pur['datetime'] = df_pur['datetime'].astype(str)

In [10]:
## datetime으로 형변환 
df_pur['datetime'] = pd.to_datetime(df_pur['datetime'], format = "%Y-%m-%d")

In [11]:
df_pur

     datetime  purchase
0  2014-06-27     30000
1  2014-07-11     15000
2  2014-07-07     20000
3  2014-07-11     25000
4  2015-01-20     30000
5  2014-07-07     60000
6  2014-07-08    150000
7  2016-06-23     20000
8  2017-05-15    265000
9  2014-07-10     26800
10 2014-07-04      1800
11 2014-07-08     18600
12 2014-07-09     15000
13 2014-07-10     26050

In [12]:
df_pur['datetime'] - timedelta(days=100)

0    2014-03-19
1    2014-04-02
2    2014-03-29
3    2014-04-02
4    2014-10-12
5    2014-03-29
6    2014-03-30
7    2016-03-15
8    2017-02-04
9    2014-04-01
10   2014-03-26
11   2014-03-30
12   2014-03-31
13   2014-04-01
Name: datetime, dtype: datetime64[ns]

In [13]:
time

datetime.datetime(2021, 9, 27, 17, 32, 47, 520818)

In [14]:
time - df_pur['datetime']

0    2649 days 17:32:47.520818
1    2635 days 17:32:47.520818
2    2639 days 17:32:47.520818
3    2635 days 17:32:47.520818
4    2442 days 17:32:47.520818
5    2639 days 17:32:47.520818
6    2638 days 17:32:47.520818
7    1922 days 17:32:47.520818
8    1596 days 17:32:47.520818
9    2636 days 17:32:47.520818
10   2642 days 17:32:47.520818
11   2638 days 17:32:47.520818
12   2637 days 17:32:47.520818
13   2636 days 17:32:47.520818
Name: datetime, dtype: timedelta64[ns]

In [15]:
df['datetime'] = df['datetime'].astype(str)

In [24]:
pd.to_datetime(df['datetime']).dt.strftime("%Y")

0     2014
1     2014
2     2014
3     2014
4     2015
5     2014
6     2014
7     2016
8     2017
9     2014
10    2014
11    2014
12    2014
13    2014
Name: datetime, dtype: object

In [25]:
pd.to_datetime(df['datetime']).dt.strftime("%m")

0     06
1     07
2     07
3     07
4     01
5     07
6     07
7     06
8     05
9     07
10    07
11    07
12    07
13    07
Name: datetime, dtype: object